[2018-08-08 09:40] rkclark opened #787 "Configurable viewport sizes for the viewport view"
### What's up?

In the viewport view you can select from some preset sizes, such as Medium, Large, 1080p, etc. It would be useful these could be configured so that you could create presets that match the major design breakpoints (or target device sizes) for your project.

### Mkay, tell me more...

You could specify the desired viewport presets in the cosmos config file.

Thanks for making Cosmos,

[2018-08-08 10:08] skidding commented on #787
Hi @rkclark,

They are configurable, I just didn't get to documenting it yet. Let me know if the following works.

[code]

Note that this overrides all the default devices, so here's the original list in case you want to extend it:

[code]

[2018-08-08 10:42] rkclark commented on #787
@skidding Brilliant, thank you!

[2018-08-08 10:42] #787 closed

[2018-08-09 06:57] rkclark opened #789 "Fullscreen keyboard shortcut"
Hey there,

Is there a keyboard shortcut to enter/exit full screen mode? Once I'm in fullscreen mode, I can't get out without setting fullscreen to false in the URL.

Sorry if I've missed it in the docs!

PS: I replaced Storybook with Cosmos in my team's front end app and everyone is loving it. Thanks for making it!

Cheers

[2018-08-09 07:14] skidding commented on #789
🎉

At the moment you can only go back using the browser back button.

The only keyboard shortcuts at the moment are "s" and "escape" to focus/blur the fixture search box on the left. Adding another shortcut for full screen would be easy, but there is a catch.

The component renders in an iframe, and shortcuts are captured outside the iframe. When you go full screen, as soon as you click or focus o

[2018-08-09 07:28] rkclark commented on #789
Hmm I've never worked with iframes to be honest so not an area where I can offer much expertise unfortunately.

Can you position a browser element over an iframe? If so a non-intrusive exit (X) button could be added in one of the corners to allow the user to exit fullscreen with a mouse click. I realise that it would be preferable to not obstruct any of the screen when the user is viewing their co

[2018-08-09 07:37] skidding commented on #789
An overlapping button is also an option. As well as a thin side bar on the left with a few key controls, similar to how most apps "minimize" their left nav.

I'll leave this thread open and we should pursue one of these options at some point in the future. But for now I hope the back button is something you can work with.

[2018-08-09 07:52] rkclark commented on #789
I'd try to avoid a left bar as usually when I go into fullscreen mode its to totally control the viewport width to test my component's responsiveness - guess it may be the same for others!

Sure no worries! If I can make some contributions in the future I will do. Kinda busy with my own open source project atm!

[2018-08-09 08:07] skidding commented on #789
Have you tried the lastest responsive controls added in Cosmos 4.6?

[2018-08-09 12:17] rkclark commented on #789
I'm on 4.6.4, which ones do you mean?

[2018-08-09 12:39] skidding commented on #789
I mean the feature mentioned in the 2nd part of [this article.](https://medium.com/@skidding/cosmos-4-6-a-minor-version-with-major-updates-27654de7f0c8)

I'm wondering if going full screen offers responsive capabilities not provided by the responsive controls available.

[2018-08-09 13:16] rkclark commented on #789
@skidding Yeah so that feature is really useful, and I use it to target the main breakpoints in my project. However, I then switch to full screen mode to drag the viewport size in Chrome dev tools to see how my component behaves as the viewport expands/shrinks - rather than just looking at specific breakpoints. This is to check there is no weird behaviour between breakpoints.

[2018-08-09 15:53] ibrahimovfuad opened #790 "react-cosmos-playground configuration"
### What's up?

I am using react-cosmos-playground with responsive breackpoints, but i can't configure breackpoints for myself.
I think it will be good if you will add an ability to customize responsive breackpoints globally.

### Mkay, tell me more...

I think it would be nice to configure any plugin inside react-cosmos config.

[2018-08-09 16:13] skidding commented on #790
Please see https://github.com/react-cosmos/react-cosmos/issues/787#issuecomment-411355703

[2018-08-09 16:14] maxsalven commented on #789
@skidding not something I have bandwidth for at the moment, but perhaps making the responsive iframe resizable by dragging on an edge (just as if it were a window) might be a nice feature (the tab at the top would then switch to 'Custom' with live display of your iframe size whilst you're resizing it).

[2018-08-09 16:19] ibrahimovfuad commented on #790
Thanks a lot. it is worked for me.

[2018-08-09 16:19] #790 closed

[2018-08-09 16:36] skidding commented on #789
Definitely! I was thinking the same thing. Can't make any promises either but it's definitely on my radar. I also felt the need.

[2018-08-09 17:01] skidding commented on #654
Not being tracked elsewhere as far as I know, so we can keep this thread open around this topic.

I don't have much insight into Apollo, so it's not clear to me how easy it would be to integrate latency into react-cosmos-apollo-proxy. @xavczen if you have any thoughts let us know.

[2018-08-09 21:35] cbranch101 opened #791 "React devtools "Select element" can't be used with cosmos"
### What's wrong?

The fact that everything in Cosmos now renders in an iframe means that there's no way to inspect components in React DevTools, it just always points back to the iframe.  I wasn't sure if this qualified as a bug or feature request, but this is definitely a serious impediment to working with Cosmos.

### Steps to reproduce
1. Try to inspect any element in cosmos in React DevTools

[2018-08-09 23:22] FL0RIANMEYER opened #792 "Support deep nesting for fixtures in tree view"
### What's wrong?

If all the fixtures are in the same folder, there is no option to group names or namespaces
So there is a one or two layer treeview. But never through namespaces separated by chars like '/' or '\'.

### Screenshot
![image](https://user-images.githubusercontent.com/28124170/43930811-c6182c9c-9c3b-11e8-9d2d-e19531a2fc49.png)

### User info
react-cosmos@4.6.4

Would be nice to grou

[2018-08-10 00:06] terrierscript opened #793 "Browserify example is broken"
### What's wrong?

Occure error when try `example/browserify`.

### Steps to reproduce

1.  clone this repo
2.  move examples/browserify
3.  node ./server.js
4. I got error.

[code]

### User info

- Server terminal output
- Browser console output : pasted
- Cosmos version : HEAD
- If bug occurred on upgrade: Working Cosmos version
- Cosmos config
- If applicable: webpack version
- If applicable:

[2018-08-11 04:48] zach-albia commented on #791
If anyone's looking for a workaround for now, select the element in the 'Elements' tab then just jump to the 'React' tabs in chrome dev tools. That way, the element I selected gets selected in react dev tools as well.

[2018-08-11 05:02] zach-albia opened #795 "A next.js/typescript/react-cosmos example"
### What's up?

While adding react-cosmos to a new typescript next.js project, I've had to remove TS just to get cosmos to play nicely and run at all. I'd like to be able to return to using TS and a minimal example integrating all three would be immensely useful.

### Mkay, tell me more...

From what I've read, react-cosmos uses userland webpack and babel config. I'm not a config expert. What I'm

[2018-08-11 08:58] zach-albia commented on #795
Ok, I [got it to work](https://github.com/zach-albia/with-typescript-react-cosmos/commit/e8478155f7ba630d27ab1025acbea45b741cf098) by configuring cosmos to use its _own_ webpack config _separate_ from next.js. I took a page out of #767's config.

[2018-08-11 08:58] #795 closed

[2018-08-12 00:26] jeffal opened #797 "Provide/modify component props via query parameters"
Allow users to provide and modify component props via query parameters. This assists automated regression testing via [Cypress](https://www.cypress.io/).

Is this possible via https://github.com/react-cosmos/react-cosmos/tree/master/packages/react-querystring-router? I have been unable to implement the provided examples.

[2018-08-12 09:30] xavczen commented on #654
That seems doable! I imagine we could wrap [this block (code)](https://github.com/react-cosmos/react-cosmos/blob/master/packages/react-cosmos-apollo-proxy/src/fixtureLink.js#L39-L58) with a `setTimeout` whose value would be configured in the fixture!

I'm going to look into it this week 👍

[2018-08-13 09:49] skidding commented on #791
As @zach-albia pointed out, this is also the flow I generally use. For some reason selecting a DOM element sometimes doesn't get selected in the React panel, but usually the 2nd time it does.

![cosmos-react-devtools](https://user-images.githubusercontent.com/250750/44022893-a04087b8-9ef1-11e8-85e7-9a06fd424c22.gif)

Alternatively, it is recommended to use the [standalone react-devtools](https://g

[2018-08-13 10:01] skidding commented on #792
The problem is that currently the TreeView only supports one level of nesting for fixtures. Components on the other hand support an infinite level of nesting.

Example:

A component named `MyComp` with namespace `/path/to/comp` will appear like this in the tree view
[code]

But a fixture named `myFixture` with namespace `/path/to/fixture` will appear like this in the tree view
[code]

I'll repurpo

[2018-08-13 10:18] skidding commented on #795
@zach-albia Happy to hear you made it work!

I've also got better results from _not_ using Next's webpack config in Cosmos. The Next.js example doesn't use `webpackConfigPath` and as a matter of fact I don't even know how to import Next's webpack config.

Anyway, is there anything we can add to the README to save people from digging on their own in the future? Maybe the `resolve.extensions` bit. I

[2018-08-13 10:26] skidding commented on #797
Wow, the docs on `react-querystring-router` are _old_. You do set the props via URL query string, but the props of the Cosmos UI—which is also a component, not of the component you load—which is rendered remotely in an iframe.

It wouldn't be that useful either as many prop values can't be serialized.

There are undocumented ways to remotely control the fixture, because this is how Cosmos works un

[2018-08-13 10:30] #793 closed

[2018-08-13 10:31] skidding commented on #793
@terrierscript Sorry about that! I've fixed the example in #798.

Please try again on the latest master branch, and make sure to follow the [special instructions for the Browserify example](https://github.com/react-cosmos/react-cosmos/blob/9cbe76fa83a29a2790ae62ee2adca16f6fd6db7e/examples/browserify/README.md).

![cosmos-browserify](https://user-images.githubusercontent.com/250750/44026776-e25a388

[2018-08-13 13:10] dpehrson commented on #654
@xavczen Excellent, would it be possible to set the timeout to something like `-1` which would indicate "never resolve"? The hope is for us to create a fixture that explicitly shows the loading state indefinitely so QA can do design acceptance on that state.

[2018-08-13 14:33] cbranch101 commented on #791
Awesome, this is a great workaround, thanks guys!

[2018-08-13 14:33] #791 closed

[2018-08-13 14:51] jeffal commented on #797
Hi @skidding, I am going to try dynamically modifying the Cosmos Code Mirror input via Cypress, otherwise, will create fixtures for all prop combinations. Thank you for the quick response!

[2018-08-13 14:51] #797 closed

[2018-08-14 04:34] xavczen commented on #783
Interesting question! 🤔

The fixture value will never change, it may help to consider it as a description of what Apollo Client should give as a result of a query/mutation.

What will change is the cache (👍) and the props received by your component if they depend on some query / mutation result.

If you really need to read from the cache directly, you could try to find the `ApolloProvider` in the

[2018-08-14 04:34] #783 closed

[2018-08-14 04:55] nickluger commented on #654
If the fake resolver would be awaited as an `async` function, no separate latency-API would be necessary, as one could just timeout it.

[code]

Is that possible?

[2018-08-14 05:15] xavczen commented on #654
@nickluger Yep that's possible, `resolveWith` can be resolved as a promise

[2018-08-14 06:31] zach-albia commented on #795
@skidding Yeah, that was my line of thinking as well. I've scrounged around next.js' docs many times for it but came up with nothing every time.

At any rate, I don't see the `resolve.extensions` part of README but we can probably start adding a dedicated TypeScript section like you said. I'm thinking we can add subsections for create-react-app-typescript, TypeScript-React-Starter and a next-js-ty

[2018-08-14 06:49] jeznag commented on #783
Thanks for the tips. Here's what I came up with: https://medium.com/energylinkapp/testing-graphql-mutations-using-apollo-cosmos-becab1ea9ac9

[2018-08-15 11:25] Rhagaer commented on #795
Hey guys I used #767 webpack config in my react typescript project. But webpack can't seem to handle jpg's
`ERROR in ./src/assets/img/as-featured-in/uct.png
Module parse failed: Unexpected character '�' (1:0)
You may need an appropriate loader to handle this file type`

Nor anything to do with graphql
`ERROR in ./src/apollo/queries/getNotifications.gql
Module parse failed: Unexpected token (1:6)
Y

[2018-08-15 14:32] skidding commented on #795
@Rhagaer you need to add these two loaders to your webpack config as well:

- https://github.com/vanwagonet/img-loader#usage
- https://github.com/smitt04/gql-loader#config

[2018-08-16 05:59] #654 closed

[2018-08-16 18:14] xavczen commented on #783
Wow, awesome!

[2018-08-16 20:35] skidding commented on #786
Stopping here before this issue sucks too much time from me. Left Apollo proxy in the monorepo for now.

Moving to CircleCI sped up the CI a lot, and locally yarn installs faster without the whole Expo baggage. Cleaned up Jest and ESLint configs and merged two heavy tests. I'm happy for now.

On to features!

[2018-08-16 20:35] #786 closed

[2018-08-17 06:30] ibrahimovfuad opened #805 "Playground doesn't scale correctly in fullscreen mode"
### What's up?

When i use react-cosmos in fullscreen mode and mobile device emulation in chrome is enabled, playground doesn't scale correctly.

### Mkay, tell me more...

The solution is in adding this META-tag to the head section of your index.html.
`<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">`

[2018-08-17 09:08] skidding commented on #805
Hi @ibrahimovfuad,

Components are loaded in an iframe to isolate from the Cosmos UI, and that's why mobile device emulation doesn't work as expected. Did you try the built in responsive controls in Cosmos?

[2018-08-17 09:26] ibrahimovfuad commented on #805
Hi @skidding
I mean the problem is in the mobile chrome emulation in full screen mode.
See how i fixed it on screenshots below.

Without meta tag
![without-meta-tag](https://user-images.githubusercontent.com/10096764/44258719-4d06b480-a218-11e8-9818-a7c262339dc4.PNG)

With meta tag
![with-meta-tag](https://user-images.githubusercontent.com/10096764/44258718-4d06b480-a218-11e8-9a68-7030443de84d.PNG

[2018-08-17 10:47] skidding commented on #805
Hmm, I think you're right. I didn't think this would work given that the component renders in an iframe. My bad.

This should be easy to add. [This is where it should be added](https://github.com/react-cosmos/react-cosmos/blob/5beaa1ddbd1db42344b968fe9304adb7e10df749/packages/react-cosmos/src/server/shared/static/index.html). Feel free to open a PR.

In what situations is `shrink-to-fit` useful? I

[2018-08-17 11:11] ibrahimovfuad commented on #805
@skidding , [Here](https://stackoverflow.com/questions/33767533/what-does-the-shrink-to-fit-viewport-meta-attribute-do) you can find extended explanation of `shrink-to-fit` usage.

[2018-08-17 12:17] ibrahimovfuad commented on #805
I don't have permission to push in react-cosmos repository

[2018-08-17 12:19] skidding commented on #805
You can create a pull request from a fork https://guides.github.com/activities/forking/

[2018-08-17 22:45] ProLoser opened #808 "Question: How do I alias react-native to react-native-web"
I'm trying to generate documentation for my RN library.

I don't want to setup cosmos-native right now since this is not a standard native project.

I'm just trying to figure out an easy way to alias `react-native` to `react-native-web` when using cosmos. I'm trying to figure out how to do it with `cosmos.config.js` but this seems like I'll have to push a module loader plugin with an alias propert

[2018-08-17 22:54] #808 closed

[2018-08-19 09:03] skidding commented on #654
Released @xavczen's PR under `4.7.0-3`. Try it out!

[2018-08-19 18:32] skidding commented on #795
@zach-albia It's not on the roadmap but it would be a great addition for sure. Note that while Cosmos has a lot of Flow types, they are for internal use. The only public types here https://github.com/react-cosmos/react-cosmos/blob/master/packages/react-cosmos/index.js.flow and they should be easy to reproduce in TS (they might work as is), but I don't have experience with publishing TS types. If y

[2018-08-19 18:41] skidding commented on #783
@jeznag Thanks for the link, it was cool to read about your testing journey!

Personally, I've lately tried to keep my tests as decoupled as possible from internals. So triggering actions and checking for changes in the render output (eg. Success message is shown).

But of course the testing style depends on each type of situation and there's no single right way to do it.

[2018-08-20 03:34] zach-albia commented on #795
@skidding I actually just finished making some public-facing type declarations for Cosmos for use in my project based off of your flow typings. I also have typings for some out-of-the-box proxies that I've used, namely redux, context, and apollo proxies. At any rate, would you rather have typings bundled with Cosmos' npm packages or have them published separately in DefinitelyTyped?

[2018-08-20 06:09] #805 closed

[2018-08-20 10:51] Rhagaer opened #811 "CSS Modules custom web pack failing"
Trying to get CSS modules working with my typescript project.
Using the config for CSS found [here](https://github.com/react-cosmos/react-cosmos/issues/631#issuecomment-376151216 ):
I get the following error

[code]

My webpack config:

[code]

Been playing around with a lot of different configs for CSS modules and none seem to work, they all yield the same issue.

Any help would be immensely appr

[2018-08-20 14:05] Rhagaer commented on #811
I don't know if I was being thick but the default cosmos settings were not working for me. So I figured I had to write my own webpack config. I read that you can use your existing webpack config only now. So fixed my problem by simply changing my cosmos.config.js to

[code]

Perhaps make that more clear in the readme to prevent a noob such as myself spending hours trying to create my own webpack c

[2018-08-20 15:03] skidding commented on #811
@Rhagaer happy to hear it worked out!

Here's the existing docs:

![image](https://user-images.githubusercontent.com/250750/44348480-36c05900-a4a3-11e8-9160-cd936922d2f8.png)

Any ideas to make it more obvious? Maybe a small code sample underneath like:

[code]

[2018-08-20 21:57] Rhagaer commented on #811
Ye I think a code sample like that would be perfect :)

[2018-08-21 09:07] skidding commented on #811
@Rhagaer If you feel like making a contribution this PR should be very easy to make! :D

[2018-08-21 09:10] skidding commented on #795
Sound great!

Whichever you think is more suited based on your experience with TS. I'm open to both.

[2018-08-22 16:59] RPDeshaies opened #812 "Add support for ParcelJS"
### What's up?

ParcelJS has more than 25K ⭐️ on github and is a fantastic library.
Right now, react cosmos supports webpack and browserify out of the box.
Adding support for ParcelJS would be fantastic because you could setup react-cosmos, without config using a "no config"  bundler !

https://github.com/parcel-bundler/parcel

### Mkay, tell me more...
I was able to make ParcelJS work with React

[2018-08-22 18:30] skidding commented on #812
@RPDeshaies Thanks for your detailed analysis!

I've been thinking about earlier today actually. :)

I'm currently deeply engaged in executing a [roadmap](https://github.com/react-cosmos/react-cosmos/blob/81623835232b2cd2d7f097ea16b4d1b9605dcc40/TODO.md). It's probably going to take another 2 months to complete and deliver the new APIs I'm working on. Afterwards I'll draft a new roadmap which will

[2018-08-22 19:58] RPDeshaies commented on #812
Always happy to help !

Hahaha nice !

That is a very good idea..
Also as a side note, thanks for this awesome project. We use it on a day to day basis at my job now.

Maybe for the time being, since those APIs are not ready, we could include more doc on how to spin up react cosmos with your own integration.

Because when you guys released the newest version of the app, I had to check the code dif

[2018-08-23 08:58] kbirulia opened #813 "IE11 maintenance"
Application doesn't work in IE11. Using of babel polyfills solve this problem. I saw it is switched off in .babelrc. As written in babel-plugin-transform-runtime documentation all boolean options are set into true by default. I propose remove transform-runtime options in order to get the same result and turn on polyfills.

[2018-08-24 06:53] skidding commented on #813
@kbirulia Can you please show me a screenshot of the error where it occurs?

As Cosmos has two separate builds (the first is built before being published on npm and the second is built using the user's configuration when running Cosmos), I'd like to understand which is the issue related to.

Thanks for your help!

[2018-08-24 07:03] skidding commented on #812
🤘

Ouch! I'll be more careful the next time I introduce a change like this!

Good idea. The only problem is I'm reshaping those building blocks at the moment and I would prefer documenting them afterwards.

Here's another idea: Since you already figured out the Parcel integration, maybe we can create a `parcel-example` repo in the [Cosmos organization](https://github.com/react-cosmos) to help peop

[2018-08-24 07:07] skidding commented on #811
Done https://github.com/react-cosmos/react-cosmos#custom-webpack-config

[2018-08-24 07:07] #811 closed

[2018-08-24 09:36] kbirulia commented on #813
This issue related to building packages on publishing, when packages dist directories is being generated. Ie11 error has little information about where errors occur. But the best way to find places, where unsupported features are used, is run build in react-cosmos with my proposal config and search by code babel-runtime/core-js. It shows polyfills imports, that is necessary for certain file.
![ima

[2018-08-24 11:27] ibrahimovfuad opened #815 "Documentation for custom plugins"
### What's up?

I need to write plugin for toggling languages for react-cosmos. So can you provide some documentation for adding custom plugins ?

[2018-08-24 20:02] skidding commented on #815
Hi @ibrahimovfuad,

At the moment you can create plugins through [Proxies](https://github.com/react-cosmos/react-cosmos#proxies). To learn how to create one, check out [the Proxy boilerplate](https://github.com/react-cosmos/react-cosmos/blob/master/CONTRIBUTING.md#proxy-boilerplate). It also mentions a few key points on how proxies work. You can ignore the Flow types from the  example.

Also relev

[2018-08-24 20:02] #815 closed

[2018-08-25 15:05] RPDeshaies commented on #812
I'm down :) It's still pretty fresh in my mind it should not take me too much time.
I'll still create a PR to have your feedback if you don't mind !

[2018-08-25 18:48] skidding commented on #812
I'm down :) It's still pretty fresh in my mind it should not take me too much time.

Nice! https://github.com/react-cosmos/parcel-example

For sure.

[2018-08-27 15:45] pungggi opened #819 "Name does not show on anonymous class with hoc"
### What's wrong?

Name does not show on anonymous class with hoc
![grafik](https://user-images.githubusercontent.com/5635709/44665889-59a8bb00-aa17-11e8-84cd-6e570b3b2ca4.png)

### Steps to reproduce

create an hoc with anonymous class like this>
![grafik](https://user-images.githubusercontent.com/5635709/44669681-d4c29f00-aa20-11e8-8443-77ee6c13e9bf.png)

cosmos-config
[code]

[2018-08-27 15:50] pungggi commented on #819
the same is true if i give a name to the class ..

![grafik](https://user-images.githubusercontent.com/5635709/44669949-abeed980-aa21-11e8-9001-ff08903cd661.png)

[2018-08-27 15:58] skidding commented on #819
Hi @pungggi,

Cosmos can only show the correct name if the hoc "forwards" the name. In other words, Cosmos only has access to the root component (and it's class name), which is what the hoc returns.

[Here's what the react-router hoc does this.](https://github.com/ReactTraining/react-router/blob/768332dbbba7707d614ba5a9d53000834038dc91/packages/react-router/modules/withRouter.js#L25)

Where does `

[2018-08-27 16:02] #813 closed

[2018-08-27 16:04] skidding commented on #813
Thanks @kbirulia!

I tested in a Window VM and could confirm your experience. I also discovered a few other small problems when working on Cosmos on Windows that I'll address shortly.

[2018-08-28 16:20] skidding commented on #813
@kbirulia This is fixed `react-cosmos@4.7.0-4` (beta release). Let me know if all's good if you have the chance.

[2018-08-29 04:48] pungggi commented on #819
More explantions found > https://reactjs.org/docs/higher-order-components.html#convention-wrap-the-display-name-for-easy-debugging

[2018-08-29 09:55] pungggi commented on #819
my implemented solution was:
![grafik](https://user-images.githubusercontent.com/5635709/44780495-5f6edf80-ab82-11e8-855e-e8ebb5a5a5a6.png)

[2018-08-29 13:07] tryggvigy opened #826 "Is there a way to provide the component name when using Wrapper Component functions?"
Hey! Nifty library. Really happy with it so far! Thanks for the hard work.

I've searched previous issues and also briefly looked at the src code without finding an answer to this:

When using a [Wrapper Component](https://github.com/react-cosmos/react-cosmos#wrapper-component)

The catalog looks like this:
![image](https://user-images.githubusercontent.com/2373958/44789421-ce593200-ab9c-11e8-8b6f

[2018-08-30 15:57] wec84 opened #828 "Unable to mock local state of Redux connected component"
### What's wrong?
I want to mock state in a fixture for a Redux-connected component. It works when my component is not connected, but when my component is connected, the state in the fixture is not applied.

### Steps to reproduce
Fixture which reproduces the issue:
[code]

### Screenshots

Observed results in cosmos ui:
![normal-component](https://user-images.githubusercontent.com/16618282/448612

[2018-08-30 16:43] skidding commented on #828
Hi @wec84,

Thank you for the elaborate response!

Unfortunately this is a known limitation (for now), so maybe we add this to the docs to inform people sooner.

The problem is this: Once you wrap a component, the instance of the inner component is no longer accessible, it's a private detail of the wrapper component, which what Cosmos receives when you have a fixture for a wrapped component.

But

[2018-08-31 03:08] jeznag opened #830 "apollo fixture not working - network request still fires"
### What's wrong?

See https://github.com/COzero/cosmos-apollo-test/blob/master/src/DataJunction/index.spec.tsx#L20

Apollo has a network error instead of using the fixture
[code]

### Steps to reproduce

https://github.com/COzero/cosmos-apollo-test/blob/master/src/DataJunction/index.spec.tsx#L20

### Screenshots

If applicable, add screenshots to help explain your problem.

### User info

- Serve

[2018-08-31 20:52] keyserfaty opened #832 "React Native integration `no fixture selected` message"
### What's wrong?
Hi! I'm trying to implement the library on a preexisting React Native app (an ejected one). I've reproduced every step in the guide and I'm getting a `no fixture selected` on the device while getting a `Waiting for a signal from your React Native build ` in the browser.

The way i'm running it is by running `react-native run-android` + `yarn run cosmos` -> `cosmos-native`. I'm al

[2018-08-31 22:57] skidding commented on #832
Hey @keyserfaty,

Did you create any fixture? And can you please share the contents of the auto-generated `cosmos.modules` file?

Thanks!

[2018-09-01 17:42] keyserfaty commented on #832
Sure:

[code]

This is the content of the fixture:
[code]

[2018-09-01 18:37] skidding commented on #832
Hmm, they both look right.

Not getting any error/weird message in either the browser console of the React Native build log?

It's likely that the React Native runtime can't connect to the browser remotely. Most of my experience is with [create-react-native-app](https://github.com/react-community/create-react-native-app) (Expo), so maybe there's a blind spot in the current Cosmos integration with

[2018-09-01 21:45] keyserfaty commented on #832
Don't know exactly where to print that out but the connection seems correct:
`ws://localhost:8989/socket.io/?EIO=3&transport=websocket&sid=-b-P0w8t8EwztTe2AAAB`

And I'm not getting any errors of connecting in the console of the playground.

[2018-09-01 22:04] skidding commented on #832
I'm not sure if it should be _localhost_, given that the Native code runs in a sandboxed environment.

I just ran [react-cosmos/create-react-native-app-example](https://github.com/react-cosmos/create-react-native-app-example) on my Android phone and the socket URL ends up being `ws://10.0.1.4:8989`.

Until we come up with a better idea, can you also try the example repo above to determine if the p

[2018-09-01 22:32] skidding commented on #832
Unfortunately I'm afraid this is outside my area of knowledge. It would be great if someone with more React Native experience could pitch in.

If you think you can obtain the IP address some other way (if indeed this is the issue), I could add an option to `CosmosNativeLoader` to pass down the URL manually.

[2018-09-03 16:05] koggdal opened #834 "Webpack errors should fail the export command"
### What's wrong?

When running the regular dev command you will see Webpack errors like `Module not found: Error: Can't resolve......`, but the export command completely hides that and from the console output it looks like a successful build.

### Steps to reproduce

_(I'm running this on latest version, 4.6.4)_

1. Introduce a bug where a file is importing another file that doesn't exist.
2. `co

[2018-09-05 09:48] xavczen commented on #830
Is this also happening in the cosmos ui for this fixture?

Is this also happening for your other fixtures?

[2018-09-05 09:52] #830 closed

[2018-09-05 12:15] xavczen commented on #826
Hey! Yeah, `displayName` is the key to this problem :+1:

You can create a separate variable for the wrapper component and assign it a `displayName`:

[code]

[2018-09-05 12:17] #826 closed

[2018-09-05 12:56] milheim opened #835 "Component path is broken in the cosmos playground tree when fixture data are generated on the fly"
### What's wrong?

Component path is broken in the cosmos playground tree when fixture data are generated on the fly.

### Steps to reproduce

I have icon component with given directory structure:
[code]
Where

`icon.config.json` is json mock data (Object[]),

`icon.component.js` is Icon component,

and

`icon.fixture.js` is Icon component fixture:
[code]
Here fixture data are generated on the fly

[2018-09-05 17:05] skidding commented on #835
You are right, this is a limitation. As you said, the namespace is inferred statically from the component file path. The static analysis done is limited and cannot understand complex dynamically-generated fixtures.

The manual `namespace` property exists as a backup plan. I see you already use it for the fixture, but note that you can also set it for the component. The entire tree path is composed

[2018-09-05 18:51] milheim commented on #835
Hello @skidding,

`namespace` looks better as temporary decision.
Thank you for sharing.

[2018-09-05 18:51] #835 closed

[2018-09-10 10:14] SinHouse commented on #828
Hi,

I thing you can use this pattern to wrap your third party HOC (the sample is for the Yahoo injectIntl HOC):
[code]

[2018-09-10 15:47] skidding commented on #834
@koggdal Turns out the examples were no longer working since upgrading to Babel 7. Maybe this is what you were experiencing it. FYI I fixed it in #839.

[2018-09-10 17:02] zedtux commented on #832
I'm also looking for this. In the case I find something, I'll update the issue.

[2018-09-10 17:03] zedtux commented on #832
BTW @keyserfaty do you know about https://github.com/jerolimov/react-native-cosmos ?

[2018-09-10 17:11] skidding commented on #832
The project hasn't been updated in 2/3 years so I doubt it still works with latest react-cosmos.

[2018-09-10 18:26] zedtux commented on #832
You are right @skidding, I was just posting it regarding the way it has been achieved, in the case a new angle of view would help here, but as I just discovered today Cosmos, I couldn't figured out if this lib was relevant or not, sorry.

[2018-09-10 19:56] skidding commented on #832
No worries! Thanks for sharing. I just wanted to throw in my 2 cents and potentially save someone headaches from using outdated stuff :D

[2018-09-11 19:44] shahkashani opened #842 "Automated Fixture Error Check"
### What's up?

We rely on Cosmos as component library for various purposes. We push it to Github pages to show progress on various parts of the app. Some engineers even use it on a daily basis for feature development (while others rely on in-app HMR).

Once in a while, fixtures break. This sometimes happens when someone adds a new required field to a component and forgets to add it to the fixture

[2018-09-12 05:33] greenkeeper[bot] opened #843 "An in-range update of babel7 is breaking the build 🚨"
## Version **7.0.1** of the **babel7** packages was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/react-cosmos/react-cosmos/compare/master...react-cosmos:greenkeeper%2Fmonorepo.babel7-7.0.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Monorepo release group
    </th>
    <td>
      <a target=_blank h

[2018-09-12 11:17] #843 closed

[2018-09-13 03:36] greenkeeper[bot] opened #845 "An in-range update of lerna is breaking the build 🚨"
## The devDependency [lerna](https://github.com/lerna/lerna) was updated from `3.3.1` to `3.3.2`.

🚨 [View failing branch](https://github.com/react-cosmos/react-cosmos/compare/master...react-cosmos:greenkeeper%2Flerna-3.3.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

lerna is a devDependency of this project. It **mig

[2018-09-13 10:29] #845 closed

[2018-09-13 13:56] greenkeeper[bot] opened #848 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.18.0` to `4.18.1`.

🚨 [View failing branch](https://github.com/react-cosmos/react-cosmos/compare/master...react-cosmos:greenkeeper%2Fwebpack-4.18.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this proj

[2018-09-13 15:51] koggdal commented on #834
Thanks for fixing it @skidding! 👍 It works great now, and I sent a fix for this issue here: https://github.com/react-cosmos/react-cosmos/pull/849

[2018-09-15 00:47] greenkeeper[bot] opened #851 "An in-range update of lerna is breaking the build 🚨"
## The devDependency [lerna](https://github.com/lerna/lerna) was updated from `3.3.2` to `3.4.0`.

🚨 [View failing branch](https://github.com/react-cosmos/react-cosmos/compare/master...react-cosmos:greenkeeper%2Flerna-3.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

lerna is a devDependency of this project. It **mig

[2018-09-16 21:13] dan-weaver commented on #668
for future readers, this works well:

[code]

[2018-09-17 13:53] #834 closed

[2018-09-17 21:35] #848 closed

[2018-09-17 21:35] #851 closed

[2018-09-18 04:05] greenkeeper[bot] opened #853 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepoundefined

🚨 [View failing branch](https://github.com/react-cosmos/react-cosmos/compare/master...react-cosmos:greenkeeper%2Fmonorepo.babel7-7.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

This monorepo update includes releases of one or more dependencies which all

[2018-09-18 07:17] alfredvaa opened #854 "Use with Next.js and custom next.config.js"
### What's wrong?

I am getting this, which is inside a .scss in my project:

[code]

I am using next.js with next-sass to have css modules and sass working. This is configured in next.config.js:

[code]

### Steps to reproduce

install next.js and next-sass

### User info

I tried something like this to get it working but that did not do it:

[code]

[2018-09-18 15:41] greenkeeper[bot] opened #855 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.19.0` to `4.19.1`.

🚨 [View failing branch](https://github.com/react-cosmos/react-cosmos/compare/master...react-cosmos:greenkeeper%2Fwebpack-4.19.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this proj

[2018-09-18 21:45] Izhaki commented on #789
Some apps and many web site use mouse proximity to the client edge and scroll-in the hidden panel if the mouse is, say, 5 px from the client edge.

You may have seen this with Webpack-Bundle-Analyser.

Just an idea.

[2018-09-19 05:16] greenkeeper[bot] opened #857 "An in-range update of react is breaking the build 🚨"
## There have been updates to the *react* monorepoundefined

🚨 [View failing branch](https://github.com/react-cosmos/react-cosmos/compare/master...react-cosmos:greenkeeper%2Fmonorepo.react-16.5.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

This monorepo update includes releases of one or more dependencies which all b

[2018-09-19 07:22] greenkeeper[bot] opened #858 "An in-range update of eslint-plugin-flowtype is breaking the build 🚨"
## The devDependency [eslint-plugin-flowtype](https://github.com/gajus/eslint-plugin-flowtype) was updated from `2.50.0` to `2.50.1`.

🚨 [View failing branch](https://github.com/react-cosmos/react-cosmos/compare/master...react-cosmos:greenkeeper%2Feslint-plugin-flowtype-2.50.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed*

[2018-09-19 10:33] callumlocke opened #860 "Getting "ReferenceError: regeneratorRuntime is not defined" after changing my Babel config"
### What's wrong?

I changed my Babel config to support older browsers. It looks like this means my async functions are now being compiled down to use regenerator, and this is missing in cosmos. I can fix it by adding `import 'babel-polyfill'` at the top of one of my components, but this is not a good solution because these are library components intended for inclusion in apps that are expected to

[2018-09-19 10:41] skidding commented on #860
Try this:

[code]

[2018-09-19 10:41] callumlocke commented on #860
OK it looks like I can add `'babel-polyfill'` to my `globalImports` array and this solves it. I didn't realise this could take JS modules, as in the README the only examples are using local CSS files. I suggest updating the docs

[2018-09-19 10:41] skidding commented on #860
Yes! `babel-polyfill` is maybe the most popular example.

[2018-09-19 10:42] callumlocke commented on #860
I'll PR now

[2018-09-19 11:01] #860 closed

[2018-09-19 11:01] skidding commented on #860
@callumlocke Thanks!

[2018-09-19 11:02] #853 closed

[2018-09-19 11:02] #855 closed

[2018-09-19 11:02] #857 closed

[2018-09-19 11:02] #858 closed

[2018-09-19 11:05] skidding commented on #854
`({ ...config, ...nextConfig.webpack() })` does shallow merging, which is not enough for merging webpack configs.

Does this work?

[code]

Ie. Use Next's webpack config entirely.

[2018-09-20 12:07] hobofan commented on #854
That doesn't work, as the `nextConfig.webpack` function only allows you to decorate the webpack config during a next.js build, so what we want would actually be its parameter. After some searching through the source, there seems to be no way to obtain the webpack config used by next.js. There exists a related closed issue (https://github.com/zeit/next.js/issues/1641).

[2018-09-20 13:10] greenkeeper[bot] opened #863 "An in-range update of lint-staged is breaking the build 🚨"
## The devDependency [lint-staged](https://github.com/okonet/lint-staged) was updated from `7.2.2` to `7.3.0`.

🚨 [View failing branch](https://github.com/react-cosmos/react-cosmos/compare/master...react-cosmos:greenkeeper%2Flint-staged-7.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

lint-staged is a devDependency

[2018-09-23 10:58] greenkeeper[bot] opened #864 "An in-range update of webpack-cli is breaking the build 🚨"
## The devDependency [webpack-cli](https://github.com/webpack/webpack-cli) was updated from `3.1.0` to `3.1.1`.

🚨 [View failing branch](https://github.com/react-cosmos/react-cosmos/compare/master...react-cosmos:greenkeeper%2Fwebpack-cli-3.1.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack-cli is a devDependency

[2018-09-24 22:28] cloudratha opened #865 "Observing prop change side effects."
Hey,

I just started using Cosmos, and so far loving it.

I have a component where a prop change causes UI side effects. Currently unobservable in Cosmos.

Currently it seems that changes to the FixtureEditor do not trigger lifecycle events down to the Playground Component, but rather remounts the component and subsequent Proxies (expected). First prize would be to allow the FixtureEditor to pass

[2018-09-24 22:40] skidding commented on #865
Hi @cloudratha,

Props transition is not possible in Cosmos at the moment. But it will be. I'm currently hard at work on the next major version which will, among other things, have this functionality. You'll be able to choose whether to _reset_ or _transition_ props. And it will be using nice inputs for each prop, instead of one big JSON editor.

See the [README header](https://github.com/react-co

[2018-09-24 22:43] cloudratha commented on #865
Thanks for the quick reply.

I'll stick with my ugly `buttonPropProxy` for now then. Does the job.
Look forward to the next release.

Good work.

[2018-09-25 06:59] #865 closed

[2018-09-25 08:02] smesko85 opened #866 "Since 'minor' version update, can't find any fixture"
### What's wrong?

When I run cosmos using config on the project, it runs without error, but in the browser shows `Standing by... Waiting for a signal from your React Native build.`
It was working perfectly with the previous (4.5) version.

[2018-09-25 08:06] smesko85 commented on #866
I'm not sure what has changed, but even if I try installing react-cosmos@4.5 version, it still doesn't work.

[2018-09-25 08:19] skidding commented on #866
Hi @smesko85

Were you using Cosmos with React Native when it worked?

[2018-09-25 11:00] greenkeeper[bot] opened #867 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.19.1` to `4.20.0`.

🚨 [View failing branch](https://github.com/react-cosmos/react-cosmos/compare/master...react-cosmos:greenkeeper%2Fwebpack-4.20.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this proj

[2018-09-25 17:18] skidding commented on #866
This is the root problem. Sorry about the inconvenience!

I plan to be more careful in the future, but in the past we tended to follow semver for `react-cosmos` package only, as very few people use the underlying packages directly.

Do you have a custom setup? The playground component should receive `props.options.platform: "web"` and it seems like in your case it doesn't (after you upgrade). Due

[2018-09-29 23:01] #731 closed

[2018-09-29 23:03] #579 closed

[2018-09-29 23:03] #569 closed

[2018-09-29 23:04] #695 closed

[2018-09-29 23:05] #743 closed

[2018-10-01 13:55] begedin opened #873 "react-cosmos-apollo-proxy `failWith` feature partially broken"
### What's wrong?

One of the changes in `react-cosmos-apollo-proxy` seems to have partially broken `failWith` behavior.

If there is a `failWith` property in the apollo section of the fixture, `observer.error(failWith)` is correctly called and there is a network error, but the function continues execution and at one point tries to access `resolveWith.data`.

Since a `failWith` fixture, even accor

[2018-10-01 21:48] RPDeshaies commented on #812
First PR is there for the curious

https://github.com/react-cosmos/parcel-example/pull/1

Sorry for the delay :)

[2018-10-02 08:17] Ken123777 commented on #854
@alfredvaa @hobofan Have you guys found a solution for this?

[2018-10-05 06:31] wongsynee opened #874 "Material UI CSS Injection Order in React-Cosmos"
### What's up?

In our project, we are using React-Cosmos alongside Material UI and CSS Modules to build some of the components.

### Mkay, tell me more...

In order to override some of the styles from Material UI, we are needed to reorder Material UI's CSS with [CSS injection order](https://material-ui.com/customization/css-in-js/#css-injection-order). We have been able to use [react-cosmos-wrapp

[2018-10-13 08:45] radhakri555 commented on #676
Can I have a look at this issue?

[2018-10-13 10:29] skidding commented on #676
@radhakri555 Yes, that would be great!

[2018-10-13 10:39] skidding commented on #874
Hi @wongsynee,

I think the easiest route is to use a custom html template. Do you already have an index.html template in your project?

Cosmos uses [html-webpack-plugin](https://github.com/jantimon/html-webpack-plugin), which creates a default html template. But you can override it. Not sure if you use a custom webpack config with Cosmos already, but you can customize Cosmos' webpack config to sp

[2018-10-13 16:36] radhakri555 commented on #676
@skidding: can you confirm my understanding here?. Instead of passing string variabke, we have to pass Boolean variable(prod: true or false) depends on environment.

[2018-10-13 17:38] skidding commented on #676
[That's what it looks like](https://webpack.js.org/api/cli/#environment-options).

What we're trying is to have parity with webpack.

So to be 100% sure I recommend creating a dummy webpack config that returns a function and console logging the arguments webpack passes to that function when you're passing the dummy config to the webpack compiler. It's probably easiest using the webpack CLI.

[code

[2018-10-16 08:15] skidding commented on #544
Fixed by #876

[2018-10-16 08:15] #544 closed

[2018-10-18 07:56] alfredvaa opened #881 "Sidebar not grouped correctly when using HOC"
### What's wrong?

I have defined a higher order component, and the components that is using it is not grouped together in the sidebar menu. Instead of this:

[code]

I am getting this:

[code]

It does work as expected if I remove the HOC.

### Steps to reproduce

HOC:
[code]

Fixture:
[code]

### User info

Cosmos version 4.6.4

[2018-10-18 21:03] skidding commented on #881
Hi @alfredvaa,

Fixtures are grouped per component type. And each time you call `CosmosWrapper` you generate a new component type. Unless you pass different params to the HOC for each fixture, maybe you can do this?

[code]

[2018-10-24 03:40] justinglibert opened #882 "State mocking doesn't work with the redux proxy"
### What's wrong?

State mocking doesn't work when you also use the redux proxy (and when you set reduxState)

### Steps to reproduce
**Fixture**
[code]
**Component**
[code]

### Additional context

You need to install the Redux proxy

[2018-10-24 07:39] skidding commented on #882
Hi @justinglibert,

That is on purpose. The Redux proxy has a `disableLocalState` option that's [enabled by default](https://github.com/react-cosmos/react-cosmos/blob/7c110765da4ee948c2ea777dab683ea80fedc8b8/packages/react-cosmos-redux-proxy/src/index.js#L24). You can set it to `false` in your cosmos proxies file.

The reason why this was done (a _long_ time ago), was because having showing the st

[2018-10-24 07:41] justinglibert commented on #882
Thank you for your fast answer 👍 ! I guess I didn't read the doc enough.

[2018-10-24 07:42] #882 closed

[2018-10-25 10:59] alfredvaa commented on #881
That solved it! 👍

[2018-10-25 10:59] #881 closed

[2018-10-31 17:48] skidding commented on #693
@vget98 For now you can use the ["wrapper component fixture pattern](https://github.com/react-cosmos/react-cosmos#wrapper-component) to wrap a component with a new-style context provider.

In the future it will be even easier but don't have an ETA for that.

[2018-10-31 18:14] vget98 commented on #693
@skidding sounds good thank you

[2018-11-15 15:27] alfredvaa opened #891 "Cannot make reduxState to work"
### What's wrong?

I cannot use the reduxState prop in fixtures to set the redux state.

### Steps to reproduce

I installed the proxy plugin

`yarn add react-cosmos-redux-proxy`

And then added a proxy config in the root of my project

[code]

If I do a console.log in the mapStateToProps in a container component (which is connected to redux) I can see the initial state of my store, which seems go

[2018-11-15 16:43] callumlocke opened #892 "Update fetch-mock to the latest version"
### What's up?

The fetch proxy uses a version of fetch-mock that is really old, and 2 major versions behind stable. This makes looking up docs difficult and means we don't have access to the modern API.

### Mkay, tell me more...

In particular I want its new `fallbackToNetwork: false` behaviour. I think it's really confusing if the mocked fetch falls back to doing a real network request just bec

[2018-11-15 17:40] skidding commented on #892
I'd be great if someone could pick this up.

For what it's worth [@react-mock/fetch](https://github.com/skidding/react-mock/blob/master/packages/fetch/src/index.js) uses `fetch-mock@7.x` so we can use that for inspiration.

As long as the proxy API doesn't change we can publish this with the next patch version.

[2018-11-15 17:46] skidding commented on #891
Hi @alfredvaa,

Are you using React devtools? I think it's the easiest way to see if the Redux state gets populated.

Also, make sure `testReducer` is the state attribute the testReducer gets assigned to when you compose reducers into the root one. Feel free to share your store/reducer config and I'll be able to tell more.

[2018-11-15 22:04] furious-luke opened #894 "React-JSS hot reload loses styles"
### What's wrong?

Using React-JSS with Cosmos, hot reloading components lose their styles until either the Cosmos page is reloaded, or the component is selected again from the left menu.

### Steps to reproduce

1.  Create a component using React-JSS.
2.  View component in Cosmos.
3.  Make a change to the component's styling.
4. The component as rendered in Cosmos will lose all styling, reverting

[2018-11-18 18:18] nakedcity opened #895 "remove esModule detection to import modules"
### What's wrong?
esModule is not a standard flag to detect modules

Modules generated by other than babel are not being correctly imported since they might not have __esModule defined at all

### Steps to reproduce

From this code
[code]

module.__esModule is not the way to detect the module

[code]

[2018-11-18 19:18] nakedcity commented on #895
I think this would be the right way
[code]

[2018-11-21 13:29] skidding commented on #894
Hi @furious-luke,

Thanks for reporting this. Odd behavior :)

Could you share a minimal repo reproducing this? I'm willing to investigate, but unfortunately it would take more time than I have at the moment to create everything from scratch myself.

[2018-11-22 23:37] skidding commented on #828
Thanks for the heads-up, @adam8810!

I didn't get my hands on react-redux 5.1 yet. If you share an example repo I'll look into it and report back with my findings!

[2018-11-22 23:47] skidding commented on #828
I glanced quickly over [this commit](https://github.com/reduxjs/react-redux/commit/85fb553ba8e3f4b0efc158d2e48aafb4c18a04d4) and [connectAdvanced.js](https://github.com/reduxjs/react-redux/blob/6a2e878a8d7d89b369cdd0f9eabe50295ac8637f/src/components/connectAdvanced.js#L50-L51), and it seems forwardRef is opt-in. You may need to pass `forwardRef: true` to connect options.

Let me know if it works.

[2018-11-23 00:18] omarzion commented on #431
I ran into a similar issue and came up with a possible solution.  Do you think this would be worth turning into a proxy?
[code]

And using it (it currently uses __controllers prop)
[code]

[2018-11-25 21:14] skidding commented on #431
@omarzion Looks great! Alternatively, you could put `__controllers` outside props? Eg.

[code]

Also, you may want to pass previous props to controller functions (as 1st arg), as you would to a reducer. Eg.

[code]

I think so. It's a good solution for the problem discussed in this thread. If you publish a proxy I'll link to it in the docs. But note that I plan to introduce a new API for proxies,

[2018-11-27 19:35] brianespinosa opened #899 "Getting Started Steps outdated"
### What's wrong?

The Getting Started steps in the README will technically not work right now because the babel-loader that gets installed if you to not ask for an exact version will be using the newest version of Babel. The loader will be running a new version of Babel but the old version of the presets.

The steps only work when running babel-loader > 7.x.x

### Steps to reproduce

1.  Go throu

[2018-11-27 19:35] brianespinosa commented on #899
Related: https://github.com/babel/babel/issues/6808

[2018-11-27 21:00] brianespinosa commented on #899
Got the steps working for the latest babel-loader and the correct presets in a bare node project. I'm going to submit a PR with updates to the README shortly.

[2018-11-28 08:32] skidding commented on #431
Cool. Feel free to send a PR to add it to [this list](https://github.com/react-cosmos/react-cosmos#more-proxies).

You have to call `onFixtureUpdate` from the proxy's props. See [this example](https://github.com/react-cosmos/react-cosmos/blob/65889fc3d1e5fd9779381c037879b4c14c520799/packages/react-cosmos-router-proxy/src/index.js#L25-L27) from the router proxy.

[2018-11-30 08:34] skidding commented on #431
@dfedynich What do you think of [@omarzion's proxy](https://github.com/omarzion/react-cosmos-stateful-proxy), can we close this issue?

[2018-12-03 09:46] skidding commented on #431
Great!

[2018-12-03 09:46] #431 closed

[2018-12-10 12:46] calldanfeng opened #903 "react-cosmos-redux-proxy 4.6.1 doesn't compatible with react-redux 6.0.0"
### What's wrong?

react-redux 6.0.0 was just released and there were some breaking changes: https://github.com/reduxjs/react-redux/releases
Using react-cosmos-redux-proxy 4.6.1 with react-redux 6.0.0 will get the following error:

### Steps to reproduce

1.  Install "react-redux": "^6.0.0"
2. npm run cosmos

[2018-12-12 15:53] jcarraway commented on #795
@zach-albia @skidding any more progress on publishing types for Cosmos?

It would definitely be helpful to add a Typescript section with this example to the README as well. Thanks for the help!

[2018-12-15 12:18] skidding commented on #903
Hi @calldanfeng,

Thanks for reporting this, I can confirm it's true.

React Redux 6 switched from the old React context API to the new one ([source](https://github.com/reduxjs/react-redux/blob/849ce418fbfddacb5c6c4b818494f47412fba45a/src/components/Provider.js#L64-L70)). The Cosmos Redux proxy mimics the Redux provider, so it needs to be changed to use the new context API as well.

I believe the

[2018-12-16 10:14] smesko85 commented on #866
I will. Thx.

[2018-12-25 02:52] calldanfeng commented on #903
Hi @skidding,
Thanks a lot for your quick response and I really appreciate your work on Cosmos Next.
I've downgraded react-redux to 5.x.x in our project since there isn't a strong need in our team to use v6. As for react-cosmos-redux-proxy 4.x.x, I don't think it has to support react-redux v6 according to semantic versioning.
Looking forward to your Cosmos Next!

[2019-01-16 21:37] dep opened #919 "After the Babel 7 upgrade, getting an error when I start cosmos"
When I start cosmos I get the following error:

[code]

This is my `cosmos.config.js`

[code]

`package.json`

[code]

and finally my `rollup.config`

[code]

Thanks in advance for any help

[2019-01-16 21:43] skidding commented on #919
Hi @dep,

Do you import `react-cosmos-flow` yourself in any file? It's hard to see from the stack trace because it's all Babel parse modules.

[2019-01-17 19:31] dep commented on #919
Hi @skidding thanks for the reply. As far as imports, I do quite a lot of this:

[code]

[2019-01-17 19:41] dep commented on #919
Oddly enough moving my `babel` config out to a proper `babel.config.js` fixed this for me.

[code]

[2019-01-17 19:41] #919 closed

[2019-01-17 21:12] skidding commented on #919
Good news,

Can you try using `import { createFixture } from 'react-cosmos'` instead?

From what I recall `react-cosmos-flow` was deprecated in favor of this simpler approach.

[2019-01-25 14:16] nsisodiya opened #922 "Support for the experimental syntax 'classProperties' isn't currently enabled"
My code work perfect with create-react-app. but when I am trying to integrate react-cosmos, I am getting following error.

Can I fix it without updating my `.babelrc` file ?

[code]

![image](https://user-images.githubusercontent.com/333455/51750955-9a495500-20d9-11e9-9d2a-62c831c03fc2.png)

[2019-01-25 16:00] skidding commented on #922
Did you config Cosmos to use CRA's webpack config? See https://github.com/react-cosmos/react-cosmos#create-react-app

[2019-01-30 20:06] andyrichardson commented on #903
Hey folks, I've [opened a PR](https://github.com/react-cosmos/react-cosmos/pull/923) which should fix this.

The implementation uses _redux_ and _react-redux_ via peer dependencies rather than implementing a custom solution. It's a fair deviation from the prior implementation so let me know if there's anything about this approach that might not work.

[2019-01-30 21:06] skidding commented on #922
This has to do with your webpack config and not Cosmos. It's likely that the wanted webpack config isn't passed to Cosmos correctly. Let me know if you still have this issue.

[2019-01-30 21:06] #922 closed

[2019-02-04 09:20] tomitrescak opened #924 "How to rename fixtures with cosmos/next and graphql proxy"
### What's up?

FANTASTIC work! I love this and giving a go to the next version.
I have couple questions.

1. How to specify fixture name and namespace in the "next" version?
2. I absolutely LOVE the graphql proxy. Will this work with the Next version?

Thanks

[2019-02-05 17:36] skidding commented on #924
Hi @tomitrescak,

Thanks! 🙏

1. Not possible yet. Could you help me understand your use case? I’m gathering info for deciding on the next batch of features to add in Cosmos Next.
2. It’s not directly portable, but I’d say 80-90% of the Apollo proxy code is portable so we just need to adapt it to the new fixture format going forward. Note that I won’t push Cosmos Next as the primary Cosmos version

[2019-02-05 21:39] tomitrescak commented on #924
@skidding as per 1) it's just for the nicer organisation of my fixtures to give them different, more expressive names. For example, when I export three fixtures from the same file each of them can represent a different state of the component. It would be nice to explicitly say this. For example:

1. Component With Error
2. Component Loading
3. Component Loaded Single Entry ...

As per 2, awesome!

[2019-02-06 00:09] stvmachine commented on #922
+1. The problem appears with react-scripts@2.1.3 . With react-scripts@1.1.4. Happy to help to make it work on the last version of create-react-app.

[2019-02-06 00:55] MattReimer opened #925 "Github Pages needs .nojekyll file"
We want to use cosmos as a communciation tool with a client but I couldn't get `cosmos-export` to run correctly on GHPages. It kept throwing 404 errors on the playground file:

    GET https://myaccount.github.io/whatever/_playground.js 404

It turns out that Github Pages uses Jekyll which filters out any file starting with an underscore so `_playground.js` and other files will be gone when `index

[2019-02-06 07:11] skidding commented on #922
@stvmachine Thanks for looking into this! I think the webpack config path changed. The Cosmos docs say you have to set `webpackConfigPath: 'react-scripts/config/webpack.config.dev'`, but I think the webpack path changed in the last versions of CRA. Can you try setting `webpackConfigPath: 'react-scripts/config/webpack.config'` instead please? Any in any case, check the terminal logs to see if Cosmo

[2019-02-06 07:14] skidding commented on #925
Hey @MattReimer, thanks for sharing this!

Would you mind putting this info in the README somewhere? Either under [Integration with popular tools](https://github.com/react-cosmos/react-cosmos#integration-with-popular-tools) or [Exporting](https://github.com/react-cosmos/react-cosmos#exporting). Thanks!

[2019-02-06 09:02] stvmachine commented on #922
@skidding  I followed your suggestion and guess what, totally works!. Thanks! 👍

[2019-02-06 09:40] skidding commented on #922
I've updated the docs to reflect this: https://github.com/react-cosmos/react-cosmos#create-react-app

Thank you both for reporting this!

[2019-02-06 21:14] #925 closed

[2019-02-07 15:00] mentaman opened #928 "How can I change state from init function"
Hey. I want to mock a server response, in the
async init of my fixture

Is there a way I can change from there the redux state?

I'm using the redux proxy.

I have a bug in my component with the animation after loading and I wanted to simulate it in cosmos to see how the component response to it.

Thanks

[2019-02-07 15:03] skidding commented on #928
@mentaman Check out how it's done in the Flatris repo https://github.com/skidding/flatris/blob/4014027ff38fcff64bf3197cc2f6356b6f66643d/web/components/pages/__fixtures__/Dashboard/games-added.js#L24-L29

[2019-02-07 15:44] mentaman commented on #928
Awesome. Exactly what I need.
Didnt know I can get compref from the parameters like that.

Thanks for the quick helpful response!

[2019-02-07 16:02] skidding commented on #928
You're welcome!

[2019-02-07 16:02] #928 closed

[2019-02-09 21:50] skidding commented on #924
You know what, I've been thinking about this lately too and now that you mention it I'm strongly considering adding this functionality in the next batch of Cosmos Next features.

How about this: Besides being able to export a fixture (ie. a JSX element) from  a fixture file, you can also export a dictionary with multiple fixtures and the key for each fixture in the dictionary becomes the name of i

[2019-02-10 09:53] mentaman commented on #928
Hey. I got to try it just now.
And it didn't work :(
The async init parameter I get is this:
{compRef: undefined}
Any idea?
I'm using react redux 5.0.7
react 16.7.0,
react-cosmos 4.7.0

[2019-02-10 11:01] skidding commented on #928
Is the component a connected component? If the compRef is undefined than
the component appears to be a function component, which inherently doesn’t
have an instance and thus a ref.

On Sun, 10 Feb 2019 at 11:53, mentaman <notifications@github.com> wrote:

--
Best,
Ovidiu

[2019-02-10 16:55] mentaman commented on #928
Oh ok. It didn't work with the "withRouter" function. But after I removed it, it worked(it wasn't necessary the withrouter there anyway). I also read about adding to the withrouter a parameter useRef:true. which didn't help. Anyway removing withrouter solved it for me.

Thanks

[2019-02-11 00:38] tomitrescak commented on #924
Hi, seems like a good ides, but I do not it will scale much. If you will decide to make richer API in the future you will be limited. I created a similar system to COSMOS (by FAR less popular :) and what worked for me was exporting more complex information. Of course you can support all three, should be fairly straightforward:

[code]

[2019-02-11 07:38] skidding commented on #924
The third type is very close to how Cosmos works in the stable version. The reason I'm moving away from that is because it's less natural than writing JSX, and you can put the "other API props" in decorators around the component. See https://github.com/skidding/react-mock. The disadvantage to JSX is the additional nesting every layer adds, but it has other advantages like type safety.

[2019-02-18 06:52] TheAncientGoat opened #930 "Cosmos-next: Fixture components not mounting in container set by containerQuerySelector"
### What's wrong?

Using react-boilerplate-typescript, setting `containerQuerySelector` in `cosmos.config.js` results in 2 containers being rendered, an empty `#app` div and and a `#root` div that contains the components specified in my tsx fixture.

When trying to reproduce - with the jsx-fixtures example, it seems like the #app div doesn't get created at all.

Looking at https://github.com/react

[2019-02-19 10:57] skidding commented on #930
Hi Ryan (awesome handle btw 😄)

You're right, `containerQuerySelector` isn't supported by Cosmos Next. I cut a lot of corners to release it as soon as possible and this was one of those corners.

But this is also something easy to add so I'm bookmarking this issue to fix it in the next release of Cosmos Next, which is going to include a bunch of other goodies like support for multiple named fixtur

[2019-02-19 14:42] TheAncientGoat commented on #930
Thanks for the quick reply - managed to work around it by just manually
providing a wrapper div - maybe all that is necessary is an update to the
documentation, it's not a huge hassle to add the wrapper, seeing as you
pretty much need to make a global style decorator anyhow to render
react-boilerplate correctly.

On Tue, 19 Feb 2019, 18:57 Ovidiu Cherecheș <notifications@github.com wrote:

[2019-02-21 09:49] hudde91 commented on #693
@skidding Hi is there any new documentation or proxy for react hook useContext in Cosmos?

[2019-02-21 09:56] skidding commented on #693
@hudde91 Context providers are configured the same with or without hooks. Whether you use `Context.Consumer` with render prop or `useContext` hook in your component doesn't make a difference for Cosmos. See the comments above for putting the Provider in a proxy. But if you're using Cosmos Next it's even easier to put your context Provider(s) in a [decorator](https://github.com/react-cosmos/react-c

[2019-02-21 10:19] hudde91 commented on #693
@skidding Okay thanks!

[2019-03-21 21:40] skidding commented on #903
Great news everyone!

You can use the latest react-redux version with Cosmos Next. Here's a brand new `ReduxMock` decorator for JSX fixtures: https://github.com/skidding/react-cosmos-redux

Let me know if you get a chance to try it!

[2019-03-22 09:20] MichielHegemans opened #940 "Cosmos Next Multi Fixture not working as described"
### What's wrong?

The description of cosmos-next says we can export multifixture when the export is the default export of a module. However when I attempt this I get the following error: `Objects are not valid as a React child`

### Steps to reproduce

Fixture:
[code]

cosmos.next.config.js
[code]

webpack.cosmos.js
[code]

### Screenshots

If applicable, add screenshots to help explain your prob

[2019-03-22 10:55] skidding commented on #940
Sorry for the confusion. The multi fixtures feature was pre-released. Install `react-cosmos@next` to enable it. Hoping to make it official next week.

[2019-03-22 12:16] MichielHegemans commented on #940
Oh sorry. Thanks for responding!

[2019-03-22 12:16] #940 closed

[2019-03-23 13:07] #930 closed

[2019-03-23 13:08] skidding commented on #930
Just merged a fix for this. Make sure to subscribe to project releases to get notified when I publish the next version, which will include this fix.

[2019-03-25 11:35] #891 closed

[2019-03-28 19:52] trsvax opened #943 "util.promisify missing from react-cosmos/package.json"
### What's wrong?

server.js imports util.prosmisify but it's not in package.json. The import usually works because other packages have util.promisify in package.json

### Steps to reproduce

Ran across this getting cosmos to run under a rush/pnpm repo.

### Workaround

add the following to pnpmfile.js

function readPackage(packageJson, context) {

      switch (packageJson.name) {
        case 'r

[2019-03-29 13:08] #943 closed

[2019-03-29 13:13] skidding commented on #943
Thanks for reporting this @trsvax!

I added the missing deps and released `4.8.1`. Let me know if the issue is solved.

[2019-04-06 21:43] protodonata opened #945 "Location to add script to package.json after installation?"
Hi! I know it's kind of stupid question but I am very new to React. I would like to know where to add the script below to package.json after the installation ? Thank you so much!

`"scripts": {
  "cosmos": "cosmos",
  "cosmos:export": "cosmos-export"
}`

[2019-04-06 22:28] skidding commented on #945
Do you have a `package.json` in your project? If you do, does it have a `scripts` field?

[2019-04-07 06:09] protodonata commented on #945
I found package.json in and out of my project. And now I found that the scripts seem like "add by its own" to the package.json file out of my project. So I am not sure where I should add.
In this case, does it mean that I gotta add to each of my projects if I use more than one?

Many thanks!

[2019-04-07 16:43] skidding commented on #945
Sorry, but I don't quite understand your language. Yes, React Cosmos is installed separately per each project if that's what you ask. Is this a problem for you?

[2019-04-11 21:59] stellarhoof opened #946 "Yarn PnP compatibility"
### What's wrong?

When using yarn plug n play, I cannot run cosmos since it tries to import the `debug` package without having it declared in its dependencies (although I don't know if this is because yarn is more strict with respect to dependencies). I cloned the react-cosmos repo and added `debug` to `packages/react-cosmos/package.json` and it worked.

`react-cosmos-voyager2` is missing `lodash

[2019-04-16 20:59] kafkahw commented on #636
@skidding why will this proxy be published? or any documentation about the activation of this proxy?

[2019-04-16 21:03] skidding commented on #636
I'm putting all my time into Cosmos Next nowadays. But the proxy above seems to work for other people. It is always activated once you add it to your project and `fixture.locale` controls the mocked locale.

[2019-04-16 21:08] kafkahw commented on #636
@sdgandhi thanks for your reply. That activation strategy seems not following what react-cosmos suggests in its doc:

any thoughts on this? Today is my day one using cosmos so trying to follow best practice as much as possible

[2019-04-16 21:49] kafkahw commented on #636
For those having the same concerns as mine, here's the modified version that supports opt-in activation:
[code]

To activate this proxy in a fixture, attribute `intl` should be set.
[code]

[2019-04-27 02:08] stellarhoof commented on #946
Now `packages/react-cosmos` is missing `slash`. It'd be useful if the entire repo was ran through yarn pnp to figure out missing ones since it has stricter dependency requirements.

[2019-04-27 10:37] skidding commented on #946
@stellarhoof Thanks for reporting these!

What's the best way to check? I just ran `yarn --pnp` in the Cosmos repo root and it didn't complain.

[2019-04-27 11:32] #945 closed

[2019-04-27 18:49] skidding commented on #946
These issues should be fixed in `v5.0.0-alpha.2` (presuming you're interested in Cosmos Next).

But let me know if you have an answer to my previous question. I'd like to include a small CI step to prevent this from happening in the future. Thanks!

[2019-04-29 00:34] stellarhoof commented on #946
Getting there, but there are still missing deps. To reproduce, make an empty directory with a stub `package.json` like
[code]
Then do `yarn install` followed by `yarn cosmos`

[2019-04-29 16:26] skidding commented on #946
Hmm, maybe I'm not grasping how pnp works, but here's an error I don't understand.

Module not found: Error: **Can't resolve 'react-error-overlay'** in '/Users/ovidiu/Library/Caches/Yarn/v4/npm-react-cosmos-5.0.0-alpha.2-f4ccdad5b29e38ed61b443fe03a3b3f7e0c28201/node_modules/react-cosmos/dist/plugins/webpack/client/errorOverlay'

The `react-cosmos` package _does_ have `react-error-overlay` as a dep

[2019-04-29 18:14] stellarhoof commented on #946
No ideas :( I get lots of errors of that kind on doing `yarn cosmos` as well. One thing that comes to mind is that there might be some problems if you're using only `tsc` to transpile ts instead of `babel` (https://yarnpkg.com/en/docs/pnp/getting-started)

[2019-04-29 18:31] skidding commented on #946
tsc compilation is likely the issue. I would be happy to solve this issue but I'd also hate to complicate package compilation only for a Yarn feature...

Subscribed to https://github.com/Microsoft/TypeScript/issues/18896 in the meantime to stay informed and renamed this issue.

[2019-04-29 18:35] stellarhoof commented on #946
Yes, reworking your infra is not worth it if that's the problem. Thanks for looking into it.

[2019-04-30 08:13] iamchathu commented on #703
This is happening to me using a project bootstrapped from `create-react-app` and followed readme guide and created `cosmos.config.js` and `cosmos.proxies.js` and added router proxy but still get <Link> can not be used without <Router> issue.

[2019-04-30 20:33] Talasaty opened #954 "I can´t view fixtures"
Hi!

In the root of my project I created the file cosmos.config.js and in it I put:
[code]

the first fixture I created was a hello word tsx file in the directory:

/src/components/__fixtures__/hello_world.tsx

with the following code:

`export default 'Hello World!';`

When I launch npm run cosmos no component appears,
Can anybody help me?

Thank you!

[2019-04-30 20:35] skidding commented on #954
It seems like you're on the 5.0 alpha version, right? Please see the latest docs regarding config and paths https://github.com/react-cosmos/react-cosmos/blob/master/NEXT.md

[2019-05-03 08:24] kevin940726 commented on #701
@skidding Looks like we don't need this anymore in cosmos next? Just a friendly reminder 😉.

[2019-05-03 09:12] nhieunguyen1510 opened #956 "React Cosmos is unable to run on IE11"
### What's wrong?

React Cosmos is unable to run on IE11 because of the "_playground.js"

### Steps to reproduce

1. Start cosmos
2. Open cosmos on IE11
3. React cosmos can't start, open the DevTool
4. The console in DevTool show `Syntax error` in `_playground.js`

### Screenshots

![image](https://user-images.githubusercontent.com/18672467/57127840-344d2780-6dc4-11e9-8f1b-12cb899b5f74.png)

### U

[2019-05-04 13:17] skidding commented on #701
@kevin940726 Yes, well the issue is already closed. :)

[2019-05-04 13:20] kevin940726 commented on #701
@skidding I meant that we can now enable the `minimize` option in prod build now?

[2019-05-04 13:28] skidding commented on #701
Oh, good point. Yes, we no longer read component names for the fixture tree view, which is now 100% file system based. But we do read them for a feature that will be released later, which is a props editor where you can edit prop values that are shown under component names :D.

[2019-05-04 14:36] kevin940726 commented on #701
@skidding Perhaps we could provide babel plugin to skip minifying component names/injecting displayName, which is similar to how css-in-js like styled-components do to provide debuggable className. Maybe we can discuss it when the feature is in progress in another issue or in slack 😉

[2019-05-04 20:54] skidding commented on #956
Cosmos Next hasn't been optimized for IE11, at least yet.

What is your use case? I don't imagine you develop on IE11 primarily so are you occasionally checking how your components look on IE11?

The new remote renderer feature has been partially built for this use case. Have you tried it?

[2019-05-05 04:59] nhieunguyen1510 commented on #956
@skidding IE11 is part of our browser scope so we need to check the UI on it (we're building bunch on components before integrating with APIs).
I didn't hear about remote renderer feature, can you provide a tutorial link ?

[2019-05-05 11:28] skidding commented on #956
What version of Cosmos are you using? I'm assuming the 5.0 alpha.

Check out "Synced remote renderers" in https://medium.com/@skidding/cosmos-4-8-the-version-that-keeps-on-giving-746d6265f81d

[2019-05-06 09:36] #676 closed

[2019-05-06 14:56] skidding commented on #370
Closing due to inactivity

[2019-05-06 14:56] #370 closed

[2019-05-06 14:58] skidding commented on #433
This will be covered in the future Props Panel in Cosmos Next. Reopen under http://github.com/react-cosmos/react-cosmos-classic if needed

[2019-05-06 14:58] #433 closed

[2019-05-06 15:00] skidding commented on #453
Closing due to inactivity. Error reporting is better in Cosmos Next btw, you never get a blank screen if the user build fails.

[2019-05-06 15:00] #453 closed

[2019-05-06 15:01] skidding commented on #488
Both `fixturesDir` and `fixtureFileSuffix` are supported options in Cosmos Next. The defaults are `__fixtures__` and `fixture` respectively.

[2019-05-06 15:01] #488 closed

[2019-05-06 15:39] skidding commented on #520
Closing this due to inactivity, but the subject might come up again in the future.

[2019-05-06 15:39] #520 closed

[2019-05-06 15:47] skidding commented on #547
Closing due to inactivity. Move to https://github.com/react-cosmos/react-cosmos-classic if needed

[2019-05-06 15:47] #547 closed

[2019-05-06 15:49] skidding commented on #561
Closing due to inactivity. Note that part of this is on the roadmap, except it doesn't work with static types. Editors will have their type either a) inferred from run-time prop value or b) defined inside fixtures (eg. `useSelect({ options, defaultValue, label })`).

[2019-05-06 15:49] #561 closed

[2019-05-06 15:50] skidding commented on #562
Both Cosmos Classic and Next _do_ work with React Native now.

[2019-05-06 15:50] #562 closed

[2019-05-06 15:51] skidding commented on #568
Cosmos Next decorators remove the need for this.

[2019-05-06 15:51] #568 closed

[2019-05-06 15:52] skidding commented on #598
This issue belongs to http://github.com/react-cosmos/react-cosmos-classic, feel free to continue the discussion there.

[2019-05-06 15:52] #598 closed

[2019-05-06 15:54] skidding commented on #693
Cosmos Next is designed to work with the new Context API. Feel free to move to http://github.com/react-cosmos/react-cosmos-classic.

[2019-05-06 15:54] #693 closed

[2019-05-06 15:54] skidding commented on #702
Let me know if you still have this issue.

[2019-05-06 15:54] #702 closed

[2019-05-06 15:56] skidding commented on #719
Fixed in Cosmos Next.

[2019-05-06 15:56] #719 closed

[2019-05-06 15:56] skidding commented on #765
Belongs to http://github.com/react-cosmos/react-cosmos-classic

[2019-05-06 15:56] #765 closed

[2019-05-06 15:58] skidding commented on #766
Discussion belongs to http://github.com/react-cosmos/react-cosmos-classic.

I'd be happy to discuss Next.js integration with Cosmos Next if anybody has issues.

[2019-05-06 15:58] #766 closed

[2019-05-06 15:59] skidding commented on #792
No longer a limitation in Cosmos Next.

[2019-05-06 15:59] #792 closed

[2019-05-06 16:00] skidding commented on #812
Link to example was added in README.

[2019-05-06 16:00] #812 closed

[2019-05-06 16:01] skidding commented on #832
Please create new threads for an RN issues.

[2019-05-06 16:01] #832 closed

[2019-05-06 16:03] skidding commented on #854
Please reopen if you still have this issue with Cosmos Next.

[2019-05-06 16:03] #854 closed

[2019-05-06 16:03] skidding commented on #873
Closing due to inactivity.

[2019-05-06 16:03] #873 closed

[2019-05-06 16:04] skidding commented on #874
Closing due to inactivity. Do reach out if you still have issues.

[2019-05-06 16:04] #874 closed

[2019-05-06 16:05] skidding commented on #892
Reopen in http://github.com/react-cosmos/react-cosmos-classic if needed.

[2019-05-06 16:05] #892 closed

[2019-05-06 16:06] skidding commented on #894
Feel free to reopen if you have a minimal repro.

[2019-05-06 16:06] #894 closed

[2019-05-06 16:06] skidding commented on #895
Already addressed: https://github.com/react-cosmos/react-cosmos/blob/d54b895bfdfb14b3eb4773a2b4b7550524ef5a7d/packages/react-cosmos/src/plugins/webpack/webpackConfig/module.ts

[2019-05-06 16:06] #895 closed

[2019-05-06 16:08] skidding commented on #903
Reopen in https://github.com/react-cosmos/react-cosmos-classic if needed. The newer `react-cosmos-redux` works with react-redux@6 and will also work with react-redux@7 when I find some time :).

[2019-05-06 16:08] #903 closed

[2019-05-06 16:10] skidding commented on #924
Closing this because multi fixtures now allow custom fixture names. Other than that fixtures are file system-driven by design. There's no GraphQL decorator for Cosmos Next yet, feel free to start a separate thread for that.

[2019-05-06 16:10] #924 closed

[2019-05-06 16:11] skidding commented on #954
Let me know if you're still experiencing problems.

[2019-05-06 16:11] #954 closed

[2019-05-13 14:33] skidding commented on #431
To people who were interested in this thread: Check out [Function fixtures](https://github.com/react-cosmos/react-cosmos/blob/2a9addb0d0824d00d79e654ec5696b8ebbb68638/NEXT.md#function-fixtures), the latest addition to Cosmos Next that addresses the same need in the simplest way possible.

[2019-05-19 21:21] betoharres opened #966 "Cosmos NEXT support for React Native"
### What's wrong?

I'm getting this error when trying to load `cosmos-native` using the steps from the main docs(main README):
[code]

Here's how my `index.js` looks like: ( brand new app ):
[code]
### Steps to reproduce

Here's my test app:
`git clone git@github.com:betoharres/cosmos-test.git`

### User info
- Browser console output: **Sarafi Version 12.1 (13607.1.40.1.5)**
- Cosmos version: **re

[2019-05-19 22:21] skidding commented on #966
Hi @betoharres, `CosmosNativeLoader` is part of the Cosmos Classic API, that's why it doesn't work. `react-cosmos-loader` shouldn't even exist in your node_modules if you install `react-cosmos@next`.

There's no documentation for using Cosmos Next with RN, but I'm happy you opened this thread to discuss it.

Try this instead (keep the lines that haven't changed):

[code]

This is rudimentary. Let

[2019-05-20 04:24] betoharres commented on #966
Hi @skidding, thanks a lot for taking the time to explain it. I'm going to take a look and update this issue.
Great library you guys are doing, I loved it ❤️

[2019-05-21 15:37] nhieunguyen1510 commented on #956
@skidding Thanks for your helpful advice. Your answer match my need.

[2019-05-21 15:37] #956 closed

[2019-05-22 08:42] nhieunguyen1510 opened #969 "Can't find the way to use fixturesDir or fileMatch in Next"
### What's wrong?

Can't find the way to use fixturesDir or fileMatch in Next

### Steps to reproduce

1. Create file `cosmos.config.js`
2. Use the below config to only build fixture inside *Pages* folder
[code]
3. Run Cosmos using `cross-env NODE_PATH=src cosmos`
4. Cosmos still build all fixture inside *__fixtures__* folder

### User info

- Browser: Chrome
- Version: 4.8.1
- Next: true

[2019-05-22 09:41] skidding commented on #969
Hi,

If you're using Cosmos Next I advise installing `react-cosmos@next` (which is currently `5.0.0-alpha.8`)

In the Cosmos Next docs you'll see the config is now a JSON.  Try this:

[code]

Also `fileMatch` is no longer an option (but `fixturesDir` and `fixtureFileSuffix` is). But this config should already match the fixtures matched by your previous. Let me know if it works.

[2019-05-22 17:19] nhieunguyen1510 commented on #969
@skidding Thanks for your response
My use case when using `fileMatch` is I only want my local environment render a few Components that I'm working on. Because our team spend most of the team on Cosmos and its building process quite slow (take about 20s each time). I'm using the default webpack config from create-react-app.
Can you suggest any ways that i can boost up the speed ?

[2019-05-22 18:51] skidding commented on #969
Two questions before I suggest anything:
- Does the dev build take less/same/more time than the Cosmos build?
- Are you more worried about the initial build time or the time it takes for the build to update on save?

[2019-06-05 11:13] pravin7891 commented on #922
same problem i faced while working in Laravel with React scaffolding.
Simply create .babelrc file in root folder and paste below code and save.
[code]
run npm run watch again.
Worked for me

[2019-06-09 23:08] betoharres commented on #966
I got an error saying `createWebSocketsConnect` is not a function.  You can get a look into the `index.js` right here:
https://github.com/betoharres/cosmos-test/blob/master/index.js
package.json:
https://github.com/betoharres/cosmos-test/blob/master/package.json
I don't know if I missed something, I'm very new on cosmos :(

Thanks!

[2019-06-10 09:41] skidding commented on #966
@betoharres Try installing `react-cosmos-fixture@next`

[2019-06-15 21:49] skidding commented on #969
Let me know if you still care about this and I'll reopen.

[2019-06-15 21:49] #969 closed

[2019-06-17 20:06] srhise opened #981 "Support for Tailwind?"
### What's up?

I am using Next.js + Tailwind CSS for a project, and wondering how I could implement support for Cosmos. Tailwind setup is using `postcss.config.js` to configure itself.

### Mkay, tell me more...

I guess if there was an example that was using a postcss config file it might work?

[2019-06-17 20:49] skidding commented on #981
Where exactly does `postcss.config.js` go?

Cosmos uses your existing webpack config so it's just a matter getting the webpack config available for Cosmos to read. If you have a Next.js + Cosmos project available I can help you add Tailwind to the mix. Don't see why it shouldn't work.

[2019-06-18 01:38] srhise commented on #981
Here is the repo: https://github.com/srhise/nextjs-tailwindcss

Here is the setup article I used to get Next.js and Tailwind working together : https://medium.com/@notrab/get-up-and-running-with-tailwind-css-and-next-js-ba1b78cb9498

If you can get cosmos running and the tailwind classnames actually apply to the `<Button/>` component fixture.... well then that my friend would be a winner.

[2019-06-19 18:19] betoharres commented on #966
@skidding thanks for the update, I'm going to take a look and get back here for the results

[2019-06-24 18:33] srhise commented on #981
@skidding I tried myself and I was unable to get this working. But maybe you had more luck. Thanks for offering to assist, but also if you have no plans to support something like this feel free to close this issue as well.

[2019-06-24 21:26] skidding commented on #981
Hi @srhise,

First of all the Cosmos config file was missing an _s_ in its name `comos.config.js`. But this wasn't the only change required unfortunately.

I haven't used Tailwind before so it took me some time to figure it out as well. In the end it boils down to adding PostCSS to Cosmos. The solution is a bit hacky, but it works, and I'm considering making it work out of the box in the future.

[2019-07-04 09:43] rouvenherzog opened #984 "Don't use componentWillReceiveProps in react-cosmos-loader"
### What's up?

Technically, the issue arises in the react-cosmos-classic repo - let me know if this is not the right place to post this.
Link to the component: https://github.com/react-cosmos/react-cosmos-classic/blob/master/packages/react-cosmos-loader/src/components/Loader/index.js

When running tests with react 16.9.0-alpha.0, there are a lot of warnings about `Warning: componentWillReceivePro

[2019-07-04 10:22] skidding commented on #984
Hi @rouvenherzog,

Thanks for bringing this up. I think option 1 is good enough, you're right.

Would you be interested in making a contribution?

Note that this is now part of React Cosmos Classic, and if you don't mind could you please move the issue to https://github.com/react-cosmos/react-cosmos-classic? I'm mostly focused on Cosmos Next (currently v5 alpha) but I can review and deploy a patch

[2019-07-04 10:51] marco-silva0000 commented on #946
Any updates on this issue? I'm looking into using this lib on my projects specifically if it works with yarn PNP, because I come from a painfully attempt at using it with storybook with no success.

Regarding integration with TS, you have this plugin https://github.com/arcanis/ts-pnp
With webpack, you have this plugin: https://github.com/arcanis/pnp-webpack-plugin

My team will try to make this li

[2019-07-04 11:17] skidding commented on #946
@marco-silva0000 I'm working on migrating the monorepo to building using Babel instead of `tsc` (https://github.com/react-cosmos/react-cosmos/pull/983.)  and as a by product this issue with PnP might go away. I'm caught up with other stuff at the moment but I estimate it should take <1 week for me to ship this change.

[2019-07-04 11:21] rouvenherzog commented on #984
Perfect! I'm happy to create a pull request on react-cosmos-classic :)

[2019-07-04 11:21] #984 closed

[2019-07-05 10:38] pmfgomes opened #985 "Can't group components under the same name and using a single file"
### What's up?
I'm trying to group multiple fixtures under the same name using an array of fixtures from a single file.
When I use a `WrapperComponent` using the same `displayName = 'AutoSelect'` instead of grouping those fixtures under the same name, I get this:

![image](https://user-images.githubusercontent.com/25708216/60717262-4446cc00-9f19-11e9-83d3-02a1ff58a2f3.png)

What I want is somethin

[2019-07-05 11:01] skidding commented on #985
Hi @pmfgomes,

Do you have a lot of Cosmos fixtures created? I recommend trying [Cosmos Next](https://github.com/react-cosmos/react-cosmos/blob/master/NEXT.md), which handles this better.

[2019-07-05 11:48] pmfgomes commented on #985
I have a bunch, but this project could have more in the future. I will upgrade to Cosmos Next as your recommendation and If I have any issue I will let you know.

Thanks for your help @skidding

[2019-07-05 13:11] skidding commented on #985
Great, thanks @pmfgomes! Let me know if you have other issues.

[2019-07-05 13:11] #985 closed

[2019-07-05 15:49] pmfgomes opened #986 "Props not showing in react-cosmos@next panel"
### What's up ?
Props not showing the props panel.
![image](https://user-images.githubusercontent.com/25708216/60732876-1fffe500-9f43-11e9-8b2b-99cccef42979.png)

I'm converting my old fixture's files to match react-cosmos@next new configs.
Since there is no documentation on how we should declare props in the new config and how it's based on react, I'm assuming that we pass the props in a react wa

[2019-07-05 19:39] skidding commented on #986
Hmm, Cosmos passes no props to fixtures. You'll have to set them inline:

[code]

Does this make sense?

[2019-07-06 11:33] skidding commented on #986
@pmfgomes Let me know if it doesn't work. If you can share a public repo I'll take a look.

[2019-07-06 11:35] skidding commented on #946
@stellarhoof @marco-silva0000 I just published `react-cosmos@5.0.0-alpha.14` with packages built using Babel. Can you please try again to see if the PNP issue still exists?

[2019-07-06 12:11] skidding commented on #981
Hi @srhise,

I'm made a patch to Cosmos (`react-cosmos@5.0.0-alpha.15`) that makes it work with PostCSS by default. [Here's what the diff to your updated repo looks like](https://github.com/srhise/nextjs-tailwindcss/compare/master...skidding:cosmos-next).

Closing this but let me know if it works for you.

[2019-07-06 12:11] #981 closed

[2019-07-06 13:22] pmfgomes commented on #986
Thanks for your example and if you look at my code that's what I did here:
`'with on submit': (props) => (<CreatableAutoCompleteSelect options={options} />)`
But the props that I passed to that component don't show on the props panel and that's what I'm not getting. Basically what I wanted to do was to change props on the fly, like we could do on the classic version.

[2019-07-06 18:00] skidding commented on #986
I think were having a hard time communicating the subtle difference. Can
you please create an example repo? I’ll make the changes there and you’ll
see what I mean.

On Sat, 6 Jul 2019 at 16:22, pmfgomes <notifications@github.com> wrote:

--
Best,
Ovidiu

[2019-07-06 19:26] pmfgomes commented on #986
Here you have the [CRA example](https://github.com/pmfgomes/cra-react-cosmos) not showing the button props, in the props panel (on the right side of the component view).
Also, I tried to pass some inline CSS to the button nothing happens. Do I need to do anything else ?

[2019-07-06 21:17] skidding commented on #986
Try this:
[code]

[2019-07-07 10:38] pmfgomes commented on #986
CSS works passing in style props. But did you notice that there are no props in the props panel ?

[2019-07-07 18:15] skidding commented on #986
Are you sure? It works for me!

<img width="786" alt="image" src="https://user-images.githubusercontent.com/250750/60772219-e7efd200-a0fb-11e9-8712-9090edcd544f.png">

Maybe you didn't read my comment carefully. Please take a closer look. The props panel works when the fixture is an **Element**, not a Component.

[The docs](https://github.com/react-cosmos/react-cosmos/blob/master/NEXT.md#element-f

[2019-07-07 18:15] #986 closed

[2019-07-08 11:18] marco-silva0000 commented on #946
@pmfgomes got it working on a PNP project just with pnp-webpack-plugin, because our project doesn't use TS.

[2019-07-11 23:11] marco-silva0000 commented on #946
We had a few problems when using cosmos with PNP of yarn2, you can see it on this repo
https://github.com/pmfgomes/test-react-cosmos

The above #989 should fix the fist hurdle.

We still have some issues, mostly with webpack-html-plugin I believe, but I thing this is moving on the right track

[2019-07-15 07:36] DanArthurGallagher opened #993 "Links to examples in the README are broken."
### What's wrong?

The README describes examples of fixtures and has links to further examples, but at least some of those are broken.

### Steps to reproduce

1.  Go to the README.
2.  Click on the `Check out the Fetch example to see the proxy in action.` under the XHR section, or on the `Check out the Axios example to see the proxy in action.`.section "XHR",
3.  See a 404.

### Screenshots

If a

[2019-07-15 07:43] skidding commented on #993
Hi @DanArthurGallagher, the examples should point to the react-cosmos-classic repo. Eg.
- https://github.com/react-cosmos/react-cosmos-classic/tree/master/examples/axios
- https://github.com/react-cosmos/react-cosmos-classic/tree/master/examples/fetch

Sorry for the confusion. Contributions appreciated!

[2019-07-16 15:51] haf opened #995 "Cosmos@next requires install of html-webpack-plugin — docs"
### What's wrong?

<img width="1049" alt="Screenshot 2019-07-16 at 17 49 33" src="https://user-images.githubusercontent.com/193115/61309229-18b5c280-a7f2-11e9-8505-af0426397e9c.png">

[code]

### Steps to reproduce

1.  `yarn add --dev react-cosmos@next && yarn cosmos & && start http://localhost:5000`

### User info

- Cosmos version: "react-cosmos": "^5.0.0-alpha.17",
- Cosmos config: none
- If a

[2019-07-16 16:00] skidding commented on #995
@haf Can you please share information from your terminal log?

[2019-07-16 16:07] haf commented on #995
I did, there's nothing there.

[2019-07-16 16:10] skidding commented on #995
My apologies, I rushed my answer.

Try this `yarn add --dev html-webpack-plugin` before running Cosmos. Let me know if it changes anything.

[2019-07-16 19:37] #993 closed

[2019-07-17 14:28] haf commented on #995
Yes, that's the solution. Leaving open, because this affects all nextjs apps that don't use that plugin.

[2019-07-17 19:38] haf opened #998 "`noEmit: false` in `tsconfig.json` — docs/defaults"
### What's wrong?

<img width="459" alt="Screenshot 2019-07-17 at 21 38 32" src="https://user-images.githubusercontent.com/193115/61405974-3dd23000-a8db-11e9-8a8e-e5ef94b7a18c.png">

By some "default"/modern TS `tsconfig.json`, `noEmit` is set to `true`, causing the `ts-loader` to say `Typescript emitted no output`. Presumably this is off for a reason, perhaps because it conflicts with something t

[2019-07-17 19:42] skidding commented on #998
@haf Can you please provide more context? Cosmos merely includes a webpack rule for `ts-loader` in the generated webpack config when ts-loader is installed locally. It has no knowledge of TypeScript.

[2019-07-17 19:46] haf opened #999 "next.js' webpack inaccessible — usability"
### What's wrong?

When getting started, you have to duplicate nextjs' web.config file; https://github.com/zeit/next.js/issues/6344

This makes the initial activation energy much higher than reasonable.

Unfortunately this doesn't work, and as you can see in the above linked issue, exposing web.config is a feature request.

[code]

[2019-07-17 19:47] haf commented on #998
There's normally a `tsconfig.json` file in TS projects; and if it has the setting `noEmit: true`, then cosmos crashes with the above error.

[2019-07-17 19:54] haf opened #1000 "'unexpected token export' w/ cosmos@next + TS — bug"
### What's wrong?

When trying to get started I get this error:

[code]

This seems to be because the added ts-loader is [incorrectly configured](https://stackoverflow.com/a/43244048/63621) — or perhaps [the include path](https://github.com/TypeStrong/ts-loader/issues/742#issuecomment-373315663) of the loader.

### Steps to reproduce

1.  Create a tsx file in `./app/.../here`, and a redux stub pro

[2019-07-17 19:59] skidding commented on #998
This is likely an issue with Cosmos + Next.js.

Cosmos tries to generate a webpack config from scratch for your project by default. It is a naive approach but works is many cases. When it fails you can always point Cosmos to your existing webpack config. Next.js, however, fails to expose that config, so I'm afraid it is up to you configure your webpack config and hand it to Cosmos. There are two w

[2019-07-17 20:02] haf commented on #998
Thank you for your reply. #1000 is a bug in the context you describe, but not this. This is only about `tsconfig.json`, which is user-supplied and doesn't change very often, so it should be enough to document the behaviour, as nextjs doesn't supply its own tsconfig.

That said, for #1000 I would very much like to create a sample that we work on together.

[2019-07-17 20:05] skidding commented on #1000
@haf Please keep the conversation in a single issue until we figure out the underlying problem(s). I understand this is frustrating but you're polluting this project and you're not being respectful of my time.

You really think "Create a tsx file in ./app/.../here, and a redux stub provider outside of the ./app in ./tests" is enough for me to understand what's going on? Create a public repo that r

[2019-07-17 20:08] skidding commented on #998
It's very likely that Next.js transforms your tsconfig before using it.

[2019-07-17 20:15] haf commented on #998
Relevant issue in the nextjs issue tracker: https://github.com/zeit/next.js/pull/7451

[2019-07-17 20:24] skidding commented on #998
It makes sense to create separate threads for separate issues. My point was that it's not clear what the exact issue is yet and until we figure it out it's probably easier to have a single thread.

I saw that too, but it's not very clear because supposedly they're not overriding it any more. If only they exposed their webpack config, it would be so much easier to integrate :(.

Are you planning to

[2019-07-17 20:30] haf commented on #1000
I created the example repo we talked about: https://github.com/haf/hello-next-cosmos — got to this point

<img width="828" alt="Screenshot 2019-07-17 at 22 30 44" src="https://user-images.githubusercontent.com/193115/61409438-880adf80-a8e2-11e9-9d65-17ec6cec162d.png">

[2019-07-17 20:32] haf commented on #998
Not with this issue; it's easily fixed and nextjs compilation still works with `noEmit: false`. This is about docs only.

[2019-07-17 21:25] skidding commented on #1000
First of all, you need to import React to use JSX

<img width="593" alt="image" src="https://user-images.githubusercontent.com/250750/61412767-6285d200-a8f2-11e9-88cf-ca0428be9bb7.png">
<img width="1099" alt="image" src="https://user-images.githubusercontent.com/250750/61412821-86e1ae80-a8f2-11e9-9836-b99bd79a11f3.png">

[2019-07-17 21:27] gk4m commented on #1000
@haf Because `cosmos.config` should be in **JSON** format and also React should be imported in `fixture` file.
https://github.com/react-cosmos/react-cosmos/blob/master/NEXT.md#config

[2019-07-17 21:28] skidding commented on #1000
I see you're trying to use `ProvidePlugin` to avoid this. The problem was the cosmos config you were using was invalid.

Put this in `webpack.override.js` in project root and it will work:

[code]

[2019-07-17 21:29] skidding commented on #1000
Regarding my previous message:

<img width="980" alt="image" src="https://user-images.githubusercontent.com/250750/61412986-02436000-a8f3-11e9-9529-7b1ce21826c8.png">

[2019-07-17 21:33] skidding commented on #1000
Also, Cosmos seems to work with both `noEmit` set to `true` and `false`. It doesn't affect it in any way so maybe the issues was not with Cosmos to begin with?

[2019-07-17 21:43] haf commented on #1000
@skidding You're right; it's probably something else. NextJS 9 was just released with a bundled typescript config, and my main project just upgraded and so has lingering babel configs that probably are conflicting.

Now we have a sample of nextjs + cosmos! Yey! Feel free to take it.

[2019-07-17 21:43] #1000 closed

[2019-07-17 21:45] haf commented on #998
Red herring.

[2019-07-17 21:45] #998 closed

[2019-07-17 21:49] skidding commented on #1000
Cool. The sample is more about not requiring React imported in JSX files, but I see your point. The docs for Cosmos Next are still in the works but maybe we'll find a way to incorporate this nugget of information somewhere in the future.

I agree to leave #995 open because I might add a "Did you install html-webpack-plugin" message in the UI. You can see the "make sure your build is generating an

[2019-07-17 22:35] haf commented on #1000
The main issue is the "unexpected token"; it happens probably due to the next.config.js file containing:

[code]

I have to do more debugging to find what bit causes the error: I've unified presets and versions between my sample and my app and that didn't help. I've unified tsconfig, and that didn't help. So this is left. #999 would help

[2019-07-18 10:26] skidding commented on #1000
@haf A minimal repo with Cosmos and Next that reproduces your issue would allow me to help you with this. I'd happily look over it.

[2019-07-18 10:29] haf commented on #1000
I could give you temporary access to my site's codebase, if you want. It's quite easy to repro with `yarn && yarn run cosmos`?

[2019-07-18 10:34] skidding commented on #1000
Sure. Maybe you want to join Slack to communicate easier? https://join-react-cosmos.now.sh

I'll make time to investigate later today.

[2019-07-18 19:30] skidding commented on #1000
@haf Upgrade react cosmos and try again please

[code]

![image](https://user-images.githubusercontent.com/250750/61486183-8822e200-a9ab-11e9-848d-b5748e2280a1.png)

[2019-07-18 20:04] haf commented on #1000
@skidding ❤️

[2019-07-18 20:06] skidding commented on #1000
This was the culprit https://github.com/react-cosmos/react-cosmos/commit/4b785f33b0e5c9a242cc1bfdc00de59a523757c6

[2019-07-18 21:04] skidding commented on #995
Added this information to docs: https://github.com/react-cosmos/react-cosmos/blob/master/NEXT.md#using-nextjs

[2019-07-18 21:04] #995 closed

[2019-07-18 21:05] skidding commented on #999
@haf I added this section on troubleshooting Cosmos with Next.js: https://github.com/react-cosmos/react-cosmos/blob/master/NEXT.md#using-nextjs.

Does it close this issue as well?

[2019-07-18 21:24] #999 closed

[2019-07-18 21:25] haf commented on #999
Yes. Thank you for your help!

[2019-07-18 22:23] haf opened #1002 "postMessage: URL could not be cloned"
### What's wrong?

[code]

when you:

- use the redux helper
- have a URL instance in your reducers

### Suggested fix

Document under `Troubleshooting`

### Screenshots

<img width="1244" alt="Screenshot 2019-07-19 at 00 23 01" src="https://user-images.githubusercontent.com/193115/61496082-64679800-a9bb-11e9-8737-17a38593ba8f.png">

### Workaround

Don't keep URL instances in your state. Perhaps

[2019-07-19 09:45] #1002 closed

[2019-07-28 17:06] samrith-s opened #1009 "React Cosmos Next: Webpack build fails with cryptic errors"
### What's wrong?

This is my current folder structure:
[code]

This is `span.js` fixture. The other fixture is exactly the same:
[code]

### Steps to reproduce
I have a script in `package.json` called `cosmos`. I just run `yarn cosmos`.

### Screenshots

### User info

- Server terminal output
[code]
- Cosmos version: `5.0.0-alpha.21`
- If bug occurred on upgrade: Working Cosmos version

You can

[2019-07-28 17:17] samrith-s commented on #1009
Okay, I fixed the error, which was because of incorrect `.babelrc` file.

Now, the new error is:
[code]

[2019-07-28 17:33] samrith-s commented on #1009
The above error is because `babel-loader` used within Cosmos, is an older version which uses Babel 6. If I manually install `babel-loader`, it atleast builds. But then it throws this error:
![image](https://user-images.githubusercontent.com/9032162/62010649-c23f7100-b16d-11e9-94a9-02663aacc704.png)

[2019-07-28 19:06] skidding commented on #1009
- Does anything load at http://localhost:5000?
- How does your standard dev environment work? Eg. Do you use CRA or a standard toolkit
- If you can provide a minimal public repo I will happily debug

[2019-07-28 19:11] samrith-s commented on #1009
Hey @skidding The repo link is already in the issue. Posting it again! https://github.com/samrith-s/enkel

As for the other questions:
- No, nothing loads at http://localhost:5000, as soon as Webpack is done building, is crashes with the `FSEvents` error. This oddly, also causes my Chrome to crash if I don't terminate the process quickly.
- I use CRA as my dev environment.

In the Enkel repo, you

[2019-07-28 21:32] skidding commented on #1009
Damn, I get so used to not getting a repo with issues that I automatically assumed you hadn't posted one. Sorry! 😅

Actually, your cosmos config isn't even picked up by Cosmos, because it's of a previous format.  If you look into the [Cosmos Next](https://github.com/react-cosmos/react-cosmos/blob/master/NEXT.md) docs you'll see the new config is JSON, and some options have changed. I hope to move

[2019-07-28 21:36] samrith-s commented on #1009
I can understand, no problem at all! 😁

Ah okay, got it. I will try it out.

The one problem I noted with the NEXT docs is that they are kinda scattered. So when I initially encountered the error, I had to flip between `NEXT.md` and the main `README.md` and figure out the steps.

Also, if I install `babel-loader` manually, CRA's pre-flight check fails. That's no good. 😞

I shall update this issue

[2019-07-28 21:47] skidding commented on #1009
OH, how did I miss this. You need to put fixtures in `src` if you want to use [CRA's own webpack config](https://github.com/facebook/create-react-app/blob/404af90d9a4d3e2cc38ccb905ad8275480f5aeb7/packages/react-scripts/config/webpack.config.js#L381). And you do, because you want code in Cosmos to be bundled the same as in the CRA dev environment.

Put fixtures in `src` and you can update your Cosm

[2019-07-28 22:00] samrith-s commented on #1009
OH yes! I missed it too, even though I read through all of it!

Dang it. Thanks, it works now! I LOVE the new UI! 😁

[2019-07-28 22:02] samrith-s commented on #1009
Also, once the library is done, I shall send out the URL to you! You can check it out. I'm planning on using it as the doc page of my library! 😄

[2019-07-28 22:03] #1009 closed

[2019-07-28 22:05] skidding commented on #1009
Awesome!

Definitely an interesting suggestion. Right now I'm working hard to close in on v5 and move past this big milestone. I'll keep it in mind when I lay down the next roadmap.

---

Would it be too much to ask to update NEXT.md with the two gotchas?

- `"watchDirs": ["src"]` for FSEvents error
- To put fixtures in `src` when using CRA

[2019-07-28 22:06] samrith-s commented on #1009
Not at all, I will quickly create a PR and tag you on it! :)

And, perfect! I can also pick up some issues over this week which might need help!

[2019-07-28 22:08] skidding commented on #1009
PS. If your feature request never makes it in the official bundle, I can show you how to do it with a plugin, after the public release of the plugin API later this year.

[2019-07-28 22:12] samrith-s commented on #1009
Thanks, that'd be awesome pretty cool as well. I'll then create a plugin which does it for people who are interested in doing the same.

[2019-07-28 22:29] samrith-s commented on #1009
@skidding Please do check out the PR https://github.com/react-cosmos/react-cosmos/pull/1010

[2019-07-28 22:34] skidding commented on #1009
Thanks!

[2019-07-31 15:18] abstracthat opened #1012 "Empty watchDirs speeds up hmr"
### What's wrong?

Our repo has a large number of files (it's a huge Rails app). HMR was very slow in our app (10+ seconds). By setting `{"watchDirs": ["./front-end/components"]}` I was able to speed HMR up to 2-3 seconds.

Curiously, if the component and fixture file are in the root of the repo the rebuild is 200-300ms! I tried every combination I could think of and the only way to keep the HMR r

[2019-07-31 16:00] abstracthat commented on #1012
As a follow-up, I now see the problem with `watchDirs: []`. When I add a new fixture it is not picked up. That's unfortunate. But the HMR rebuild time is an order of magnitude faster so I'm not sure what to do. Any ideas?

[2019-07-31 17:38] acting326 commented on #743
@mitsuishihidemi @skidding, was there ever any resolution on this? I just lined things up and got the custom webpack config properly extended but am still getting the error in the playground  but with no actual error in the terminal. Let me know if you need any more context!

[code]

[2019-07-31 18:32] acting326 commented on #743
From other tickets, I've seen references to the `html-webpack-plugin`, looking at the playground I'm seeing:

![Screen Shot 2019-07-31 at 2 28 38 PM](https://user-images.githubusercontent.com/14987737/62237735-8855b100-b39f-11e9-8490-9d86229002f4.png)

☝️ should there be "html-webpack-plugin" under the "plugin" key in "deps"?

[2019-07-31 18:39] acting326 opened #1013 "Webpack error (cont'd?)"
Referencing this closed issue from a year ago:
https://github.com/react-cosmos/react-cosmos/issues/743

Wanted to open up a new issue (in case closed issues aren't surfaced) with the same message re-iterated:

@mitsuishihidemi @skidding, was there ever any resolution on this? I just lined things up and got the custom webpack config properly extended but am still getting the error in the playground

[2019-07-31 19:06] skidding commented on #1012
@abstracthat That is correct, `watchDirs` is used for detecting _new_ fixtures. The ones already bundled hot reload without additional watching.

Cosmos merely registers each dir as a webpack loader dependency. Meaning that the build will invalidate when anything in those dirs changes. But webpack does the _watching_. Here's the code:

https://github.com/react-cosmos/react-cosmos/blob/84878cd8122d

[2019-07-31 19:12] skidding commented on #1013
Hi @acting326,

Are you just getting started or already have many fixture created? If the former, I recommend installing `react-cosmos@next` and reading these docs: https://github.com/react-cosmos/react-cosmos/blob/master/NEXT.md

The config is slightly different, and is a JSON file. But let me know which version you'll use and we'll take it from there. I'm currently putting all my energy into the

[2019-07-31 20:10] acting326 commented on #1013
Heya, @skidding! Appreciate the quick response. Haven't gotten that far yet so I can definitely check out vnext. The quirk about the webpack setup I'm working with is that the `webpack.config.js`'s module export looks like this:

[code]

How might I integrate the `baseConfig` as the input in `webpack.override.js` rather than defaulting to "what's one loaded from `webpack.configPath`", since our se

[2019-07-31 21:14] skidding commented on #1013
Hey. So use `webpack.overridePath` would be more difficult because you're overriding all the changes Cosmos added to the base webpack config. It is possible, but I propose an easier alternative.

Use `webpack.configPath` and point to a new file, say `webpack.config.cosmos.js`, which would look like this:

[code]

Does it work?

[2019-07-31 21:55] acting326 commented on #1013
Hmm I'm getting the following error in my terminal:

[code]
Following that down a little, I'm seeing that `userWebpack` is `undefined` in `getDevWebpackConfig` in devServer.js, which seems weird since it looks like `webpackDevServer` should have returned out without `userWebpack` here:

![Screen Shot 2019-07-31 at 5 50 31 PM](https://user-images.githubusercontent.com/14987737/62250948-5272f580-b3b

[2019-07-31 22:22] skidding commented on #1013
[This is the line that's failing](https://github.com/react-cosmos/react-cosmos/blob/beb07ecceda1aef012bdae188cc16dd7b9dc45d2/packages/react-cosmos/src/plugins/webpack/webpackConfig/devServer.ts#L25). It seems like your webpack config is missing the `module` key.

In your `webpack.config.cosmos.js`, or however you called it, `console.log` the config you're exporting (ie. baseConfig). It might not b

[2019-08-01 13:39] acting326 commented on #1013
Yes, @skidding ! It had commented something out while debugging, but found it, thanks!

Now it is building, but I am seeing what I think is the same issue I ran into using `react-cosmos` in the playground.

See here:

<img width="596" alt="Screen Shot 2019-08-01 at 9 35 06 AM" src="https://user-images.githubusercontent.com/14987737/62297887-f9e53c00-b43f-11e9-8635-7456ae365eff.png">

Here is my we

[2019-08-01 17:49] skidding commented on #1013
Not sure it's building, though. The Cosmos UI is prebuilt and works independently from your build. It's likely that your build is still failing. **Any errors in the terminal?**

Well, a bit hard to guess like this but I'd say the issue is that `baseConfig` is not really a standard webpack config. Yes, it can be a function, but [the first argument should be the environment](https://webpack.js.org/c

[2019-08-01 19:13] ganapativs opened #1014 "Where is demo link?"
Is there a demo link? If it's there, it's not discoverable because I couldn't find it.

Can it be added somewhere to the top of the README?

[2019-08-05 08:09] avin opened #1017 "Toasts position"
Hey! Thanks for such a comfortable tool for react developers!

Can you make abbility to configure default position for popup toasts? For example to show it at bottom-right or bottom-left etc. Thank you!

[2019-08-05 09:30] skidding commented on #1017
Hi @avin,

I’m curious, where would you move it and why?

[2019-08-05 09:45] avin commented on #1017
Just don't want it overlaps elements. For example:
![image](https://user-images.githubusercontent.com/36100/62455346-cdeaf300-b77e-11e9-88a5-ea70e4699013.png)

[2019-08-05 11:06] skidding commented on #1017
I've had this issue as well. I'm thinking of moving it to bottom-right. And if anyone else complains then we can think of making it configurable. Good defaults first. What do you think?

[2019-08-05 11:14] skidding commented on #966
Updated the React Native integration in Cosmos Next: https://github.com/react-cosmos/react-cosmos/blob/master/NEXT.md#react-native

Please reopen if you still have issues.

[2019-08-05 11:14] #966 closed

[2019-08-05 13:31] #1017 closed

[2019-08-05 13:43] skidding commented on #1017
@avin Please check `react-cosmos@5.0.0-alpha.23` 🕺

[2019-08-05 14:05] avin commented on #1017
works fine, thank you

[2019-08-14 20:36] jlyman commented on #661
For those who arrive here in the future and may be a Webpack neophyte like myself, adding `mode` to Webpack (when not using the command line switch) is pretty simple. In your webpack.config.js, add something similar to the following:

[code]

[Webpack docs for mode](https://webpack.js.org/configuration/mode/)

[2019-08-15 16:14] skidding commented on #1013
@acting326 Any update?

[2019-08-16 15:42] acting326 commented on #1013
Sorry for the radio silence. Shelved the work for a bit. I'm going to try again this weekend and update and re-open if needed. Closing for now 🙇

[2019-08-16 15:42] #1013 closed

[2019-08-24 22:02] Izhaki opened #1023 "HOCs option in fixtures."
### What's up?

Most of the components I write ship with various HOCs, so the final behaviour is composed.

For instance:

[code]

Note also that some HOCs are parameterised, meaning that every fixture might involve slightly different composition. Further, I often end up having these compositions in subfolders since there is a fair share of related code.

Effectively, nearly every fixture involves

[2019-08-27 20:27] skidding commented on #1023
Hi @Izhaki,

This thread should help: https://github.com/react-cosmos/react-cosmos/issues/568.

Also, have you given [Cosmos Next](https://github.com/react-cosmos/react-cosmos/blob/master/NEXT.md) a try? I believe it solves this problem altogether.

[2019-09-05 11:43] Izhaki commented on #1023
Right then!

I've started migrating fixtures from Cosmos to Next.js, because I just wanted my fixtures to be react components, only to now find out that Cosmos Next does exactly that.

This is such a better approach!

In my case it's a no-brainer: I've got to migrate to Cosmos Next. I just hope it's stable enough.

[2019-09-05 11:43] #1023 closed

[2019-09-05 12:38] skidding commented on #1023
@Izhaki That's good news. A significant number of Cosmos users, including myself, have been testing Cosmos Next for almost a year so yeah it's pretty stable. I plan to go from alpha to beta this month and freeze features, after which I'll redesign the documentation and help users migrate.

[2019-09-07 10:33] michaelkutuzov opened #1034 "Cosmos playground don't load custom font from bundle."
Good afternoon!
### What's wrong?
Cosmos playground don't load custom font from bundle.

### Steps to reproduce
I have font *Circe* in woff and woff2 formats. I use @font-face to include it in code base.
[code]
**SCSS code of component**:
[code]
Here used postcss loader with plugin
[code]

All fonts add correctly in development and production mode, when I use my webpack config. But if I launch rea

[2019-09-07 13:03] michaelkutuzov commented on #1034
### I found solution to this bug!

For all who will stuck in future:
Add to cosmos.config.json

[code]
In my case it is

[code]

[2019-09-07 13:03] #1034 closed

[2019-09-07 14:59] skidding commented on #1034
@michaelkutuzov Happy to hear you solved your issue!

[2019-09-09 19:31] skidding commented on #452
Closing this because the new JSON config is much simpler and thanks to JSON Schema it doesn't take README space anymore.

[2019-09-09 19:31] #452 closed

[2019-09-09 19:33] skidding commented on #522
Fixtures now update by default on HMR. Changes in the props/state panels are also preserved unless the changed values were also changed in the fixture, in which case the fixture changes override the changes made in the UI.

[2019-09-09 19:33] #522 closed

[2019-09-09 20:40] #1014 closed

[2019-09-09 20:42] skidding commented on #1014
Thanks @ganapativs. The [new README](https://github.com/react-cosmos/react-cosmos/blob/master/README.md) now has a link to a live demo. And in the future I would like to create a "marketing" website that explains functionality (without having to install Cosmos to understand).

[2019-09-13 14:40] skidding commented on #946
Good news!

I've got Cosmos to work with Yarn PnP. For me, it was only about [configuring `pnp-webpack-plugin`](https://github.com/react-cosmos/pnp-example/blob/350d7f7687890c2d123dab7bb95a645c6a74338c/webpack.override.js).  Check out the [php-example](https://github.com/react-cosmos/pnp-example).

Can anyone else confirm this? I'm on `yarn@1.17.3` and `react-cosmos@5.0.0-beta.2` btw. @marco-silva

[2019-09-13 15:21] #620 closed

[2019-09-13 15:26] skidding commented on #620
Good news @neezer,

The Cosmos project ID is now `package.json#name`, with fallback to the name of the immediate project directory.

I've also fixed the 2nd issue where local paths ended up in the export bundle. It was as simple as using `require`s instead of `import`s when bundling the global user imports. Webpack-specific stuff...

Let me know if you still have issues if you get the chance to tr

[2019-09-21 23:44] dantman opened #1045 "Does not work in neutrinojs setup"
### What's wrong?

I am trying to setup react cosmos in my neutrinojs based project. However it just sits there saying "Waiting for renderer..." with nothing on the left and an image below.

I did a little investigation and it looks like it loads _renderer.html but what comes back is my normal index.html's contents.

I cannot find any documentation on configuration I may need to change.

### Steps

[2019-09-22 03:48] dantman commented on #1045
I did some experimentation, the issue is primarily the template. It appears that react-cosmos does not handle many of the possible ways of configuring HtmlWebpackPlugin.

The problem is [changeHtmlPluginFilename](https://github.com/react-cosmos/react-cosmos/blob/v5.0.0-beta.3/packages/react-cosmos/src/plugins/webpack/webpackConfig/htmlPlugin.ts#L57-L66). If it sees an `index.html` it thinks everyt

[2019-09-22 03:50] dantman commented on #1045
If that issue is fixed cosmos works. Though as a secondary issue if a fixture has an error the console has a bunch of 404 errors for urls like: `http://localhost:3001/__get-internal-source?fileName=webpack-internal%3A%2F%2F%2F.%2Fnode_modules%2Ftiny-invariant%2Fdist%2Ftiny-invariant.esm.js` suggesting something else is set wrong or not being registered.

[2019-09-23 20:15] skidding commented on #1045
Hi @dantman,

A few ideas before looking more closely into this:

- As a last resort you can use [webpack.overridePath](https://github.com/react-cosmos/react-cosmos#webpack-config-override) to replace the `html-webpack-plugin` with a fresh instance that doesn't break Cosmos. You have to mutate `webpackConfig.plugins` by finding the index of the HTML plugin, which is nasty business, but should allo

[2019-09-24 03:31] dantman commented on #1045
Here's a test repository: https://github.com/dantman/cosmos-neutrino-test

Using `npx neutrino --inspect` will give you a dump of the webpack config.

master you'll see is broken by the `chunks` option. If you edit `changeHtmlPluginFilename` in `node_modules/react-cosmos/dist/plugins/webpack/webpackConfig/htmlPlugin.js` by commenting out the if condition and adding a `delete htmlPlugin.options.chu

[2019-09-25 18:25] skidding commented on #1045
Here's what I found related to this.

Cosmos uses react-error-overlay (a create-react-app package), which brings the nice CRA error overlay into Cosmos. It's not a perfect marriage, however, because REO is still somewhat coupled to the CRA server.

For example, when you click inside the stack trace, the overlay launches the related file in your editor at the exact column:line. This is also impleme

[2019-09-25 18:45] skidding commented on #1045
There are two things to consider about `changeHtmlPluginFilename`:

1. It keeps all instances of HtmlWebpackPlugin that don't have the filename equal to `index.html` as is. I don't remember exactly where this was needed, but some framework or boilerplate was creating multiple assets that were all needed for the components to work properly.
2. It keeps the _main_ HWP instance, but changes its filen

[2019-09-25 19:07] dantman commented on #1045
That's an ok place to do it. However there are a few things to keep in mind.

1. You may need to use destructuring, an `omit` function, or something else there to literally omit the `chunks` property from `htmlPlugin.options`. I tried "omitting" `template` using `template: undefined`, `template: null`, and `template: ''` and none of them worked. htmlPlugin may be similarly fussy with other options

[2019-09-25 20:48] dantman commented on #1045
Probably because [WebPack says](https://webpack.js.org/configuration/devtool/#devtool) they're faster.

[2019-10-02 22:18] betoharres commented on #966
Thanks a lot, sorry for never taking on this again. I'll take a look on the project state ASAP. I had to continue with storybook but I hope one day I can migrate to cosmos. Great project btw!

[2019-10-03 06:41] skidding commented on #966
Thanks! FYI the docs moved here: https://github.com/react-cosmos/react-cosmos/tree/81373eb67174ef320d63a7bf05f3e7a38f56d577#react-native

[2019-10-03 07:18] mpeyper opened #1055 "Compatibility with core-js 3"
### What's up?

Currently I'm unable to set [babel's preset-env to use the `corejs: 3` option](https://babeljs.io/docs/en/babel-preset-env#corejs), which involves installing `core-js@^3`, without react-cosmos failing on an error about `@babel/runtime-corejs2`:

[code]

### Mkay, tell me more...

I'm using a custom webpack config, with a custom babel config setting the value with a custom babel pre

[2019-10-05 09:19] skidding commented on #1045
Hi @dantman, I have an update on this issue:

- Published a fix that omits the `chunks` option when reusing HTML webpack plugin instances from the user's webpack config, as discussed.
- Added a [troubleshooting](https://github.com/react-cosmos/react-cosmos/tree/master#troubleshooting) entry about the 404 errors you were getting and the potential fix of changing the source maps option. There may be

[2019-10-05 09:19] #1045 closed

[2019-10-09 22:33] jedireza opened #1061 "Vague `EACCES: permission denied` error"
### What's wrong?

Sorry for opening a really general bug report, but I have no idea what the error could be here.

### Steps to reproduce

1.  Installed `yarn add react-cosmos`
2.  Created `cosmos.config.json` (contents below)
3.  Start it up `yarn cosmos`

### Screenshots

N/A

### User info

- Server terminal output
[code]

- Browser console output
N/A

- Cosmos version
`5.0.0-beta.6`

- If bug

[2019-10-09 22:49] jedireza commented on #1061
Update: Just tried the same steps on macOS Mojave and got the same error.

[2019-10-10 19:45] skidding commented on #1061
Hi @jedireza,

Haven't seen this one before. But `watchDirs` should sit outside `webpack` in the config. Try this and see if the error continues. If it does, also try setting `watchDirs` to `[]`.

Let me know if you see any change. Thanks!

[2019-10-11 05:48] jedireza commented on #1061
🤦‍♂even after moving `watchDirs` up I get the same error. I'll continue to debug further as time permits.

[2019-10-11 07:39] skidding commented on #1061
Did you also try setting `watchDirs` to an empty list? This will show if the error is related to the watcher, which by the way isn’t required most of the time, even hot reloading works without it.

It actually seems like Cosmos is loading your webpack config from `webpack/config.js`.

In any case, a minimal reproducing repo would help determine if this issue is related to your setup or your machin

[2019-10-18 21:42] arseneyr opened #1069 "HMR doesn't work with create-react-app on Windows"
### What's wrong?

Hot module reloading does not work with create-react-app and the recommended Cosmos config.

### Steps to reproduce

1. Create a new CRA
2. Add react-cosmos@next
3. Add the recommended Cosmos config:
[code]
4. Add a minimal fixture to `src/App.fixture.jsx`:
[code]
5. Start Cosmos
6. Edit `src/App.jsx`

Expected result:
The fixture is reloaded with the new component.

Actual Resu

[2019-10-18 23:00] skidding commented on #1069
Hi @arseneyr,

I just updated the react-cosmos CRA example repo with the latest deps (the ones you use): https://github.com/react-cosmos/create-react-app-example/commit/671e5c0ba92f17a708e6118708e3ae096f1eed4d

HMR works fine on my end. Can you please test this repo on your machine to see if you get the same experience? Depending on this result we'll know what to investigate next.

[2019-10-18 23:19] arseneyr commented on #1069
Thanks for the quick response @skidding. I tried cloning the repo and am still getting no HMR. I forgot to mention that I'm on Windows 😕. I'm not an expert on webpack but it looks like the `userDepsLoader` is not getting rerun on changes to the `src/` dir. Perhaps there is something strange going on with directory watching on Windows?

[2019-10-19 00:11] arseneyr commented on #1069
Update: looks like `webpackLoaderContext.addContextDependency()` can't handle forward slashes on Windows. When I force the watchDirs to have backslashes, HMR works again. Not sure if this is a webpack or watchpack bug.

[2019-10-19 02:17] arseneyr commented on #1069
I've opened https://github.com/webpack/watchpack/issues/123. This seems like it will be fixed in webpack v5. But in case it's not fixed for v4, could we do a stopgap fix where we either glob the watchDirs (if they are meant to support globs) or exclude them from slash conversion (if they are not)?

[2019-10-19 18:30] skidding commented on #1069
@arseneyr,

Thanks for looking into this.

If not normalizing slashes for the watch dir paths solves the issue then I will accept a PR that changes [this line](https://github.com/react-cosmos/react-cosmos/blob/b1fb009339c2641a67f583809a3cce4ed46c3040/packages/react-cosmos/src/config/createCosmosConfig.ts#L52) to use `path.resolve` instead of [the `resolvePath` helper](https://github.com/react-cosm

[2019-10-20 12:02] skidding commented on #789
FYI, a keyboard shortcut was added for going full screen in #1070. Another big improvement is that all keyboard shortcuts now work even when focused inside the renderer iframe. This will be available starting with `5.0.0-beta.11` and above.

![image](https://user-images.githubusercontent.com/250750/67159223-8e2db380-f34a-11e9-9629-af39ea2a7ad0.png)

[2019-10-20 12:02] #789 closed

[2019-10-21 03:53] arseneyr commented on #1069
Webpack v5 is using watchpack v2 beta, which I've verified doesn't have this issue.

I've opened a PR with your suggested fix. I don't think any of the regular contributors use Windows to build react-cosmos, so I had to make several small changes for it to build successfully on my machine. Let me know if you're interested in another PR with these changes.

[2019-10-21 08:49] #1069 closed

[2019-10-21 09:41] skidding commented on #1069
@arseneyr Just realized something. HMR and watchDirs are related to separate things. watchDirs listens for new fixture files, and removed ones perhaps. Even if you set watchDirs to an empty array, HMR should still work for files that were bundled in the initial build.

So maybe HMR still doesn't work for you in `5.0.0-beta.11`? Let me know what are you thoughts and findings on this.

[2019-10-21 19:53] arseneyr commented on #1069
Interesting. Using the `create-react-app-example` repo, I've confirmed that HMR works on `5.0.0-beta.11` when it didn't on `5.0.0-beta.10`. However, when I remove the `watchDirs` option entirely (or set it to another folder), HMR starts working again on `5.0.0-beta.10`. So I think HMR was always enabled but the `addContextDependency()` behavior was breaking HMR for anything listed in `watchDirs`.

[2019-10-21 22:36] skidding commented on #1069
Wow, what a messy situation. I really appreciate you took the time to verify this!

Your issue got me playing with my Windows VM today, and I fixed a couple of issues in IE11. I ended up making a bunch of releases in rapid succession due to poor management on my part, but all is good now. But I was only loading Cosmos inside the VM with the server running outside, so I didn’t debug building Cosmos

[2019-11-08 17:36] amiramix opened #1083 "npm error when blindly following the installation instructions"
### What's wrong?

npm ERR! missing script: cosmos

### Steps to reproduce

Follow the instructions in the `README` file

1.  Install react-cosmos@next to get started.

`npm install react-cosmos@next`

2.  `npm run cosmos`
3.  See the error above

### Additional context

This obviously works:

`npx react-cosmos@next`

This also seems to work:

`./node_modules/.bin/cosmos`

So the problem is with n

[2019-11-08 22:31] jedireza commented on #1061
Turns out this was a symptom of our project using `CleanWebpackPlugin` with some egregious globs:

[code]

Many thanks to @joshua703 for finding this. 🙏

[2019-11-09 15:12] #1083 closed

[2019-11-22 05:29] umidbekkarimov opened #1088 "Edit in CodeSandbox button"
### What's up?

React-Cosmos already has an `Open fixture` button in dev mode, but this functionality is missed in production.

### Mkay, tell me more...

I've implemented this using `babel` plugin with cosmos decorator already:  https://github.com/superdispatch/ui/pull/32. It's fine for now, but it's hacky and can break after internal changes in react-cosmos.

[2019-12-10 21:04] chovy opened #1096 "Error on first run: TypeError: Cannot read property 'invalid' of undefined"
Getting an error after installing

TypeError: Cannot read property 'invalid' of undefined

[code]

[2019-12-10 21:31] skidding commented on #1096
Hi @chovy,

What webpack version do you have installed?

[2019-12-10 21:32] skidding commented on #1096
Also, would you please share you webpack config

[2019-12-11 18:42] chovy opened #1097 "How do I tell it to look for fixtures files in ./src directory?"

[2019-12-11 19:07] chovy commented on #954
I'm having this issue on 4.8.1

[2019-12-11 19:07] skidding commented on #1097
You can set [rootDir](https://github.com/react-cosmos/react-cosmos/blob/5a4a0df870771432b36dcf9ed69968c934c1263b/packages/react-cosmos/config.schema.json#L10-L14) to `"src"`. Just note that all paths in the Cosmos config are relative to `rootDir`.

But most of the type just setting [watchDirs](https://github.com/react-cosmos/react-cosmos/blob/5a4a0df870771432b36dcf9ed69968c934c1263b/packages/react

[2019-12-11 19:07] chovy commented on #1097
where what? what file does this go in??

[2019-12-11 19:08] skidding commented on #1097
https://github.com/react-cosmos/react-cosmos#config

[2019-12-11 19:10] skidding commented on #954
@chovy Please use `react-cosmos@5.0.0-rc.0`, it will become official in a few days and it's more stable than 4.x.

[2019-12-11 19:11] chovy commented on #1097
[code]

Put this in `./cosmos.config.json` doesn't seem to have any impact.

[2019-12-11 19:14] chovy commented on #1096
This was with webpack3. I downgraded to 4 and it worked.

[2019-12-11 19:15] chovy commented on #954
Can't. I'm stuck on webpack3 for now.

[2019-12-11 19:24] skidding commented on #954
Then you should use https://github.com/react-cosmos/react-cosmos-classic instead. This repo is repo is strictly about React Cosmos 5 now.

[2019-12-11 19:25] skidding commented on #1097
Cosmos config is JSON. Your config sounds like a Cosmos Classic (4.x) config. Please use https://github.com/react-cosmos/react-cosmos-classic if you can't upgrade webpack.

[2019-12-11 19:25] #1097 closed

[2019-12-11 21:07] chovy opened #1098 "import style from './Button.scss' doesn't work"
[code]

[2019-12-11 21:12] skidding commented on #1096
Added a mention to webpack 4 in the README #1099.

[2019-12-11 21:14] skidding commented on #1098
Please read the README docs. You'll see that React Cosmos doesn't install any build dependencies for you. Most likely you need to install scss-loader and maybe other css-related loaders.

[2019-12-11 21:15] #1096 closed

[2019-12-11 21:17] chovy commented on #1098
ok so i got that working. but it says I have no fixtures, even though the build is finding them.

[2019-12-11 21:31] skidding commented on #1098
You're using React Cosmos 5 fixtures with React Cosmos 4. I'll say it one more time: If you want to use RC 4 use https://github.com/react-cosmos/react-cosmos-classic instead. The documentation you see here will only mislead you as a lot of things changed in RC 5.

[2019-12-11 23:50] #1098 closed

[2019-12-19 00:41] jamiebuilds opened #1109 "View Source"
### What's up?

When statically deploying React Cosmos fixtures, it would be nice to be able to have a "View Source" button that displays the source code for the fixture within the Cosmos UI. This would make it a nicer tool for documenting component frameworks and such.

### Mkay, tell me more...

Here's an [example](https://atlaskit.atlassian.com/examples/core/badge/basic) from the Atlaskit UI fr

[2019-12-19 01:37] jamiebuilds opened #1110 "Snapshots for manual/automated visual regression testing"
### What's up?

Snapshots are a really efficient way to tell if a fixture has changed from one commit to another. They are much faster than re-running an entire browser visual regression tool that requires diffing screenshots from real browsers.

However, looking at changes in snapshots is not a great experience. A lot of the time when snapshots have changed, it was intended. But that just makes i

[2019-12-19 18:02] jamiebuilds opened #1111 "Website Feedback"
I thought I'd give some feedback on how the https://reactcosmos.org could be better, I'm happy to help with some of these items, but better to write them down and discuss them first.

- [x] The website works really well as a marketing site right now, but it doesn't really capitalize on that by calling users to action. It should tell them to "Get Started" or "Install" with either a big button to so

[2019-12-19 18:13] jamiebuilds opened #1112 "Cosmos Export Separate Documents"
### What's up?

In a CI environment I might want to run other tools against all (or [some](https://github.com/react-cosmos/react-cosmos/issues/1110)) of my fixtures. This might be something like visual regression tests or maybe some scripts written with Puppeteer to do smoke testing.

In those scenarios, I probably wouldn't care very much about the Cosmos UI itself, I'd just want to have staticall

[2019-12-19 18:40] skidding commented on #1111
Wow, I really appreciate your thoughtful proposals. I get easily overwhelmed by issues so it might take a while to properly address all your ideas, but I wanted to at least reply briefly to let you know that I'm not ignoring or dismissing your input.

The only thing I kinda have an opinion against is moving all docs to the website. Not that it won't have all the benefits you point out, but mostly

[2019-12-19 18:59] skidding commented on #1111
This was the initial plan for this website but then I got derailed with SVGs and transitions. The Cosmonaut looks pretty sharp so no regrets haha. I also abandoned the idea partly because the live instance won't be very usable on mobile, and because "Live demo" is one click away. That said it's still a good idea.

Yes, this kind of onboarding is gold.

[2019-12-19 19:12] jamiebuilds commented on #1111
If you want to put the docs in markdown, you could also drop them all into a `docs/` folder that can be used to generate the website. I think it would be a pretty significant improvement

[2019-12-19 19:17] BjoernRave commented on #795
@zach-albia are you still using cosmos with next.js and typescript? I tried using your repo with the latests `react-cosmos`, but it's not working anymore

[2019-12-19 22:49] skidding commented on #795
@BjoernRave What's the issue? React Cosmos 5 is fully written in TypeScript and it should also work well with Next.js. Did you see this section? https://github.com/react-cosmos/react-cosmos#using-nextjs

[2019-12-20 15:15] hlehmann opened #1114 "Webpack config returning a Promise"
### What's wrong?

My webpack config is a function returning a promise like in the official docs:
https://webpack.js.org/configuration/configuration-types/#exporting-a-promise

Bug I get the message
[code]

I tested with an sync config and it works well.

Could it be possible to accept Webpack config as a potential promise.

### Steps to reproduce

[code]

### User info

- Cosmos version 5.0.0
- W

[2019-12-20 15:30] skidding commented on #1114
@hlehmann Thanks for reporting this issue. Luckily it will be fixed soon by #1113

[2019-12-20 19:39] #1114 closed

[2019-12-20 19:57] skidding commented on #1114
Please check out `react-cosmos@5.0.1`.

[2019-12-21 00:33] hlehmann commented on #1114
Thx it works well !

[2019-12-31 18:45] brianespinosa commented on #946
We should hopefully have our fairly large monorepo application working with PNP by the end of January. I'll circle back by then to report any issues.

[2020-01-10 10:42] bjunix commented on #1000
Just for reference: I ran into a similar issue with `react-cosmos 5.0.3` using typescript and a barebones `create-react-app`, before finding the [custom webpack config](https://github.com/react-cosmos/react-cosmos/tree/master/docs#custom-webpack-config) section in the documentation.

[2020-01-11 17:56] skidding commented on #1000
@bjunix Thanks for letting us know!

I added a [Troubleshooting section for Create React App](https://github.com/react-cosmos/react-cosmos/tree/master/docs#using-create-react-app) to help users find this information quicker.

[2020-01-13 08:40] avin opened #1139 "Toast does not disapear"
### What's wrong?

Current toaster does not disapear and stay constantly at the corner.
![image](https://user-images.githubusercontent.com/36100/72241963-4214a700-35f9-11ea-8908-468ae5801bcb.png)

### User info

Cosmos-version: 5.0.4

[2020-01-13 09:22] skidding commented on #1139
Hi @avin,

That is on purpose. The message is letting you know that the renderer iframe changed its location in a way that no longer reflects the selected fixture.

The assumption is that once you got in that state you're using React Cosmos as merely another browser window, and you probably want to return to one of your fixtures.

Is your experience different?

[2020-01-13 10:01] avin commented on #1139
So it is ok that it does not disapear in time? If so, then you can close the issue.

![vv](https://user-images.githubusercontent.com/36100/72246801-9b360800-3604-11ea-908a-646a15f23e18.gif)

[2020-01-13 10:26] skidding commented on #1139
Hmm, well I don't think it should occur on a regular basis. It seems like some of your fixtures triggers it as soon as they are selected.

Can you please inspect the preview iframe (the part where your components render) and tell me what's the value of `window.location.href` inside the iframe, after the "Renderer iframe location changed" warning appears?

[2020-01-13 10:33] skidding commented on #1139
Here is an example of what I mean

![image](https://user-images.githubusercontent.com/250750/72248870-d8989680-3600-11ea-80cd-016951807978.png)

[2020-01-13 10:42] avin commented on #1139
![cc](https://user-images.githubusercontent.com/36100/72249501-91170800-360a-11ea-8d4c-8bf0456d03e7.gif)

[2020-01-13 10:47] skidding commented on #1139
Almost there. But the `src` never changes in the Elements tab.

To get the current location you have to click on the `iframe` in the Elements tab, and then open the console and type `$0.contentWindow.location.href`.

Let me know what that returns.

[2020-01-13 10:58] avin commented on #1139
$0.contentWindow.location.href
"http://localhost:5000/_renderer.html#/"

[2020-01-13 11:02] skidding commented on #1139
I see. So you app adds `#/` to window location automatically?

Regardless, I think the "Renderer iframe location changed" warning shouldn't appear when the location only changes its hash fragment.

I'll mark this as a bug and try to push a patch asap. Sorry for the inconvenience!

[2020-01-13 11:04] avin commented on #1139
@skidding  Thank you for fast response, love to use your app :)

[2020-01-13 12:38] skidding commented on #1111
Here's an update on most of the items mentioned:

"Get started" button added right after the intro splash screen.

![image](https://user-images.githubusercontent.com/250750/72255682-09cc9300-3610-11ea-8b82-0c08cccaa628.png)

Added "docs" secondary action on splash screen.

![image](https://user-images.githubusercontent.com/250750/72255750-3385ba00-3610-11ea-941a-a6e182d50ba4.png)

As well as in th

[2020-01-13 18:14] #1139 closed

[2020-01-13 18:18] skidding commented on #1139
@avin Please try `5.0.5` and let me know if the issue persists.

[2020-01-14 07:30] avin commented on #1139
works fine now, thank you very much! 👍

[2020-01-22 09:13] avin opened #1148 "Webpack with NormalModuleReplacementPlugin"
Hey, @skidding! Do you know, is it possible to use NormalModuleReplacementPlugin with react-cosmos

https://webpack.js.org/plugins/normal-module-replacement-plugin

I use it to make environment dependent imports (like described in "Advanced Example" of webpack doc), and want that react-cosmos uses same strategy to import components from fixtures.

I think now there is no such opportunity, but it w

[2020-01-22 09:48] skidding commented on #1148
Hi @avin,

You should be able to use any webpack plugin with React Cosmos.

Can you show me an example of this?

[2020-01-22 10:09] avin commented on #1148
I'll make a demo project tonight

[2020-01-22 12:09] avin commented on #1148
i'm so sorry!! i've messed something, IT WORKS ABSOLUTTLY PERFECT from the box!

[2020-01-22 12:09] #1148 closed

[2020-01-22 14:14] skidding commented on #1148
Beautiful!

[2020-01-23 10:23] luckyraul opened #1149 "Subfolder Export 404"
### What's wrong?

If you export to subfolder (as default) got 404 to /_renderer.html

### Steps to reproduce

1.  export to subfolder
2. open in browser
3. 404 on /_renderer.html
### Screenshots

[2020-01-23 10:50] skidding commented on #1149
@luckyraul Try setting the `publicUrl` config to `"./"` (relative path) and let me know if it fixes your problem.

Like this
https://github.com/react-cosmos/react-cosmos/blob/c0dedd67cfbbb241068d248053f580f0c7bcdf23/website/cosmos.config.json#L4

[2020-01-23 11:37] luckyraul commented on #1149
It's okay, but definitely you need to fix this issue, as by default export is in folder, not root (/cosmos-export)

[2020-01-24 13:39] hlehmann opened #1150 "Compatibility with React-Refresh"
### What's wrong?

React-hot-loader is now deprecated and using `https://github.com/pmmmwh/react-refresh-webpack-plugin` works with the "fullscreen" rendering but not with the main interface.

### Steps to reproduce
Clone
1 - https://github.com/pmmmwh/react-refresh-webpack-plugin/tree/master/examples/wds-kitchen-sink
2 - install react-cosmos
3 - update webpack.config.js config with `const ReactRef

[2020-01-27 15:26] skidding commented on #1149
I don't know how to make static exports work from nested paths by default, without breaking anything else. If I make the `publicUrl` relative by default, then all app URLs will be relative to the current URL instead of relative to the app root. This breaks down as soon as your app has nested routes. I believe even create-react-app requires defining a base URL (`homepage` in package.json?) if you w

[2020-01-27 15:29] #1149 closed

[2020-01-27 20:09] skidding commented on #1150
@hlehmann Here's what I found before adding React Cosmos into the mix:

- Cloned `pmmmwh/react-refresh-webpack-plugin`
- `cd examples/cra-kitchen-sink`
- `yarn` (install)
- `yarn start`

So I tried the other example, the one you mentioned.

- `cd examples/wds-kitchen-sink`
- `yarn` (install)
- `yarn start`

Am I doing something wrong? I wanted to test React Refresh before I add React Cosmos, but n

[2020-01-28 12:43] hlehmann commented on #1150
to make the wds example work you need to fix `webpack.config.js` :
change `const ReactRefreshPlugin = require('../../src');`
with `const ReactRefreshPlugin = require('@pmmmwh/react-refresh-webpack-plugin');`

in both case I get the  warning message but react refresh works with `npm start`

[2020-01-29 23:21] skidding commented on #1150
Managed to get RC working in the react-refresh repo. Here are the steps I took:

1. What you said about importing React Refresh from `@pmmmwh/react-refresh-webpack-plugin`.
2. Rename `filename: './index.html'` to `filename: 'index.html'` in webpack config line 20. I could make a patch to avoid having to do this in the future.
3. Add `mode: 'development'` about webpack config because it was bundlin

[2020-02-03 23:01] hydrosquall commented on #946
I just tried Cosmos out with Yarn 2 on an internal project after running into issues with Storybook ( https://github.com/storybookjs/storybook/issues/9527 ), and am happy to report that this is working out of the box for us! This is using `react-cosmos@5.0.6`.

[2020-02-04 22:54] hydrosquall commented on #946
Update: a caveat is that this appears works fine with `jsx`, but I'm getting about 20 different `Import Declaration Conflicts` warnings that are all shaped slightly like this for every declaration, looking something like this:

[code]

[2020-02-07 21:55] vitalybe opened #1159 "Every component's render function runs twice every time it is shown in cosmos"
### What's wrong?

Every component is rendered **twice** every time it loads.

If this isn't a known issue, I can try to reproduce it in a blank environment.

### Steps to reproduce

1. Create a simple component and add it a fixture, e.g:
[code]
1. Load the fixture in react-cosmos, **RENDERING** message appears twice.

### User info

- Cosmos version: 5.0.6
- Webpack: 4.41.2

[2020-02-08 10:59] skidding commented on #1159
Hi @vitalybe,

In most cases this is expected. When you load a fixture like `export default <Hello greeting="Aloha" name="Alexa" />`, Cosmos saves a copy of the props value in state for you to edit them in the props panel. This causes a re-render.

Is this impairing you in any way? FYI The React team often stresses that we shouldn't worry about re-renders in development because components should b

[2020-02-08 12:15] vitalybe commented on #1159
I just wasn't expecting it, coming from storybook, so I thought I was doing something wrong.  You're right however, it shouldn't matter to my components.

BTW, thanks for your project, I like it a lot and it works very well!

[2020-02-08 12:15] #1159 closed

[2020-02-08 12:32] skidding commented on #1159
Awesome. Good luck!

[2020-02-21 00:11] clinicalinkgithub opened #1165 "Props panel not showing props and state"
### What's wrong?

Props panel NOT showing props and state

### Steps to reproduce

1.  Select the component in Cosmos UI
2.  the props panel says "No visible props)

### Screenshots
![NoProps](https://user-images.githubusercontent.com/40474055/74991702-ba4e6380-5414-11ea-888c-695b373a0b40.jpg)

### User info

- Cosmos version:   "react-cosmos":   5.0.8
- using:  { ReduxMock } from 'react-cosmos-r

[2020-02-21 08:33] skidding commented on #1165
Hi @clinicalinkgithub,

A few details about the props/state panel:
- Props are only detected from [Node fixtures](https://github.com/react-cosmos/react-cosmos/tree/master/docs#node-fixtures), where the props are visible in the fixture element.
- State is only detected automatically from Class components.
- Hooks state can be captured using [`useValue`](https://github.com/react-cosmos/react-cosmos/

[2020-03-05 03:47] michaelfarrell76 commented on #786
upgrade-interactive sucks so much with the monorepo. did you end up finding anything better?

[2020-03-05 10:17] skidding commented on #786
Works pretty well since I removed Expo from the monorepo and minimized deps. It's still clunky, though. Often you upgrade deps with `yarn upgrade-interactive` and then have to call `yarn` (install) again for node_modules to properly sync. Same when you add a dependency inside a package. `yarn add X` then `yarn` in the monorepo root. Speed is no longer a big issue on my current machine.

[2020-03-05 13:00] andyrichardson opened #1166 "Conflicting type exports across packages"
### What's wrong?

Cosmos exports conflict with eachother meaning importing 'react-cosmos' fails in typescript.

<details>
  <summary>Error log</summary>

[code]

</details>

### Steps to reproduce

Spin up [this sandbox](https://codesandbox.io/s/interesting-tree-7ty56) and run "yarn start"

### Additional context

~Conflicts seem to be related to global/namespace declarations. I suspect having `i

[2020-03-05 14:29] skidding commented on #1166
I think this due to a change in TypeScript 3.7 or 3.8. I remember trying to upgrade once or twice and seeing errors related to how those types are re-exported, and returned to 3.6. But it would be great to solve this and get on latest TypeScript.

Ideally types would be reexported like this

[code]

But this doesn't work with `isolatedModules` set to `true`, which is required for Babel to know how

[2020-03-05 14:42] skidding commented on #1166
Interesting. I've upgrade TS and disabled `isolatedModules` and Babel still builds successfully: https://github.com/react-cosmos/react-cosmos/pull/1167. Maybe something changed in the ecosystem this past months or I'm just missing something.

[2020-03-05 19:30] michaelfarrell76 commented on #786
ah interesting... I've been using `yarn upgrade-interactive --latest` which will actually do the installation + updating versions at the same time, but it goes through each package.json in the monorepo one by one installing the changes which is incredibly slow

[2020-03-05 19:37] skidding commented on #786
Oh yes, that is annoying.

[2020-03-05 20:16] skidding commented on #1166
OK, I figured out why (I thought) we needed to use `isolatedModules`.

1. Babel expects `isolatedModules: true` because it analyses modules independently ([context](https://github.com/chalk/chalk/pull/296#issuecomment-431625641)).
2. Babel still compiles successfully with `isolatedModules: false`, because Babel only needs to strip the types and apply other transforms on the source code. Type safet

[2020-03-13 16:38] andyrichardson opened #1168 "Synchronous dev utilities"
## About

The dev utilities exported from the "react-cosmos" package are great but their async implementation can make basic usage tricky or impossible.

It would be awesome if a sync version of these packages could be provided.

[Here's an example](https://github.com/FormidableLabs/urql-devtools/blob/master/src/panel/visual-regression.test.ts) of how I'm currently using `getFixtureUrls`. Because

[2020-04-01 10:20] andyrichardson opened #1173 "Unable to set/append entry on webpack config override"
### What's wrong?

I'm looking to add some tweaks to the cosmos playground welcome page. I can't do this because the `entry` override gets removed instead of merged.

### Steps to reproduce

1. Create an cosmos.overrides.js
2. Set an entry value (array, object, string)
3. Run a cosmos build

### Suggestions

It would be great if the full cosmos webpack config was provided to the override function

[2020-04-01 10:27] skidding commented on #1173
The playground is precompiled and doesn't get built when you run Cosmos on your machine, so you can't really alter it in any straightforward way. But let me know what are you trying to achieve.

Cosmos overrides the entry because it contains the mechanism that decides which fixture to load by communicating with the playground (via postMessage or WebSockets). Being able to change this will easily b

[2020-04-01 10:34] andyrichardson commented on #1173
My understanding was that the webpack config is for building both the shell (cosmos playground) and the renderer - sounds like it's only for the renderer?

The reason we need this feature is because we're looking to use [Netlify's Open Source Plan Policy](https://www.netlify.com/legal/open-source-policy/) which requires us to add a badge to our deployment's home page (cc https://github.com/Formida

[2020-04-01 10:55] skidding commented on #1173
Correct, it's just for the renderer. The purpose for this was to make the playground more resilient (and faster). It only needs a web server to start, while the renderer is compiling using your own pipeline.

Indeed, that's expected.

Hmm, I can't think of a clean solution right now. There is an underlying plugin system behind the playground, but it's WIP and realistically I don't expect the API t

[2020-04-01 13:57] andyrichardson commented on #1173
No worries, that makes sense! Thanks for the suggestion :+1:

[2020-04-01 13:57] #1173 closed

[2020-04-01 14:25] skidding commented on #1173
😂

My pleasure. Good luck!

[2020-04-09 09:38] andyrichardson commented on #1166
Sorry I didn't respond to this sooner - looks like it's fixed 🙏

[2020-04-09 09:38] #1166 closed

[2020-04-09 09:50] andyrichardson opened #1176 "v5.2.0-alpha.0 feedback"
## About

Tried out the alpha and statically, everything looks to work great!

Super minor but would be awesome if the export the FixtureApi type for times where explicit typing is required (i.e. a reduce). I used this as a workaround - `type FixtureApi = ReturnType<typeof getFixtures2>[number];`

I'm now [getting a runtime error in jest](https://app.circleci.com/pipelines/github/FormidableLabs/ur

[2020-04-09 10:31] skidding commented on #1176
Great feedback!

Fixed the `fixtureTree` entry point and exported the `FixtureApi` type in `5.2.0-alpha.2`.

[2020-04-15 10:18] andyrichardson commented on #1176
@skidding thanks for this!

One final thing before I close this, I think the _rendererUrl_ and _playgroundUrl_ values are the wrong way round. Right now I'm seeing the following:

[code]

[2020-04-15 11:48] skidding commented on #1176
![image](https://user-images.githubusercontent.com/250750/79332565-b9721380-7f25-11ea-8624-a95fc88fa661.png)

😂

Fixed in `5.2.0-alpha.5`.

@andyrichardson thanks again!

[2020-04-15 12:34] #1176 closed

[2020-04-25 12:31] jkavalec opened #1187 "Setting html wrapping the component"
I need to be able to set a custom html wrapper - default one just tightly wraps around component with a margin, which prevents me testing container components that expand to the width and height of the screen.

Is there any way how to set this up?

[2020-04-25 13:06] skidding commented on #1187
This is just the default behavior of the `body` element. React Cosmos doesn't add any wrapper by default.

You can approach this in many ways:

1. Add some global CSS (using [the `globalImports` config](https://github.com/react-cosmos/react-cosmos/blob/fb2e0deb5f4f1fde48940ea9370d36d7f142bdfa/packages/react-cosmos/config.schema.json#L92-L97)) and make the `body` element stretch to full window size

[2020-04-25 13:08] skidding commented on #1165
Closing due to inactivity. Feel free to reply if this is still an issue.

[2020-04-25 13:08] #1165 closed

[2020-04-25 14:37] jkavalec commented on #1187
Thank you very much!

First two options work well, didn't try third, I am using CRA and don't want to change any WP related stuff.

[2020-04-25 15:46] skidding commented on #1187
Sounds great. Can we close this issue?

[2020-04-25 15:46] #1187 closed

[2020-04-25 21:22] skidding opened #1189 "Include publicUrl in renderer URL returned by getFixtures2"
### What's wrong?

There's a bug in the way `rendererUrl` [is computed](https://github.com/react-cosmos/react-cosmos/blob/d33b70a6049ac0a79f466fc1a88c198a62e4e9be/packages/react-cosmos/src/getFixtures2.ts#L92-L95). It only affects users that set `publicUrl` to something else than the default value, which is `'/'`.

### Additional context

The correct way to compute it is seen [here](https://github

[2020-04-26 16:57] #1189 closed

[2020-05-06 10:22] andyrichardson opened #1198 "Unable to reproduce intentional states where objects contain undefined"
## About

Hi there 👋 I'm having an issue where prop values are being changed by cosmos causing some fixtures to render incorrectly.

## Reproduction
Consider the following component

[code]

Here's a few example outputs in the browser given props:

#### Example 1
Props
[code]

Result
[code]

#### Example 2
Props
[code]

Result
[code]

Here are the same examples being rendered in cosmos

#### Examp

[2020-05-06 21:56] skidding commented on #1198
Hi @andyrichardson,

You're right, that file is probably the culprit. That code is related to the props panel and, if I recall correctly, the omission of undefined props was made in order to support a use case where you could delete a prop in the prop panel (temporarily), which we don't even support visually :).

I'll look more into it and maybe remove it that code, especially if it's dead code.

[2020-05-08 21:29] skidding commented on #1198
@andyrichardson this should be fixed in `5.3.0-alpha.5`. Please let me know when you get the chance to try it out.

[2020-05-09 12:02] andyrichardson commented on #1198
@skidding I didn't get around to trying your workaround - I'll give the Alpha a shot by Monday morning at the latest!

Thanks for looking into this 🙌

[2020-05-11 09:49] andyrichardson commented on #1198
Just tried `5.3.0-alpha.5` and undefined values inside objects property values are now working as expected - ([snapshot](https://github.com/FormidableLabs/urql-devtools/blob/a409d33de0927bdc07749b373280808a9f54d7e3/src/panel/__image_snapshots__/Arguments%20-%20basic-snap.png) and [reproduction](https://github.com/FormidableLabs/urql-devtools/pull/182/files)).

Thanks a lot for sorting this! 🚀

[2020-05-11 11:46] skidding commented on #1198
Great!

Closing this, then, because `5.3.0` is good to go – I'm only waiting to find some time for some marketing stuff before releasing it. If I don't forget I'll ping you once this change gets into the stable channel 😄.

[2020-05-11 11:46] #1198 closed

[2020-05-21 19:24] skidding opened #1207 "Who uses React Cosmos?"
We would like to gather a list of projects/companies using React Cosmos, for the website.

Let us know if your project/company uses React Cosmos and wouldn't mind being mentioned on the website. Include a logo with a link to the project if you have one. And a link to the cosmos config if it's open source. A short description on how you use React Cosmos and how it has helped you is also welcome.

[2020-05-28 02:09] hammadj opened #1208 "Compilation error when using WebPack: The "to" argument must be of type string"
### What's wrong?

When running react-cosmos with an Expo React Native app and custom webpack override, I get the following error:
[code]

The culprit is this line: https://github.com/react-cosmos/react-cosmos/blob/733e4992f276413a562b430cf406a5dfb0225229/packages/react-cosmos/src/plugins/webpack/devServer.ts#L63

When I change it to
[code]
it works perfectly fine

### User info

- Cosmos version:

[2020-05-28 10:24] skidding commented on #1208
Hi @hammadj,

So the invalid hook is called with a timestamp instead of a file path. That odd, as the `changeTime` is supposed to be the 2nd argument: https://webpack.js.org/api/compiler-hooks/#invalid.

What's your webpack version?

[2020-05-28 14:58] reflash opened #1209 "Configure Cosmos with react-app-rewired"
### What's wrong?

Hi!
I've been trying to configure React Cosmos to work in my project, but I'm using react-app-rewired to start/build the code.
I've followed some documentation on that, but it seems to be outdated (e.g. it requires to override webpack in config.js, but it seems Cosmos requires json file as a config now)

### User info
- cosmos: 5.3.0
- react-app-rewired: 2.1.6

[2020-05-28 15:17] skidding commented on #1209
What documentation are you referring to?

[2020-05-28 21:41] reflash commented on #1209
Seems I've been using some old version of docs, so I figured out how to configure it with webpack config override, thanks!

[2020-05-28 21:41] #1209 closed

[2020-05-28 23:23] skidding commented on #1209
Awesome.

@reflash Can you share what your webpack config override looks like? I want to add a section about react-app-rewired in the new docs for other people in your situation.

[2020-05-29 09:21] reflash commented on #1209
So I've used this method, but modified it a bit https://github.com/timarney/react-app-rewired#5-provide-rewired-webpack-config-for-3rd-party-tools

note: I'm using lessLoader to override ant-design theme
[code]

[2020-05-29 09:29] skidding commented on #1209
Thanks for sharing!

Did you set the `webpack.configPath` to `react-scripts/config/webpack.config` in the Cosmos config? As mentioned [here](https://github.com/react-cosmos/react-cosmos/tree/733e4992f276413a562b430cf406a5dfb0225229/docs#using-create-react-app).

If you do I think you don't need the `webpack.config.js` file at all, as Cosmos will already reuse CRA's webpack config.

[2020-05-29 09:37] reflash commented on #1209
I'm not using `webpack.configPath` to set it. I think rewired applies overrides to the config at `react-scripts/config/webpack.config` and then returns it to react-cosmos.
If I set it to use `react-scripts/config/webpack.config` directly - it works either, but doesn't apply my less-loader changes as they're not part of default CRA's config.

[2020-05-29 09:58] skidding commented on #1209
Makes sense. Thanks for the follow up!

[2020-05-29 13:40] ericwhitefield opened #1210 "Build Error with fresh install of Create React App - babel_loader - Unexpected token"
### What's wrong?

Cosmos does not work with a new install of Create React App

ERROR in ./src/hello.fixture.js
Module build failed (from ./node_modules/babel-loader/lib/index.js):
SyntaxError: /Users/eric/Documents/sourcecode/freshapp/src/hello.fixture.js: Unexpected token (4:15)

  2 | import { Hello } from "./Hello";
  3 |

    |                ^

### Steps to reproduce

- Install a new CRA
- $

[2020-05-29 14:55] skidding commented on #1210
Did you configure Cosmos to use the CRA webpack config as described [here](https://github.com/react-cosmos/react-cosmos/tree/733e4992f276413a562b430cf406a5dfb0225229/docs#using-create-react-app)?

![image](https://user-images.githubusercontent.com/250750/83273753-8b931680-a1d5-11ea-98b3-50db46b62d4d.png)

[2020-06-02 03:48] hammadj commented on #1208
@skidding Im using webpack@4.39.0

[2020-06-02 13:35] ericwhitefield commented on #1210
Thx @skidding it was an incorrect format somewhere in my cosmos.config.json

[2020-06-02 13:52] #1210 closed

[2020-06-03 21:41] jkavalec opened #1211 "Nicer URL"
I am not sure whether there is an option to set this up already.

When I have a component inside cosmos, its URL is in this shape: `http://localhost:5000/_renderer.html_fixtureId=%7B"path"%3A"src%2Feditors%2Fsketch%2F__fixtures__%2FSketch.fixture.tsx"%2C"name"%3Anull%7D`

I want to have TestCafe tests running tests over components, so I would like to navigate to fixtures easily like this:
 `http:/

[2020-06-03 23:34] skidding commented on #1211
Hi @jkavalec,

Since fixtures are ID-ed by file path, your example would need to reference `src/editors/sketch/__fixtures__/Sketch.fixture.tsx`. Fixture files can export more than one fixture, which is why there is also a `name` argument in the URL. You need `/_renderer.html` because just the `/` path loads the React Cosmos UI, instead of the full screen component mode that you mentioned. Another

[2020-06-05 15:51] tezcatlipoca opened #1212 "Cosmos with Drag and Drop"
Hi, and thank you for fantastic work, I've been enjoying and using cosmos with most of my react projects since the early versions.

My apologies for what is probably a very basic question, but since 4.7 or so I have not been able to figure out how to get it to play nicely with drag-and-drop (react-dnd), and this is becoming a real hindrance.  To be sure I'm missing something fundamental but... Hel

[2020-06-05 16:23] skidding commented on #1212
Hi @tezcatlipoca,

Indeed proxies are deprecated, but the new decorators are way easier. So if the React DnD API hasn't changed since I posted that proxy in 2018, this is how a decorator would look like for React Cosmos v5:

[code]

Not sure what Inspector is, though. If this doesn't work, please create a minimal repo with Cosmos and React DnD, and I will help you get it working.

[2020-06-05 17:06] tezcatlipoca commented on #1212
Thanks so much for your quick response. Indeed the decorator is way easier, and gave me a good "a-ha..." I see how this is supposed to work now. It's still not quite working, but I will play with it a bit and see if I can troubleshoot and will post a repo as requested if I have trouble.

FYI "Inspector" is my component, the one the fixture is for. It's more or less [this](https://github.com/react-

[2020-06-05 17:15] tezcatlipoca commented on #1212
Easy fix (dumb mistake): I had the `cosmos.decorator.jsx` file  at the project root rather than inside the `__fixture__` directory ([rereading this](https://github.com/react-cosmos/react-cosmos/tree/master/docs#custom-webpack-config) helped).

Many thanks, all is well now!

[2020-06-05 17:26] skidding commented on #1212
Any `tsx` file probably needs to be in the `src` directory for Babel to compile it – at least this is how Create React App works. Happy to hear it works. Please close the issue if this is resolved.

[2020-06-05 17:29] #1212 closed

[2020-06-07 00:27] skidding commented on #1012
Closed due to inactivity. Report back if this is still an issue.

[2020-06-07 00:27] #1012 closed

[2020-06-07 00:43] skidding commented on #1208
@hammadj I pushed a fix to handle non-string file paths in ddb94b10fe2b1909560385cec3a1c61bba42f21a.

Please try `react-cosmos@5.4.0-alpha.0` and let me know if the error goes away.

[2020-06-09 16:29] smehltrett opened #1217 "Apollo client proxy is getting blocked by CORS policy when fetching from backend."
### Unable to get cors configured in cosmos for apollo client.

I am trying to setup the cosmos apollo proxy to fetch live data from our gql backend within comps. The cors policy on the backend is enabled and configured for our normal app environment and localhost:8989 has been added to the whitelist for cosmos. I have tried using the same client configuration options as our live site but I am sti

[2020-06-11 03:19] hammadj commented on #1208
@skidding awesome, works great now

[2020-06-11 08:52] #1208 closed

[2020-06-11 17:42] skidding commented on #1211
Closing this for now. Feel free to propose an RFC if my answer isn't satisfactory and you feel strongly about this: https://github.com/react-cosmos/rfcs.

[2020-06-11 17:42] #1211 closed

[2020-06-13 10:54] avin opened #1218 "Can I use https with own certs for Cosmos server?"
Not found this feature in manual. I can switch port but seems there is no option to enable https for server. Or I missed something?

[2020-06-14 06:29] skidding commented on #1218
https is not currently supported. The Cosmos server uses Express and I think it's straightforward to provide private key and cert files. Would you be interesting in contributing to add https support?

[2020-06-14 06:36] avin commented on #1218
Ok, I'll try :)

[2020-06-14 08:24] avin commented on #1218
here it is https://github.com/react-cosmos/react-cosmos/pull/1219

[2020-06-14 14:38] ericwhitefield opened #1220 "Waiting on Renderer - webpack - _renderer.html does not exist, is not created"
The Cosmos UI in the browser is waiting for the renderer forever. In the browser inspector network tab it is clearly not able to fetch _renderer.html. The error is correct because _renderer.html was never created by: $ yarn cosmos

This can be confirmed by looking at the file output from: $ yarn cosmos:export

This happens when webpack.config.js is implementing the plugin: HtmlWebpackPlugin

Examp

[2020-06-14 14:56] skidding commented on #1220
Hi @ericwhitefield,

You're right, Cosmos adds HtmlWebpackPlugin to your webpack config if it doesn't find it already in the `plugins` list. It also, however, alters an existing HtmlWebpackPlugin instance found in your webpack config, provided it's the index one – some people have multiple HTMLs configured in a webpack config.

The issue, it seems, is that Cosmos doesn't realize your HtmlWebpackPl

[2020-06-14 15:15] skidding commented on #1218
Just left two comments on your PR, thanks!

[2020-06-15 13:55] ericwhitefield commented on #1220
Thx @skidding, so that makes a lot of sense now. For my use case I could get by with a much simpler config. This works for both my build and Cosmos.

new HtmlWebpackPlugin({
     template: 'src/index.html'
}),

Maybe I will make a PR for the detection. Separately, have you thought about making it more auditable? Perhaps by writing out the altered webpack config?

[2020-06-15 22:40] skidding commented on #1220
No really, but good point. I wouldn't just print the config in the terminal as it would be noise 99% of the time, but there might be ways to improve. Eg. In the "renderer error" screen we could add a button to "copy generated webpack config to clipboard". And/or to figure out in code that a HtmlWebpackPlugin was found in the user's webpack config but couldn't be repurposed by Cosmos because of fil

[2020-06-16 17:21] #1218 closed

[2020-06-21 14:31] #1220 closed

[2020-06-21 14:40] skidding commented on #1220
@ericwhitefield Pushed a fix in #1226 to address this. Can you please try `5.5.0-alpha.2` and see if it works with your initial webpack/HtmlWebpackPlugin config? Thanks!

[2020-07-14 04:16] frankandrobot opened #1232 "Cannot run in latest nextjs"
- Followed the docs to setup cosmos for nextjs.
- note that my nextjs setup does not need a webpack config
- it also does not have a nextjs configuration
- here's a branch w/ the failing Cosmos setup: https://gitlab.com/robotandkid/app-exploding-dogs/-/tree/test/cosmos

However, it appears that Cosmos is looking for a full webpack config (w/ loaders etc) because it's failing with a loader error:

[2020-07-14 09:38] skidding commented on #1232
Hi @frankandrobot,

Cosmos creates its own webpack config if it doesn't find one. It even auto includes Babel loader, etc, based on what webpack loaders you have installed (to some extend). What it can't guess, however, is the Babel config. So maybe this is missing from the Next.js instructions.

Do you have a Babel config in your project? If not please try adding this `.babelrc` in your project r

[2020-07-14 14:32] skidding commented on #1232
Sorry about that, missed your link. I'll check out your repo later and report my findings.

[2020-07-14 19:59] skidding commented on #1232
OK, I found the issue.

You can make Cosmos work by installing `babel-loader`

As the docs say, Cosmos uses any (popular) webpack loader it finds when assembling the default webpack config.

The problem is `babel-loader` is not found in your codebase, so it's not included, as Cosmos doesn't install these sort of deps for you to allow for max flexibility.

I'm not up to date with Next.js internals,

[2020-07-15 02:41] frankandrobot opened #1234 "How to pass parameters to a decorator?"
Here's the example decorator from the docs:

[code]

In my use case, it would make sense to define this decorator in the top-level root and then override  with different stores as needed in different component sub-directories.

Is there currently an easy way to do that? Or does Cosmos follow a different pattern?

[2020-07-15 23:05] skidding commented on #1232
I'm for it, the less docs needed the better. It also shouldn't affect non-Next users as we'll only include the Next babel loader if we find it installed in the user's node modules.

My only concern is making sure that the Next babel loader can be used with standard babel-loader options. If you're willing to try this out I will support your PR. Here is the relevant code, btw: https://github.com/rea

[2020-07-15 23:14] skidding commented on #1234
It's not straightforward to pass parameters to decorator, due to how React works. Decorators are parents of the fixture, so the decorator elements are created before the fixture elements. You need some sort of inversion of control to achieve what you want, and the only simple solution I found so far is to apply decorators manually in your fixture as opposed to using decorator files when you want t

[2020-07-16 09:36] skidding commented on #1232
Don't see why that wouldn't work. It's still a standard babelrc format. Only you pass some options to the Next preset, which knows what to do with those options.

The next dev server compiles its source code and stores the bundle in memory. How would you access those compiled files? Even if you stored the bundle on disk, which happens when you build for production, the bundle is essentially a blac

[2020-07-16 12:13] skidding commented on #1234
Indeed something like that might be a good addition. One closely related thing I've been thinking of lately is giving users the option to read arbitrary exports from fixture modules. Right now we only make use of the default export for the fixture itself, but you could attach all sorts of meta data in named exports, which can be used by decorators, and in other places too (plugins, fixture-based t

[2020-07-18 01:08] skidding commented on #1234
It's type safe as long as you correctly annotate with the same type in both places. I think the same applies to your proposed solution. Can you think of a way to make it more type safe than this?

[2020-07-19 00:08] skidding commented on #1234
Type-safety wise, both solutions are the same to me. Unless you annotate your types (eg. use the same `DecoratorParams` type in both the decorator and the fixture), the type safety breaks. This is less safe than, for example, creating a React element, where it's impossible to pass the wrong prop types and not have your TS/Flow/etc compiler complain. But this is OK with me, as I cannot see how we c

[2020-07-21 13:34] Ghirigoro opened #1236 "Export ignores custom webpack config"
### What's wrong?

My project uses a custom webpack config. Cosmos correctly uses that config when running locally but uses the default one instead when exporting.

### Steps to reproduce

1.  Add the following to your `cosmos.config.json`
[code]
2.  run `cosmos-export`
3.  The output will contain the following in the first line:
`[Cosmos] Using default webpack config`

### User info

Cosmos versi

[2020-07-21 20:34] Ghirigoro commented on #1236
The problem was that my config file was not in the same folder as I was calling export from. Pointing cosmos to the config using the `--config` option fixed the issue.

[2020-07-21 20:34] #1236 closed

[2020-07-26 15:49] skidding commented on #1234
@frankandrobot What do you think of my latest proposal (mostly based on your idea)? Does it satisfy your needs? I'd like to give it a go one of these days. Might be a big improvement for many people.

[2020-07-26 15:52] skidding commented on #1232
@frankandrobot Let me know when you have some time for this. I'd like to know if you're still interested in improving detection for the Next babel loader for webpack. No problem if you no longer have the time, but if so I'd prefer to update the docs to mention this to help other people bumping into the same issue in the meantime.

[2020-07-26 22:23] vitalybe opened #1238 "Unable to use getFixtures2 to get a list of my fixtures"
Hi,

I'm trying to get visual testing working with cosmos (Percy). To do that I've been trying the last couple of hours to make `getFixtures2` run with `node`:

[code]

My initial problems were trying to combine CommonJS and ES6 imports. However, I soon realized that this code is basically trying to dynamically load **all** my frontend code, that's written in TypeScript. So I've tried using both *

[2020-07-27 22:19] skidding commented on #1234
Moved the conversation here https://github.com/react-cosmos/rfcs/issues/16

[2020-07-27 22:19] #1234 closed

[2020-07-31 20:40] skidding commented on #1238
Hi @vitalybe! Sorry for the late reply.

This is correct. Not necessarily _all_ your frontend code, however, just the one your fixtures depend on.

Unfortunately there isn't. `getFixtures2` needs to "open" fixtures to read the fixture names, and you can only do that by importing the fixture modules.

But this is a good idea. You're right, since the dev server / playground is already running when d

[2020-07-31 20:46] skidding commented on #1232
https://github.com/vercel/next.js/blob/master/examples/with-storybook-typescript/package.json#L26

Haha. Well we can be one step ahead and detect the Next babel loader automatically :D.

We already have the `webpackConfig/default.ts` module that I linked above where we check what is installed in the user's codebase, so I don't think searching for another Next-specific module would hurt. So yeah, i

[2020-08-04 02:29] arseneyr opened #1244 "clean-webpack-plugin breaks webpack build"
### What's wrong?

Using `clean-webpack-plugin` with no options causes errors during webpack compilation.

### Steps to reproduce

Run `cosmos` with the following `webpack.config.js`:
[code]

### User info

- Server terminal output (on Windows)
[code]
- Cosmos version
5.4.0
- Cosmos config
None
- If applicable: webpack version
4.44.1
- If applicable: webpack config
See above

### Additional contex

[2020-08-04 19:13] skidding commented on #1232
Sounds good. Let me know if you need help on where to update the docs.

Never mind, I definitely don’t have the bandwidth for this right now. Sometimes I forget that not everyone knows the codebase inside out like I do 😅.

[2020-08-04 20:03] skidding commented on #1244
It is. Cosmos tries to reuse as much as possible from your webpack config (loaders, plugins, etc), but `entry` and `output` are two things it needs control over. In dev mode output.path needs to be `/` for [historical reasons](https://github.com/react-cosmos/react-cosmos/blob/0ab7dd688173c5b95963e82731eef607b992b236/packages/react-cosmos/src/plugins/webpack/webpackConfig/devServer.ts#L69-L71). And

[2020-08-06 11:03] yannick1691 opened #1245 "Unable to install react-cosmos, unable to find all dependencies"
### What's wrong?
Unable to install react-cosmos because it's unable to find all needed dependencies.

### Steps to reproduce
1. Use either `npm i --D react-cosmos` or `yarn add --dev react-cosmos`
2. Install will fail because it's unable to find `https://registry.yarnpkg.com/@skidding/webpack-hot-middleware/-/webpack-hot-middleware-2.25.0.tgz:`

### Expected behavior
Installs the package succesfu

[2020-08-06 13:53] skidding commented on #1245
Hi @yannick1691,

Thanks for reporting this, but unfortunately NPM was down for 3 hours today, affecting all developers across the globe.
![image](https://user-images.githubusercontent.com/250750/89540079-427ac680-d805-11ea-8f41-2caec97c961a.png)

Please try again and let me know if this persists now that NPM is back online, and close this issue if not. Thank you!

[2020-08-06 15:10] yannick1691 commented on #1245
That explains it, works now 🙏

[2020-08-06 15:10] #1245 closed

[2020-08-07 01:54] arseneyr commented on #1244
I'm using webpack for web extension development and the browser needs to have all the assets written to disk for the extension to load/reload. Not having `clean-webpack-plugin` enabled has led to some weird stale asset issues in the past but this seems to be a niche setup so I don't mind filtering it out. Thanks for the explanation.

[2020-08-07 01:54] #1244 closed

[2020-08-07 22:20] brianespinosa opened #1249 "Using with `<StrictMode>` throws errors"
### What's wrong?

Wrap either a decorator or a fixture with `React.StrictMode` and errors are present from Cosmos components.

### Steps to reproduce

1.  Create a decorator with `<StrictMode>` or a fixture with a component wrapped in `<StrictMode>`
2.  Run `npx react-cosmos`
3.  Errors from Strict Mode will show from Cosmos components

### User info

- These errors are from running with npx... I

[2020-08-08 14:53] skidding commented on #1249
I think I fixed this in 910a0b016ae596f3a982af1140d39895b6467f32

Please try out `react-cosmos@5.5.0-alpha.11` and let me know if it fixes the issue on your end.

[2020-08-12 16:04] brianespinosa commented on #1249
I haven't had a chance to test this yet since we use Cosmos with npx. But I have a blocking task to get done this week that this relates to so I will definitely have word before the week is out.

[2020-08-12 20:31] skidding commented on #1249
Does npx not support package versions? I would think you can run `npx react-cosmos@5.5.0-alpha.11 [command]` (where command is cosmos or cosmos-export).

[2020-08-14 17:49] brianespinosa commented on #1249
@skidding confirmed that this is now working in `5.5.0-alpha.11`

[2020-08-18 22:12] skidding commented on #1238
I've given this some thought and it's more complicated than anticipated. I don't want to get to deep into it, but we can't make a Cosmos server endpoint that will return all fixture data (including module exports), because that would require the Cosmos server to _open_ the fixture modules, something that can only be safely done in the user build, which only generates a bundle and I don't really kn

[2020-08-31 15:29] dgreensp opened #1261 "Strange behavior, not reloading"
### What's wrong?

Let me start by saying I am a big React Cosmos fan.  At the moment, hot reload and Command-R reload are both being really flaky for me.  This is with React Cosmos 5.4.0.  My project uses create-react-app.

HMR fires correctly maybe once after page load, but usually I get an error like this and no update occurs:

![image](https://user-images.githubusercontent.com/155814/91736686-

[2020-08-31 15:44] dgreensp commented on #1261
Well, the issue went away, and I'm not sure why.  I was seeing it on my iPhone a lot yesterday, and on my laptop.  I'll reopen if I run into it again.

[2020-08-31 15:44] #1261 closed

[2020-08-31 20:24] skidding commented on #1261
Glad the issue went away. Enjoy React Cosmos! 🙌

[2020-09-01 07:27] MirzayevFarid commented on #1207
- We’re using React Cosmos at [Radity](https://radity.com/)

- ![logo-midnight@3x](https://user-images.githubusercontent.com/29518613/91811146-173a9a00-ec40-11ea-9d20-981cfcf59877.png)

- https://radity.com
- Radity develops digital products and build web and mobile applications.

Thanks for such an amazing work!

[2020-09-11 15:23] EdmundsEcho opened #1265 ""cosmosCapture" error: Utility that converted an array of fixture specs to the list of components now fails..."
I have a utility that used to work (much older version of cosmos).  In my attempt to get it back up and running, I ran into the following.

This code:
[code]

...compiles, but generates a runtime error when I try to select the component in the menu of components:

[code]

The call stack includes:
[code]

The cosmos code source that references the `cosmosCapture` classname, seems to indicate the pu

[2020-09-11 15:44] EdmundsEcho commented on #1265
... It turned out to be a simple matter of making sure the spec prop for the `Component` be properly specified.  Thank you for this useful dev-tool!

[2020-09-11 15:44] #1265 closed

[2020-09-11 21:10] skidding commented on #1265
Nothing better than an issue solved by the time I read it 😅

Glad you figured it out. Good luck!

[2020-09-14 17:00] skidding commented on #1249
This is included in the latest 5.5 release.

[2020-09-14 17:00] #1249 closed

[2020-09-23 18:54] davidroeca opened #1266 "Resolve yarn 2 warnings"
### What's wrong?

When installing `react-cosmos` from yarn 2, the following warnings are raised:

[code]

### Steps to reproduce

1. [Install yarn](https://yarnpkg.com/getting-started/install#per-project-install)
2. `yarn init` a new project
3. Within that new project `yarn set version latest`
4. Experience the warnings

### Screenshots

None necessary.

### User info

~- Server terminal output~

[2020-09-25 10:01] skidding commented on #1266
Cosmos doesn't put react/react-dom into `dependencies` to avoid duplicate React copies. It used to have them in `peerDependencies` for a while until it got annoying because it produced install warnings when people were using slightly different versions that were still compatible, and also when – and I'm not 100% about this – your codebase relied on another package to install these peer dependencie

[2020-09-25 15:49] davidroeca commented on #1266
I agree that it's a bit annoying that yarn forces libraries with dependencies that have peer dependencies to re-declare them. I guess it's just a way for yarn to bubble up warnings? What if these peer dependencies were just far more broad than those of `react-cosmos-shared2`, the most extreme of which would be something like:

[code]

I'll experiment around with how yarn 2 treats with these sorts

[2020-09-25 17:22] cj opened #1267 "You may need an appropriate loader to handle this file type: Cosmo 5.5"
I just did a fresh install with next.js and cosmo 5.5, created an example button component and was greeted with:

[code]

Please let me know if you need anything further or for me to create a repo, cheers!

[2020-09-25 17:37] davidroeca commented on #1266
Ok I confirmed that these `"*"` dependencies effectively defer versioning restrictions to modules that they depend on. This behavior works consistently on:
[code]

[2020-09-25 20:46] davidroeca commented on #1266
Found a work-around for myself in my yarn configuration https://yarnpkg.com/configuration/yarnrc#packageExtensions - works for now, though not the most ideal

[2020-09-27 19:36] skidding commented on #1267
Hi @cj,

Did you follow [these steps](https://github.com/react-cosmos/react-cosmos/tree/master/docs#nextjs)?

[2020-10-01 12:05] brojd opened #1268 "Proxy http requests to different port"
I have an Next.js app and I introduced `react-cosmos` in the project. I configured Next.js to proxy requests from `localhost:3000` to `localhost:9000` where my server is running. Is there a way to apply the same for `react-cosmos`?

The reason is that I'd like to use `react-cosmos` also for components that can make some requests to BE without mocking them.

[2020-10-01 13:01] skidding commented on #1268
Indeed it's possible. Unfortunately there's no better docs at the moment, but you can see the available options in the [config schema](https://github.com/react-cosmos/react-cosmos/blob/master/packages/react-cosmos/config.schema.json#L92-L131). More context [here](https://github.com/react-cosmos/react-cosmos/pull/1078).

Let me know if this answers your question.

[2020-10-01 15:34] brojd commented on #1268
@skidding Thanks for quick answer, that's exactly what I need.

I added `cosmos.config.json` file and added:
[code]

in order to proxy all requests to `/api` to different port (`cosmos` is running on :5000). Terminal confirms the proxy config: "[HPM] Proxy created: /api  -> http://localhost:9000/api"

However it doesn't seem to work.
![image](https://user-images.githubusercontent.com/12073649/9483

[2020-10-01 17:54] skidding commented on #1268
I'm not sure but my first instinct would be to try setting the target to just `http://localhost:9000`, as the `/api` path will probably be preserved.

If that doesn't work, maybe you can do some debugging because the http proxy functionality is all contained in [this small file](https://github.com/react-cosmos/react-cosmos/blob/6619ea2823e3b14df404844e91e7efef2c770bd7/packages/react-cosmos/src/plu

[2020-10-01 17:59] skidding commented on #1267
If you ever get back to this please let us know if you [the Next.js instructions](https://github.com/react-cosmos/react-cosmos/tree/master/docs#nextjs) solved your issue. Specifically, if you installed `babel-loader` as a dev dependency.

[2020-10-01 17:59] #1267 closed

[2020-10-02 08:19] brojd commented on #1268
That was it, thanks a lot @skidding !

[2020-10-02 08:19] #1268 closed

[2020-10-09 21:38] skidding opened #1269 "Use YellowBox instead of LogBox in newer react-native"
Use `YellowBox.ignoreWarnings` instead of `LogBox.ignoreLogs` if available, otherwise default to keep using YellowBox.

https://github.com/react-cosmos/react-cosmos/blob/6619ea2823e3b14df404844e91e7efef2c770bd7/packages/react-cosmos/src/native.tsx#L15-L17

[2020-10-19 12:25] codeandcats opened #1270 "Cosmos not transpiling code in shared packages in a monorepo"
### What's wrong?
Cosmos does not transpile code in shared packages in a monorepo. Following the simple instructions for setting up Cosmos + TypeScript works fine when all code is contained in a single package, but fails the instant it tries to use code from other packages in a monorepo structure.

To demonstrate the problem simply,  I have a minimal TypeScript monorepo ([here](https://github.com/

[2020-10-21 22:30] amouxkin commented on #1270
Could you try using json config for babel, i.e. renaming `.babelrc` to `babel.config.json`. In order to transpile external libs a `.babelrc` file won't work.

[2020-10-22 01:46] codeandcats commented on #1270
OMG I added a `babel.config.json` and it did the trick, thank you so much @amouxkin! 💯 🎖️

For anyone else bundling their app with parcel, I had to keep a `.babelrc.js` for parcel to use and in it just loaded and re-exported the babel options from `babel.config.json`.

I would close this but this was one hell of a trap that I fell into here. It's not at all obvious that you need to use `babel.conf

[2020-10-22 05:19] amouxkin commented on #1270
I don't it's a cosmos issue, that's just the way `babel` configs works.

`.babelrc` is for relative transformations (`File-relative` configuration), i.e. contained inside a single directory, or a single `package.json` scope
`babel.config.json` are `Project-wide` configuration (multiple `package.json`/`projects`) .

[2020-10-22 05:23] codeandcats commented on #1270
Okay, in that case I find it interesting that Parcel performed project-wide transformations just using `.babelrc`. 🤔

[2020-10-22 05:32] amouxkin commented on #1270
I think this clears it up.

https://parceljs.org/transforms.html

[2020-10-22 05:36] codeandcats commented on #1270
Amazing. Many thanks @amouxkin. 🍻

[2020-10-22 05:36] #1270 closed

[2020-10-22 08:29] skidding commented on #1270
Amazing indeed. Thank you @amouxkin for clearing this up!

[2020-10-24 23:13] #1269 closed

[2020-10-29 22:05] AlexFlasch opened #1272 ""Error: Already listening" with create-react-app 4.0.0"
## What's wrong?

I've just started a project using CRA 4.0.0 and intended to use react-cosmos. Switching to using the `cosmos.config.json` recommended for CRA projects causes a React error overlay stating "Error: Already listening" with a stack trace that seems to point to React Refresh being involved?

This could be related to #1150 since CRA 4.0.0 has officially moved to React Refresh.

## Step

[2020-10-30 14:58] AlexFlasch commented on #1272
I've discovered that react-styleguidist seems to be having very similar issues with CRA 4.0.0

They've [mentioned a workaround on this issue.](https://github.com/styleguidist/react-styleguidist/issues/1705#issuecomment-719546630)

For now this workaround appears to just fall back on the old hot reload plugin CRA used before 4.0.0.

I have tried this on my project and it does indeed work.

## Worka

[2020-11-01 01:03] skidding commented on #1272
@AlexFlasch Thanks for sharing your findings!

I'll keep this issue open for future reference and it case anyone finds a solution for integrating Fast Refresh into Cosmos – I don't really know what the issue is because I haven't had time to research, but it would be of great help if anybody did.

[2020-11-01 01:23] AlexFlasch commented on #1272
No problem! I'll do some digging on react-refresh and what might be causing the error. No promises though, as I'm far from a webpack expert. 😅

[2020-11-05 12:13] tomparkp opened #1274 "Webpack error with brand new Expo project"
### What's wrong?

Based on the docs I was given the impression Cosmos can be used across React Native and web in an Expo project but using Cosmos in an Expo project yields webpack errors.

### Steps to reproduce

1.  Clone `https://github.com/tomparkp/react-cosmos-expo-bug`
2.  `yarn install` and `yarn cosmos`
3.  See webpack error.

[code]

[2020-11-09 00:29] skidding commented on #1274
Hi @tomparkp,

Did you check out the [Cosmos docs on React Native](https://github.com/react-cosmos/react-cosmos/tree/master/docs#react-native)?

The command you need to run is `cosmos-native`. This will get you past that error, and you'll also see the other steps required to get up and running with Cosmos in your React Native project. Please let me know if have other issues.

[2020-11-09 00:55] tomparkp commented on #1274
`cosmos-native` runs Cosmos in the native environment only (iOS/Android devices or simulators) per [this tweet](https://twitter.com/ReactCosmos/status/1189128577498910720) I thought it was possible to mirror across web and native at the same time?

[2020-11-09 00:59] tomparkp commented on #1274
Per the docs

`cosmos --external-userdeps` yields the same error as above.

[2020-11-09 01:10] skidding commented on #1274
Oh, yes, I missed the _web_ part. In this case the [Compilation docs](https://github.com/react-cosmos/react-cosmos/tree/e92f1ecbce529af4b4706172b7e5aae15823ff1e/docs#compilation) is the relevant section.

To start with, run `yarn add --dev babel-loader html-webpack-plugin` and you'll get the "Hello World" going.

[2020-11-09 03:37] tomparkp commented on #1274
That works for the example project but when attempting to apply it to my own project it broke on images and on some React Native dependencies. I ended up creating my own webpack config based on: https://webpack.js.org/plugins/html-webpack-plugin/

However, in the RNW docs they recommend against doing this and using Expo since it now comes with RNW support out of the box. The Expo web config is pre

[2020-11-09 12:33] skidding commented on #1274
Can you expand more on this? Cosmos tries hard to run on existing webpack configs, so if the Expo webpack config is accessible I'd be interested in making sure it can be used by Cosmos.

[2020-11-10 18:14] tomparkp commented on #1274
Expo as of recent releases has built in RNW support via https://www.npmjs.com/package/@expo/webpack-config. If you add that package to an expo project it will add the base config to the expo node module with the option to customize/override via `expo customize:web`.

[2020-11-12 11:11] skidding opened #1275 "Fix cmd + shift + L shortcut for toggling fixture list"
The shortcut seems to be broken.

Places to investigate:

https://github.com/react-cosmos/react-cosmos/blob/9bc7aef9be118a345158eab7f8842b0c7d0604ab/packages/react-cosmos-playground2/src/plugins/Root/index.tsx#L45

https://github.com/react-cosmos/react-cosmos/blob/dc85a58615400b007d0807f2abaadf3a80efaeb2/packages/react-cosmos-playground2/src/plugins/Root/index.tsx#L118

https://github.com/react-co