[2017-09-24 19:38] skidding commented on #213
Closing due to inactivity.

[2017-09-24 19:38] #213 closed

[2017-09-24 19:56] skidding opened #451 "Integrate react-error-overlay from Create React App"
### What's up?

CRA's react-error-overlay is pretty awesome. It handles build time and run time errors elegantly and has extra features like the ability to click on file paths and have them open inside the default OS editor.

### Mkay, tell me more...

Haven't investigated properly, but @gaearon said react-error-overlay is modular enough to be reused.

Free for all.

[2017-09-25 00:00] skidding opened #452 "Config generation"
## What's up?

Configuration is the death of joy. Cosmos is plagued by configuration. I don't like where this is going.

There are some ideas floating around about CLI tooling for generating configs, but I think investing in CLI prompts would be missing the gold mine we're already setting on: The Cosmos UI together with the Node server. We already have a nice interface where we can treat users lik

[2017-09-25 07:45] maxsalven opened #453 "Better Proxy Config Errors"
If there is an error in `cosmos.proxies.js`, then `yarn run cosmos` still says `[Cosmos] See you at http://localhost:8989/`. Opening that URL shows you just a blank starry sky screen, with no console errors or any indication that cosmos is not operating as expected (i.e. if you're a new user, you may not realise that there should be a component list, and you may mistakenly think you haven't set up

[2017-09-25 10:01] gaearon commented on #451
cc @tharakawj @timer for awareness

[2017-09-25 14:54] skidding commented on #453
Proxies are part of the user code and thus transpiled. Unless you use CRA and `proxies.config.js` is not placed inside Babel-whitelisted `src`. Is this the case?

[2017-09-25 23:38] skidding commented on #440
OK, I'm going to build on my previous comment to start speccing this feature and get it closer to reality.

It seems like we're all psyched on config generation, and I've created a dedicated thread to start building a strategy in that direction #452. For the purpose of this thread, however, I say Level 2 and 3 go away. Until config generation becomes a thing, we can continue to rely on `componentP

[2017-09-26 00:27] maxsalven commented on #440
I'd much prefer to name the fixture within the fixture data. I never really understood why I had to be limited to the hard to read formatting restraints of a filename. I want to see my fixture in the UI as "Blue outline with gold flair" and not "blueOutlineWithGoldFlair" or "blue-outline-with-gold-flair".

As discussed elsewhere, I'd love to be able to add a description as well.

I may be in the m

[2017-09-26 05:42] maxsalven commented on #453
Yep, I ran into my issues when upgrading from the earlier beta (with a `proxies` directory in src). From the docs:

...

I then checked in https://github.com/react-cosmos/react-cosmos#option-dump whether I could point to a proxy config elsewhere but it only had the outdated `proxies` attribute so I didn't know what the right attribute to use was. I see now that in the `create-react-app` section of

[2017-09-26 07:05] skidding commented on #440
Thanks @maxsalven for the radical ideas! Much needed.

It's funny but when we started off years ago the fixture format used to contain `component` as well. I like the idea of standalone fixtures: a single object that can be used to render a component in a given state, as opposed to a (component, fixture) pair as it is now. One concern is the redundant component imports between more fixtures for th

[2017-09-26 07:28] skidding commented on #453
Updated the docs: https://github.com/react-cosmos/react-cosmos/pull/454

Not sure how to approach this. Maybe #451 would help.

[2017-09-28 15:42] aurbano opened #459 "Option to hide components without fixtures"
I've searched for similar issues but haven't found them - so apologies if this has been covered before.

I'm adding Cosmos to an existing large React app, and we'll add fixtures as we need them - so we have hundreds of components without a fixture showing up in the list, which is unnecessary for us.

Would it be possible to have a config setting/UI toggle to hide components that don't have a fixtu

[2017-09-29 23:36] skidding commented on #459
Hi @aurbano,

I'm happy you brought this up. Components used to show up with an automatic empty fixture (another bad idea), and after a major refactor they ended up showing up without any action. I would like to get rid of this behavior and I am willing to push a patch release with the change because I'm 100% nobody depends on a list of actionless component names.

It would be great if somebody of

[2017-09-30 13:59] joncass opened #461 "`npm install --dev` is deprecated"
### What's up?

The "getting started" section gives `npm install --dev react-cosmos-webpack` as a recommended command, but the `--dev` flag is deprecated in `npm install` (see e.g. https://github.com/npm/npm/issues/6200)

### Mkay, tell me more...

I think replacing it with either `--save-dev` or `--only=development` would work (to be honest, I'm actually not sure what the difference between those

[2017-09-30 20:36] skidding commented on #461
@joncass feel free to open a PR replacing `npm install --dev` with `npm install --save-dev` in docs and I will merge it.

[2017-10-01 12:36] skidding commented on #461
Closed by #462

[2017-10-01 12:36] #461 closed

[2017-10-01 12:58] everdimension commented on #459
huh
I was about to create an issue that after updating to `2.0.0` components without fixtures do not work

How am I supposed to test `onChange` handlers on inputs with fixtures? Is there a `setState` method somewhere? May be docs are not good enough...

[2017-10-01 13:30] skidding commented on #459
I was about to create an issue that after updating to 2.0.0 components without fixtures do not work

https://github.com/react-cosmos/react-cosmos/issues/431

[2017-10-01 13:32] skidding commented on #459
I was about to create an issue that after updating to 2.0.0 components without fixtures do not work

Sorry for the confusion. If you were relying on empty fixtures you'll have to create those empty fixtures by hand for now.

All you can do at the moment is `onChange: val => console.log('change', val)` to see the selected value in your console log. This could be made better by https://github.com/re

[2017-10-02 23:58] skidding commented on #440
@maxsalven I made a playground to experiment with the idea of detecting fixture files only and referencing components in fixtures. **Check this out: https://github.com/react-cosmos/fs-playground.**

I added types and some tests to make it clear, but you can also see the fixture files laid out as randomly as possible. The `'**/__fixture?(s)__/**/*.{js,jsx}', '**/?(*.)fixture?(s).{js,jsx}'` patterns

[2017-10-04 14:53] dedan opened #466 "The `Loader` from `react-cosmos-loader` does not pass the state from fixture to the component"
### What's up?

I have a fixture that passes state to the component, so I can easily observe how it looks for different internal states. Actually, I even pass down the state of a child component that I marked via a `ref`. My fixture currently looks the following:

[code]

That works perfectly fine in the cosmo explorer, however the state is not passed down when I use the `Loader`.

### Mkay, tell

[2017-10-04 16:21] skidding commented on #466
@dedan the docs aren't great for using the Loader programmatically, but luckily you're only one step away!

The State proxy already exists and is [always added](https://github.com/react-cosmos/react-cosmos/blob/ec89e3964f2e8c84455f3fcb20c8f7cb9041b8ed/packages/react-cosmos-loader/src/mount.js#L28-L450) when using the UI. But, we need to manually pass it when using the `<Loader />` component manual

[2017-10-04 18:35] dedan commented on #466
Hey @skidding, thanks a lot for the fast and super helpful response. That's exactly what I needed!

Thanks a lot, I'm closing the issue.

[2017-10-04 18:35] #466 closed

[2017-10-04 19:14] skidding commented on #466
Perfect! Happy to help.

[2017-10-10 23:42] skidding commented on #440
**Update 🥁:** I have a completed the experimental implementation for a new way of defining fixture files and I'm very excited about the result.

Here are the benefits:
- Fixtures can be placed anywhere, so **no more constraints on the fixture file location**. Fixture files no longer need to be correlated to component files. As @flaviusone suggested, fixtures are now detected using a Jest-like `tes

[2017-10-11 09:31] amrdraz commented on #440
I'm loving the AST part 😍
will using require resolve account for aliases?
for instance I use in one of my projects babel-module-resolver (using next.js)
in another I use webapack's alias

mainly to refer to the root of the project with example `~/components/x`

[2017-10-11 09:59] skidding commented on #440
@amrdraz I don't know if it path detection can work with webpack's aliases, but it should be possible to make it work with babel-plugin-module-resolver, which seems to have an [API](https://github.com/tleunen/babel-plugin-module-resolver#for-plugin-authors) for this. It will be nice to see compatibility grow for this in time. For example my POC works with ES modules, but not CommonJS. I left a TOD

[2017-10-11 13:20] amrdraz commented on #440
I guess I can then just have a decorator that applies the namespace property to the component  using the babel-plugin-module resolver since it feels wrong to have support for as a specific babel plugin built in to this

[2017-10-11 13:36] skidding commented on #440
Good point. Or maybe Cosmos can surface an cb option to manually resolve
relative paths (aliases) to absolute paths, and then you can forward that
to babel-plugin-module resolver in cosmos.config. I think this is flexibile
enough to work with other resolvers as well and adds almost 0 complexity to
Cosmos.

On Oct 11, 2017 15:20, "Amr Draz" <notifications@github.com> wrote:

I guess I can then just

[2017-10-11 20:20] flaviusone commented on #440
Will I still be able to reuse the new format fixtures for my unit tests e.g. shallow rendering?

[2017-10-11 20:49] skidding commented on #440
Yes, 100%. The only difference is that the (pseudo) API will be `shallow(loader(fixture))` instead of `shallow(loader(component, fixture))`. So I would say it's even cleaner.

[2017-10-12 21:02] skidding commented on #440
@maxsalven asked if he can try this prototype on his codebase, and maybe others are curious as well and want to help test this. It is now possible! 🔥

Three simple steps:
1. `yarn remove react-cosmos-webpack`
2. `yarn add --dev @skidding/react-cosmos-webpack@^2.2.0-1`
3. **Report what happened!**

Here is an example on me doing this with the Flatris repo:
![new-fs-alpha](https://user-images.github

[2017-10-13 22:04] skidding commented on #440
OK, my previous comment was nothing. Check this out: **Automatic fixture upgrade!** 🚨

Three simple steps:

1. `yarn add --dev @skidding/react-cosmos-webpack@^2.2.0-2` (bump from last time)
2. `yarn upgrade-fixtures`
3. **Report what happened!**

Just look at these gifs:
![fixture-autoheal](https://user-images.githubusercontent.com/250750/31568048-b26064ea-b072-11e7-98a9-1eef280a8da4.gif)
![fixtur

[2017-10-14 11:20] skidding commented on #440
Moved from babel to [jscodeshift](https://github.com/facebook/jscodeshift) and the output is much better. An extra newline here and there but otherwise it's perfect.

![fixture-autoheal3](https://user-images.githubusercontent.com/250750/31575241-557047bc-b0e2-11e7-926c-a7abb67c2639.gif)

Note that the codemod currently works for ES modules. **Does anybody here have CommonJS fixtures?** cc @flavius

[2017-10-14 12:21] flaviusone commented on #440
Yes we do and we also use react-cosmos-normalize-props-proxy.

[2017-10-14 14:06] jlc467 commented on #440
Installed @skidding/react-cosmos-webpack@^2.2.0-2 and gave it a quick spin.. seems to work great.
Couple observations:
- The playground listed a fixture whose component was not in cosmos config `componentPaths`.
- The new fixture format is intuitive/concise -- I like it. Biggest win for me is fixture folder/file structure freedom. I was one of the main things preventing me from writing fixtures.

[2017-10-17 04:39] maxsalven commented on #440
I have a somewhat unconventional existing setup, but it works perfectly in the existing release version of `react-cosmos`.

I had essentially created my own 'level 0' config, by having a `src/components/__cosmos__` directory, and a `componentPaths: ["src/components/__cosmos"]` in my config.

If I want to see a component in cosmos, then in my `__cosmos__` directory, I might have something like this

[2017-10-17 08:56] skidding commented on #251
Happy to say this feature (the oldest issue) has been added in #448

@maxsalven will likely add tree view persistence in a subsequent PR, and together with #469 will be part of a new major release. 🚂

[2017-10-17 08:56] #251 closed

[2017-10-17 17:23] skidding commented on #440
Thanks @maxsalven, that was very helpful. Found a fix for the transform which works well locally against a repo with similar nested files. 👍

`3.0.0-alpha.1` coming soon with:
- New fixture API
- Backwards compatibility with old fixtures
- Optional transform for upgrading fixtures (will not work in 100% cases, eg. when using aliases)
- Brand new 🌲 view!

Excited!

[2017-10-18 17:15] skidding commented on #440
### The 3.0 alpha is here! 🥁🎺

**Try out this branch by installing `react-cosmos-webpack@next` and `react-cosmos-scripts@next` (for the fixture upgrade codemod).**

Here's a rundown of the Cosmos upgrade in [illustrated-algorithms](https://github.com/skidding/illustrated-algorithms):

[code]

I get a small notice in the CLI:
[code]

Right off the bat, all my previous fixtures are showing up, nicel

[2017-10-18 20:58] jlc467 commented on #440
Trying out `react-cosmos-webpack@next`... working great. This is and the new tree view are both huge, amazing steps forward. 👍

I might be doing something wrong, but can't get this to go.

Here is my fixture.
[code]
Error:
<img width="458" alt="screen shot 2017-10-18 at 4 41 00 pm" src="https://user-images.githubusercontent.com/6405557/31742174-c8ebd900-b424-11e7-8253-097e8efad2fc.png">

I tried t

[2017-10-18 21:04] skidding commented on #440
Hi @jlc467,

Multi fixture files should export an Array as the default export instead of multi exports. Can you try this instead?

[code]

[2017-10-19 20:41] jlc467 commented on #440
@skidding
https://github.com/skidding/react-cosmos/blob/9613da4a6c2f8ed21d50eb56d93601cf0467fa45/packages/react-cosmos-webpack/src/client/mount.js#L75

**Result when exporting an array like the example you gave:**

At [line 75 ](https://github.com/skidding/react-cosmos/blob/9613da4a6c2f8ed21d50eb56d93601cf0467fa45/packages/react-cosmos-webpack/src/client/mount.js#L75) `componentModule` is undefine

[2017-10-19 20:58] skidding commented on #440
@jlc467 did you remove `componentPaths` from your config before upgrading fixtures? This is the only scenario that makes sense by reading your log. I still don't understand how you got that TypeError since that whole block of code is guarded by try/catch...

This part doesn't involve AST. It just takes the existing fixture and does `{ ...fixture, component }`. But this only works while you still h

[2017-10-19 21:13] jlc467 commented on #440
I logged it to try to understand what is going on.

Never had `componentPaths` defined. Not sure why I should need it, or the code mod for that matter. I'm using newer fixture format, just exporting multiple in a single file. Why does that need to be upgraded?

here is my cosmos config
[code]

My fixture
[code]

[2017-10-19 21:37] skidding commented on #440
No need. I just assumed you were upgrading old fixtures. My bad.

OK I think I found the problem and fixed it in https://github.com/react-cosmos/react-cosmos/pull/469/commits/5322d9abbf1894036f2120bc9212fdc30d544aee. Published `react-cosmos-webpack@3.0.0-alpha.5` under the `next` tag. Please try it out and report what happened.

[2017-10-20 08:17] maxsalven commented on #440
Latest cosmos alpha worked perfectly for me with my existing fixtures and with the code mod!

Just a small note on the codemod, it doesn't respect `.prettierrc` and would be cool if it did. Perhaps you can check if the file exists, and if so, run prettier before saving the fixture. Not a big deal at all, but if it's an easy win, maybe worth throwing in there.

[2017-10-20 21:14] amrdraz commented on #440
for me it doesn't seem to work

first I was getting for configuration

[code]

[code]

which implied the css loader isn't included which I figured is fine since I can allways wrap my components

commenting out `globalImports` leaving only

[code]

lead to cosmos running but a 404 error when I visited http://localhost:8989

The console stated `GET 404  http://localhost:8989/loader/index.html`

this

[2017-10-20 21:33] amrdraz commented on #440
also when I tried running
[code]

I would get

[code]

but I noticed some of the files where getting converted so I walked through them until I noticed that the codemod doesn't seem to work if the fixture is exported using `module.exports`

renamed it to `export default` and everything went well (in case anyone faces that problem)

[2017-10-20 21:49] amrdraz commented on #440
I'm realizing that the issue was apparently there for a while and I had not upgraded since `2.0.0-beta.19` so I'll be upgrading my configuration after reading through the release notes and working my way through there

[2017-10-20 22:31] skidding commented on #440
Sorry if this was communicated poorly, but the default config has changed a while ago and it doesn't come pre packed with any the loaders it supports. This was because there were too many collisions possible so it's best to let each user install the version of the loaders they way. After all, Cosmos works with webpack 1 to 3. Here is the corresponding README section

![image](https://user-images.g

[2017-10-20 23:56] amrdraz commented on #440
@skidding I eventually got everything working, thank you for clarifying, everything went smooth for me after, should have noticed the new getting started 😅 .

I'm excited about being able to decorate fixtures now that I'm passing the component myself

regarding the commonjs were there any valid commonJS cases other than `module.exports`?

I noted an empty fixture file which caused the same error f

[2017-10-21 00:07] amrdraz commented on #459
Is this not effectively closed now?

[2017-10-21 00:35] amrdraz commented on #440
@skidding just noticed folders that appear to be getting added from nothing in the tree view

I haven't figured out why yet but I observe that given folder strucure

<img width="639" alt="screen shot 2017-10-21 at 02 12 52" src="https://user-images.githubusercontent.com/1708559/31845845-bc4971fc-b605-11e7-86d6-1f825e64fa10.png">

I got an extra folder called NavigationTopBar inserted when it shoul

[2017-10-21 11:49] everdimension commented on #459
I guess so. Would be great though if documentation mentioned that creating at least an empty fixture is required.

[2017-10-21 12:08] skidding commented on #459
@amrdraz Yes. But let's wait until #469 is merged, docs are updated and we move from v3 alpha to beta. Otherwise we might leave other people wondering the same thing hanging...

[2017-10-21 12:10] skidding commented on #459
I agree. Once we get the v3 beta out the door the docs will be property updated. Can't wait to remove the docs sections regarding to `componentPaths` 😈

[2017-10-21 12:16] skidding commented on #440
Awesome sauce!

Not that I'm aware of.

OK, just released `3.0.0-alpha.7` which fixes the tree nesting excess. Check it out @amrdraz @maxsalven

![image](https://user-images.githubusercontent.com/250750/31851652-6e89be76-b66a-11e7-8995-a153d6d408d8.png)

[2017-10-21 21:16] amrdraz commented on #440
@skidding works great for the leaf node of the tree, but doesn't seem to work for components in the middle ie. a component with fixtures defined and has another folder with other fixtures in them.
only the final component is shown as a single folder

<img width="236" alt="screen shot 2017-10-21 at 23 06 56" src="https://user-images.githubusercontent.com/1708559/31855884-c41b9f7c-b6b4-11e7-83ac-38e

[2017-10-24 08:47] maxsalven commented on #445
Thanks, appreciate the thoughtful response and sorry for my slow feedback.

Unfortunately I don't have much to say, as I'm very new to graphql/apollo.

I guess what I'd like to do is in my cosmos fixture provide something like what I get back from a GraphQL network request:

[code]

Then I can easily make multiple mocks for a single component with different responses.

Perhaps you might want to go

[2017-10-24 11:58] skidding commented on #440
@amrdraz I'm still open to alternatives, but did you have a chance the latest version (3.0.0-alpha.10) with the component icons? It might seem more natural since folders are distinguished from components.

[2017-10-24 12:37] amrdraz commented on #440
@skidding nice!!

it looks really good in distinguishing components inside folders
<img width="335" alt="screen shot 2017-10-24 at 14 26 30" src="https://user-images.githubusercontent.com/1708559/31942971-70ea5b3a-b8c7-11e7-8463-a742e129b463.png">

this is how my nested monster looks like now

<img width="322" alt="screen shot 2017-10-24 at 14 19 49" src="https://user-images.githubusercontent.com/

[2017-10-24 14:13] skidding commented on #440
Indeed, and we have @maxsalven to thank!

In the future we could have an option to hook into the function that generates the namespace based on file path. In your case you could apply a transformation to trim `components/` (I think you mentioned this in the past) and it would make the tree even nicer.

I'm sure we'll iterate on this in the future, but for know I like the distinction:
- If you see

[2017-10-24 19:28] skidding opened #475 "Cosmos v3 BETA TESTING thread"
### What's up?

Cosmos v3 beta is out, including the [new filesystem API](https://github.com/react-cosmos/react-cosmos/issues/440) and Playground Tree View.

### Mkay, tell me more...

To include in the public release:
- @skidding ~~Add `exclude` option to complement new `fileMatch` option for matching fixture files. I deliberately chose a different name than the previous `ignore` to avoid confusi

[2017-10-24 19:29] skidding commented on #440
Please subscribe to [Cosmos v3 BETA TESTING thread](https://github.com/react-cosmos/react-cosmos/issues/475). Conversation will continue there.

[2017-10-24 19:29] #440 closed

[2017-10-24 19:33] skidding commented on #459
Closing this because in v3 only components with fixtures show up in the playground. See [Cosmos v3 BETA TESTING thread](https://github.com/react-cosmos/react-cosmos/issues/475).

[2017-10-24 19:33] #459 closed

[2017-10-24 19:34] skidding commented on #449
Please let us know if the issue persists.

[2017-10-24 19:34] #449 closed

[2017-10-24 19:35] skidding commented on #444
Closing this because in v3 only components with fixtures show up in the playground. See [Cosmos v3 BETA TESTING thread](https://github.com/react-cosmos/react-cosmos/issues/475).

[2017-10-24 19:35] #444 closed

[2017-10-24 19:38] skidding commented on #429
I've added [release notes](https://github.com/react-cosmos/react-cosmos/releases) for since 2.0 and will continue to do so for the time being. When the releases will increase in number we should consider automating the process. Note that [Conventional Commits](https://conventionalcommits.org/) already makes it easy to compose the change log at the end of a release.

[2017-10-24 19:38] #429 closed

[2017-10-24 19:40] skidding commented on #286
Closing this because the description is out of date and will confuse more than help. This idea has already been added as Cosmos' 3rd long term [goal](https://github.com/react-cosmos/react-cosmos/blob/master/CONTRIBUTING.md#goals) and I will likely open another thread after more important milestones have been achieved.

[2017-10-24 19:40] #286 closed

[2017-10-25 01:28] maxsalven opened #476 "React Router proxy querystring issue"
When clicking on a `Link` in a component that uses react-router, if the link has a query string, then the component will render appropriately but the `fixture.url` value will not include the query string in the editor.

As a basic fix, we should render the url correctly in the editor. I haven't looked into it, but this may be as simple as changing:
https://github.com/react-cosmos/react-cosmos/blob

[2017-10-25 09:05] skidding commented on #476
Thanks for opening this. My first thought is that synchronizing `fixture.url` and `fixture.location` is a world of pain. The only clean option for keeping `pathname`, `search` and `hash` together while preserving the location state is something like this:

[code]

The router proxy can map `url` and `locationState` deterministically to the Router's `location` structure and vice versa.

[2017-10-26 12:13] skidding commented on #304
Closing this due to inactivity. I'm not against doing it, but I realized:
1. There's not a lot of value to it. Opening the URL is one click away from the terminal (see screenshot below)
2. There are many corner cases to consider: A. If there are errors we might want to keep the user in the Terminal to read them, B. We don't want this to happen when running E2E tests in CI, etc.

![image](https://u

[2017-10-26 12:13] #304 closed

[2017-10-27 12:54] skidding commented on #451
For the record, I looked into this and here are my findings:
- Using `react-error-overlay` requires replacing the `webpack-hot-middleware/client` with `react-dev-utils/webpackHotDevClient`, which only supports webpack 3.x. This means we can't use it for now since Cosmos supports webpack 1 & 2 as well.
- A good strategy would be to check if the host project uses Create Create App and only use `reac

[2017-10-29 18:00] skidding commented on #475
I know these changes are annoying, but I'm thinking of going back to using the `react-cosmos` package name in v3 and deprecate `react-cosmos-webpack`.

I put webpack in the name initially to emphasize that Cosmos parts can be used with other bundlers. While it's still the case, it's clear that no other alternative caught on and the naming can do more harm than good at this point, because it brings

[2017-10-30 04:39] Timer commented on #451
https://github.com/react-cosmos/react-cosmos/pull/484

[2017-10-30 13:50] mbohgard opened #486 "TypeScript support"
I can't find anything at all how to integrate with a codebase running TypeScript and components written in TS (.tsx). Any suggestions?

[2017-10-30 14:03] skidding commented on #486
@mbohgard if you already have the Babel loaders set up for TS it might work out of the box. Actually, what extension would you give your fixture files, plain `.js` or `.ts` / `.tsx`?

[2017-10-30 14:10] mbohgard commented on #486
Right now, for fixtures, it's not too important. Is it possible to use other extensions for fixtures than .js?

About getting it to work with with our current config, I just get a
[code]
in the console and only the animated cosmos background's showing up. Here's the config I try to use which worked with React Storybook:
[code]

[2017-10-30 14:35] skidding commented on #486
Yes. But let me know if you get to that point because the documentation now isn't ideal. We're in the progress of releasing 3.0 btw, so you might want to try `react-cosmos-webpack@next`.

It seems like you need to set up HtmlWebpackPlugin:

1. If you haven't add `html-webpack-plugin` to your dev dependencies.
2. Import it in your config file: `const HtmlWebpackPlugin = require('html-webpack-plugin

[2017-10-30 15:00] mbohgard commented on #486
Nice, no more error. But Cosmos can't find any components (all components has the .tsx extension). I've added a fixture using the docs as a guide. How do Cosmos find components?

[2017-10-30 15:24] skidding commented on #486
Great. We're one step closer!

Cosmos <=2 had unintuitive conf for detecting fixtures. This is one the main things v3 brings. So can you please upgrade to `@next` tag and see if your components/fixtures show up.

Notes:
- In v3 Cosmos detects any fixture file that is under `__fixtures__` folder or named as `*.fixture.js`.
- In v3 you no longer need to add `componentPaths` in cosmos.config
- In v3

[2017-10-30 15:39] mbohgard commented on #486
Ok I see. Actually when I installed Cosmos I got the 3.0 beta 3. Now I'm running next and I now understand why I get a
[code]
when starting Cosmos. All my components are in a package outside of the Cosmos package (this is a Lerna repo and Cosmos integration is it's own package). So, when I thought I needed the `componentPaths` setting I set the value: `["../common-components/components"]`. I guess

[2017-10-30 15:43] skidding commented on #486
Well then, there's a new option in Cosmos 3 called `rootPath`. Can you set its value a directory that's parent to your fixture files?

[code]

Warning: All other relative paths from cosmos.config will be relative to rootPath!

--

This is great because my current task is to write the docs for Cosmos 3 😅

[2017-10-30 15:54] mbohgard commented on #486
Awesome, that did it! Now it's finding the components that have fixtures. 🎉

Is it possible though, like we talked about, to have fixtures in another extension than .js? Now JSX won't work since my test for React files is `/\.tsx?$/`.

[2017-10-30 16:00] skidding commented on #486
Awesome! 🤘

I'd do it but I'm already engaged in a few other PRs for now. If you have the time, open a tiny PR updating the [following lines](https://github.com/react-cosmos/react-cosmos/blob/8948dbc18bcad1c526056f35251d5c49c0458c6e/packages/react-cosmos-voyager2/src/server/find-fixture-files.js#L20-L21) to something like:

[code]

And I'll gladly merge it and publish `3.0.0-beta.4`with it immedia

[2017-10-30 16:05] mbohgard commented on #486
Absolutely, I'll open a PR with the fix :)

Thanks for the quick help Ovidiu! Looking forward to start converting Storybook stories to fixtures 😋

[2017-10-30 16:05] #486 closed

[2017-10-30 16:06] skidding commented on #486
🎼🎶👂👂

You're welcome @mbohgard. Let me know if you have any other questions.

[2017-10-31 14:49] alp82 opened #488 "Make `fixturesDir` work again with new filesystem API and `fileMatch`"
### What's up?

The new filesystem API allows to change `fileMatch` to search for fixtures at arbitrary locations, which is awesome. But that currently deprecates `fixturesDir` which is sad in my opinion.

### Mkay, tell me more...

Here is the default definition of `fileMatch`: https://github.com/react-cosmos/react-cosmos/blob/master/packages/react-cosmos-voyager2/src/server/find-fixture-files.js

[2017-10-31 14:49] alp82 commented on #475
For anyone who got similar problem to get the new Filesystem API to work: The magic property you need to configure if you don't use the default setup is `fileMatch`.

In my case i needed it because i have changed the default fixtures folder to `__cosmox__`. Here is the whole config:
[code]

Much better than before!

Since i think that `fixturesDir` would be still pretty handy to have i opened a ne

[2017-10-31 15:28] skidding commented on #488
Approved. Also *free for all* since @alp82 nor me have the time to work on this at the moment.

Just to add more context, the new default value for `fileMatch` would look like this:

[code]

Also notable, for this improvement I would change the [findFixtureFiles](https://github.com/react-cosmos/react-cosmos/blob/26a149059f935ed445085a69aa254bccc43c9425/packages/react-cosmos-voyager2/src/server/fin

[2017-10-31 15:34] alp82 commented on #488
We could even go a step further and also introduce a `fixturesSuffix` property to use it in there:

[code]

[2017-10-31 15:39] skidding commented on #488
Good idea. I think keeping them separate is more flexible. So I'm a fan of both `fixtureDir` and `fixtureSuffix` options (just realized singular "fixture" sounds more natural). Even more accurate might be `fixtureFileSuffix`.

[2017-10-31 17:01] mbohgard opened #489 "Wrapper/Parent for component in fixture (v3)"
I'm trying to wrap my component in the fixture file or set parent styles or something to the playground.
My last try was to wrap my component in a HOC like so:
[code]
but Cosmos is unable to merge several fixtures for the Input component, only showing the last one (alphabetically).

Since there are no really documentation for v3, is there a better way to do this or to override default playground s

[2017-10-31 17:19] skidding commented on #489
Proxies are great for this. Here's an ad-hoc example:

[code]

Now, if you've not configured any other proxies so far, create `cosmos.proxies.js` next to your `cosmos.config.js`. Inside, put this:

[code]

Works?

[2017-10-31 18:08] mbohgard commented on #489
Actually it does... :P But I need to read up on that.. don't really understand what's going on. How can I, from my fixtures, choose what proxies to use? I mean if I don't want that padding in all my fixtures for ex.

[2017-10-31 18:22] skidding commented on #489
Almost nothing changed in v3 regarding proxies, so you can check out the [Proxies docs](https://github.com/react-cosmos/react-cosmos#proxies).

There's no way to select proxies per fixture, but proxies are usually **activated** via fixtures.

I don't know if you realized, but in the proxy I put together the padding is read from `fixture.padding`, so you can set a different padding per fixture. Now

[2017-10-31 18:24] mbohgard commented on #489
Yes I realised the padding prop. Ah, that's awesome. Looks great :) Nice API! ;P

[2017-10-31 18:24] #489 closed

[2017-10-31 18:24] mbohgard commented on #489
Now I'm just missing some TypeScript types.. ;P

[2017-10-31 18:31] skidding commented on #489
Haha, v3 [includes Flow types](https://github.com/react-cosmos/react-cosmos/blob/v3-docs/packages/react-cosmos-shared/src/react/types.js#L6-L11). Maybe we can include TS types on the side for Proxy props specifically.

[2017-10-31 18:41] mbohgard commented on #489
Right, nice, here are the proxy TypeScript types needed for this specific case:
[code]

[2017-10-31 18:48] skidding commented on #489
Cool! Pretty similar.

But fixtures can contain more than strings, so maybe `fixture: { [s: string]: any }`? BTW, I know zero TS.

Also, might be a silly question, but how does React export both Flow & TS types. More specifically, where does `React.ComponentType` come from? 🤔

[2017-10-31 18:57] mbohgard commented on #489
Yes, I guess in this case "any" could be an option, though it hurts every time you set an any type.... 😅

Microsoft owns the organization @types on npm and you have to do a `yarn add @types/react` (if the lib doesn't provide types built in), but when you have, React and the React types share it's namespace so the types are automagically available like that for convenience 😎

[2017-10-31 20:16] skidding commented on #489
Good to know. Did a bit of digging to understand how it works on the Flow side. It seems React types are  [included in Flow itself](https://github.com/facebook/flow/blob/2a8bc500500a0d208e604bbb6dad4195154f39fa/lib/react.js#L136) and bundled in the standard Flow binary. Weird.

![image](https://user-images.githubusercontent.com/250750/32246861-aad6a8d0-be80-11e7-8278-5566773dc843.png)

[2017-11-01 14:39] skidding commented on #475
Update: New tree view persistence and CRA error overlay published update `3.0.0-beta.5`

[2017-11-05 12:25] skidding commented on #476
Closed by #477

[2017-11-05 12:25] #476 closed

[2017-11-05 12:26] skidding commented on #451
Closed by #484

[2017-11-05 12:26] #451 closed

[2017-11-05 13:28] alp82 opened #494 "Cosmos is confused by Higher-Order Components"
### What's up?

At least, that's what i think happens. I have fixtures of two components that are wrapped with the same HOC. Those are not appearing in the redux-cosmos page, at least not as they should be. One set is missing completly and the other one is labeled wrongly. It uses the name of the HOC instead of the component it includes.

I am using the current version (beta5).

### Mkay, tell me

[2017-11-05 13:35] alp82 opened #495 "Some tree items are not shown in the correct path"
### What's up?

I got a folder with multiple subfolders with one component each. All of those components have one or more fixtures. They show up in react-cosmos as one would expect, except for one which is shown at the root instead of a subfolder.

### Mkay, tell me more...

Here is the folder structure (ui/grid is the important part):
![image](https://user-images.githubusercontent.com/966342/3241

[2017-11-05 13:39] alp82 opened #496 "Resulting Folder Tree structure with more depth?"
### What's up?

I would like to have the root folders containing my components also shown in react-cosmos so that i can better navigate and collapse the view.

### Mkay, tell me more...

Let's take this folder structure:
![image](https://user-images.githubusercontent.com/966342/32415248-e48d2630-c236-11e7-8031-7ab919ce5497.png)

This results in:
![image](https://user-images.githubusercontent.com/9

[2017-11-05 16:32] skidding commented on #494
I think I found the fix for this. It's twopart:

1. Made sure components with same name never overlap again (#497). Please install `react-cosmos-webpack@3.0.0-beta.7` and see if all your fixtures show up **without** setting a custom displayName on each
2. HoCs have the responsibility to extend a component's name. [Here is an example from React Router](https://github.com/ReactTraining/react-router/

[2017-11-05 16:38] skidding commented on #495
It surprises me that this still happens with 3.x. I remember this only happened before the major fixture factor. To make it easier for me to debug this please run this (new) command and let me know what the output is:

[code]

Optionally, for your privacy:
- Replace the root path with a foo path
- Send the output to me via IM

Note: `print-fixture-files` is only available since beta.7 ([see this c

[2017-11-05 18:33] alp82 commented on #494
1. Yep, updating to beta7 solves the issue with overlapping names. I got two entries with a counter as suffix and all fixtures are selectable.

2. Kinda, but not really:
![image](https://user-images.githubusercontent.com/966342/32417885-2f6d0de0-c260-11e7-9c96-f516abbd7487.png)

[2017-11-05 18:40] alp82 commented on #495
Here you go. I grepped for the grid folder only:
[code]

`"filePath": null` looks suspicious.

Here is the `nested.js` fixture:
[code]

And `combined.js`:
[code]

I think it's quite obvious that the problem is that i use the component which is about to be tested as a nested child. Any ideas?

[2017-11-06 09:18] skidding commented on #494
I might be subjective but this seems correct. Ugly, but correct. It tells you that the Input is wrapped in glamorous and FloatingLabel HoCs, which helps you understand its API (props, state, etc) better.

I see a number of possible avenues from here:
- Use the `HoC2(HoC1(Component))` convention to render prettier component names. Component name could be big while HoC names on a smaller second line

[2017-11-06 09:22] skidding commented on #495
I think it's from the import path. Two questions:
- Are the nested and combined fixtures the only ones where you use import path aliases? (eg. `ui/grid/Grid`)
- Are you using babel-plugin-module-resolver?

[2017-11-06 09:35] skidding commented on #496
Cosmos determines the common dir between all components and removes it to keep the tree clean.
Do you have any fixture in any other sibling of `ui`? As soon as you do, `ui` along with the sibling dir with components will show up.

I think it's redundant to show a single dir. It's the same as `Show all / Hide all` (or Expand/Collapse), a feature I'd like to add in the future.

There are a number of

[2017-11-07 03:02] maxsalven commented on #430
Is this something that might make it into 3.0? Thanks :)

[2017-11-07 11:09] skidding commented on #430
It isn't planned. Since it's a bug fix and not a breaking change in can be added at any time in the development cycle. I focused more on the fetch proxy which doesn't have this sort of problems. Are you using Axios (which uses XHR internally)?

[2017-11-08 07:24] dmr commented on #251
Thank you very much. I really enjoy the new tree, great work!

[2017-11-08 12:51] skidding commented on #475
Update: I merged #501 because I wanted to update the docs ASAP and stop confusing new users. **Please take a look at the [updated docs](https://github.com/react-cosmos/react-cosmos/blob/master/README.md) and feel free to provide any feedback.** You can check the diff of #501 or read the whole thing.

Also renamed `react-cosmos-webpack` to `react-cosmos` since we all thought it's a good idea. This

[2017-11-09 03:05] maxsalven commented on #430
Yes, am on Axios. I submitted a PR for this, thanks both.

[2017-11-09 09:10] #430 closed

[2017-11-09 11:45] alp82 commented on #475
Nice! Feedback for docs:
* introduction gif is outdated
* option dump has no `fileMatch`
* we created a proxy for glamorous themes, interested in adding it to 3.0?

[2017-11-09 11:50] alp82 commented on #495
* I don't use any aliases. all my components use that form of importing. Maybe this is related:
[code]
* no. here is the babel config:
[code]

[2017-11-09 11:59] alp82 commented on #496
I completely agree witrh you that redundancy is not needed. However, there is one other component with  fixtures placed in another root folder `modules`. It is shown without any parent folder at all:

![image](https://user-images.githubusercontent.com/966342/32604356-9fb690ae-c54d-11e7-8d5e-e7b49a075df1.png)

`CommentWithReplies` should be in `modules`, everything else in `ui`.

I suspect this is

[2017-11-09 12:01] alp82 commented on #494
Yes this is reasonable.

I would love to see the `preferRuntimeComponentNames` option implemented!

[2017-11-09 13:53] skidding commented on #495
Interesting. I wonder how to other paths are detected...

Can you please show me an example of a fixture that *does* have its file path properly detected, so I can compared it with the ones that don't. Eg. `/my-project/ui/grid/GridItem/__cosmox__/simple.js`

[2017-11-09 13:54] skidding commented on #496
I agree. Unless a different bug is discovered, we can expect the tree to have the proper depth once the nesting of each fixture is properly determined. So I think we can close this for now and focus on #495

[2017-11-09 13:57] skidding commented on #494
If it's not too much to ask, can you please open a new issue for this feature request specifically and close this one? Feel free to reference this issue and use our conversation is quotes in the description. Thanks!

[2017-11-09 14:00] skidding commented on #475
@alp82 will do 1 & 2.

It's hard to find the time to properly polish it with tests and all. If you want you can publish a good-enough package (the code that currently works for you) on a personal repo and I will reference it as a "community proxy" or something.

[2017-11-09 16:47] iw-dweaver opened #505 "File paths not resolved for components in .jsx files when importing them in fixtures"
### What's up?
In the latest beta (3.0.0-beta.9), when components are imported into fixture files from files with a .jsx extension (or any extension that is not .js for that matter), cosmos is unable to resolve that file path.

### Mkay, tell me more...

The issue is `require.resolve` throws and we end up with null in our component filePaths.

https://github.com/react-cosmos/react-cosmos/blob/385c

[2017-11-09 19:11] alp82 commented on #475
There you go: https://github.com/alp82/react-cosmos-glamorous-proxy

[2017-11-09 19:17] skidding commented on #505
@dan-weaver please try `react-cosmos@3.0.0-beta.10`

[2017-11-09 19:17] skidding commented on #495
@alp82 please try `react-cosmos@3.0.0-beta.10`

[2017-11-09 22:42] dan-weaver commented on #505
@skidding thanks works nicely and thanks for the test case!

[2017-11-09 22:42] #505 closed

[2017-11-10 01:32] alp82 opened #508 "Prettify component names (extract HoC names)"
### What's up?
If using HOCs, component names could be percieved as unpleasant due most of them wrap their name around the inner component, e.g. `MyHOC(glamorous(MyComponent))`.

An alternative approach came up as a discussion in https://github.com/react-cosmos/react-cosmos/issues/494#issuecomment-342089653, so that names would be as easy as `MyComponent`, regardless of how many HOCs are wrapped a

[2017-11-10 01:33] alp82 commented on #494
Overlapping issues are solved, further discussion in #508.

[2017-11-10 01:33] #494 closed

[2017-11-10 01:49] alp82 commented on #495
Sadly, i got an error page:
[code]

Browser console:
[code]

[2017-11-10 08:51] skidding commented on #495
@alp82 Sorry about that! I think I've fixed it in #509. Please try `react-cosmos@3.0.0-beta.11`

[2017-11-10 08:53] skidding commented on #453
@maxsalven should we close this now that we have the fancy error modal?

[2017-11-10 10:07] maxsalven commented on #453
I think the problem still exists. If you create a malformed proxy (`export default [c r e a t e R o u t e r P r o x y()];`), and then start cosmos, you get a blank starry background, no console errors, and an error buried in terminal scrollback.

[2017-11-10 14:11] skidding commented on #475
Update: Published `3.0.0-beta.13` with a bunch of improvements to namespace detection from file paths and the new `httpProxy` option courtesy of @maxsalven.

**If nobody reports any new issues related to 3.0 functionality this is the last beta.** Next I'll publish the release candidate. We'll keep the RC for a week or so to iron out any remaining bugs and update the repo with latest screenshots an

[2017-11-10 15:49] alp82 commented on #495
beta12 fixed all problems related with this issue. Thank you!

[2017-11-10 15:49] #495 closed

[2017-11-10 15:50] alp82 commented on #496
#495 indeed solved this one, this wasn't a problem after all and works as expected

[2017-11-10 15:50] #496 closed

[2017-11-10 15:51] alp82 commented on #508
solved with beta12?

[2017-11-10 15:52] alp82 commented on #475
Awesome work @skidding!

Is there any roadmap to see the mid-term and long-term goals?

[2017-11-10 16:10] skidding commented on #475
There's a rough section here: https://github.com/react-cosmos/react-cosmos/blob/master/CONTRIBUTING.md#roadmap, but I will write down all my other ideas after this release. I'm mostly focused on architectural changes that enable new use cases and types of plugins, but I think it would be useful to curate a feature "wish list" as well.

[2017-11-10 17:27] skidding commented on #508
I think a more accurate name would be "Option to prefer static vs dynamic component names". We already have both data btw, but we don't have a way to switch between them and always prefer using dynamic component names.

While I'm perfectly OK with having this option available, I think there's a lot more potential in formatting the dynamic name, because it's rich in information.

Eg. `connect(glamo

[2017-11-11 04:46] alp82 commented on #508
This is a great idea!

I think showing that information inline might be too cluttered. Tooltip is a good approach. Another possibility would be some place for showing meta information. That could be a header on top of the main content area where the active selection is shown with all wrapping HOCs around it.

[2017-11-13 10:49] skidding commented on #452
First step included in v3: Generate config automatically for create-react-app #512

[2017-11-13 13:36] skidding commented on #475
**IT'S TIME! 🚀**

Cosmos 3 functionality sealed and release candidate is out. Please make sure to use the latest (3.0.0-rc.2) and report any remaining bugs for the next week. I'll take care of updating last bits of outdated docs in the meantime.

[2017-11-14 09:45] mbohgard commented on #475
After latest install I get a `TypeError: (0 , _reactCosmosConfig2.default) is not a function` when running cosmos. Everything is -rc.3 except react-cosmos-webpack which is 3.0.0-beta.8 (latest available on npm).

[2017-11-14 09:54] mbohgard commented on #475
Another question:

I see now that Cosmos is grouping some component under folders, though how does the logic work? Both FormInput (with ControlledFormInput) and FormButtonGroup (with ControlledFormButtonGroup) is in the Molecules folder but only the input component is ordered under Molecules?
![image](https://user-images.githubusercontent.com/2987961/32773674-3d731ecc-c92a-11e7-9aaa-22f98c3714cc.p

[2017-11-14 10:18] alp82 commented on #475
@mbohgard seems like a regression of #495

[2017-11-14 11:05] skidding commented on #475
@mbohgard

Can you run `node_modules/.bin/print-fixture-files` please? You can paste the output here or share via Slack IM if you prefer to keep it private. It will help me understand why aren't all components properly grouped.

[2017-11-14 12:10] mbohgard commented on #475
It's ok, private stuff renamed :)
[code]

[2017-11-14 12:15] skidding commented on #475
@mbohgard thanks. Can you also share the contents of any of the fixtures that have `components[0].filePath` equal to `null`?

It would be interesting to see both `/app/packages/cosmos/__fixtures__/Molecules/FormInput/invalid.tsx` and `/app/packages/cosmos/__fixtures__/Molecules/FormInput/disabled.tsx`, because they're for the same component but only one of the managed to detect the component path.

[2017-11-14 12:20] mbohgard commented on #475
Sure thing!

`/app/packages/cosmos/__fixtures__/Molecules/FormInput/invalid.tsx`:
[code]

`/app/packages/cosmos/__fixtures__/Molecules/FormInput/disabled.tsx`:
[code]

[2017-11-14 12:32] skidding commented on #475
@mbohgard OK, it's probably because of the named exports. I'll create a failing test and try to submit a patch soon.

---

Meanwhile:
- [x] [Documented](https://github.com/react-cosmos/react-cosmos/blob/master/docs/fixture-upgrade.md) how to use codemod for upgrading old fixtures
- [x] Updated the [README](https://github.com/react-cosmos/react-cosmos/blob/master/README.md) gif to feature the new U

[2017-11-14 12:34] mbohgard commented on #475
Ah ok, sounds plausible. Thanks!

[2017-11-14 12:54] skidding commented on #475
@mbohgard check out `3.0.0-rc.5` please.

[2017-11-14 13:08] mbohgard commented on #475
@skidding Wow, that was fast work ;) Works like a charm!

If you only have one folder inside a fixtures folder with component fixtures (i.e fixtures for just one component) Cosmos won't group fixtures, but I guess that is by design?

Clarification:
[code]

[2017-11-14 13:41] skidding commented on #475
@mbohgard There was a TODO in place ready to implement 😄

Yes, it's by design. It's useful in cases like `Button/Button`. Maybe in the future we can only do this if the component name matches the dir name. It's a bit tricky because component names often contain HoC decorations.

[2017-11-16 00:11] dan-weaver commented on #445
I like the proposal here.  I don't really see why fixture level and config level mocks can't coexist!

@xavcz is this currently actually possible?  The current proxy just takes typeDefs.  I had to modify the default createAplloProxy to take a prebuilt  in our case since our .NET server houses our schema definitions.

[2017-11-16 11:03] xavcz commented on #445
Yeah, you're right, the proxy only allows for raw type definitions, it should allow for a schema too!

So here are the improvements I'm going to work on:
- [ ] make it possible to pass a `GraphQLSchema` instance
- [ ] make it possible to pass a schema as a JSON file and build it thanks to introspection query
- [ ] make it possible to mock what the `graphql` container returns
- [ ] update the proxy

[2017-11-16 12:39] skidding opened #519 "Add fixture handler for custom component setup"
### What's up?

Quick intro to get to the core of the problem. Bear with me...

Fixtures are responsible to take a component into any of its supported states. Let's think of a component with three possible states: A (init), B (fetching) and C (with data loaded). We might know what C looks like (be it local state or Redux state), but we often don't want to inject it directly because it's not repres

[2017-11-16 12:46] skidding opened #520 "Field for excluding fixtures from UI"
### What's up?

The new file system API loads all fixture files from a project in the Playground UI by default. Some some fixtures are useful as a setup for headless tests but provide no value in the UI. We should have a simple way to opt out some fixtures from UI.

### Mkay, tell me more...

Fixtures could look like this:
[code]

And the Playground could omit fixtures with `.ui === false`.

I thi

[2017-11-16 12:57] skidding opened #521 "Dismiss run time error overlay on fixture change"
### What's up?

After the CRA runtime error overlay is triggered it stays open indefinitely until we click on the X button. This makes sense in a normal app because runtime errors can corrupt the App state. However, in Cosmos we can move from one component to another and the error overlay becomes irrelevant.

### Mkay, tell me more...

To close the error overlay programmatically we can import and

[2017-11-16 13:02] skidding commented on #508
FYI Renamed this issue towards using the existing names but extracting the HoC names for cleaner names with meta data. I think the initial idea to optionally use the statically extracted component names is inferior and shouldn't be pursued for now. Prettifying the dynamic names provides more value and doesn't introduce another config users have to think about.

Free for all.

[2017-11-16 13:12] skidding opened #522 "Playground notification when fixture source changes"
### What's up?

Extracted from Slack

@alp82

@skidding

@alp82

@skidding

### Mkay, tell me more...

We both found 2) more appealing. Having a `"Fixture source changed. [Click here] to reload."` notification seems like an elegant solution.

[2017-11-16 13:47] maxsalven commented on #520
Thanks, I think I actually wanted this because I often have a 'base' object in its own file (within `__fixtures__`) that all my actual fixtures extend, and often don't actually want this one to show up in the playground.

This functionality would be great for that, as well as the aforementioned headless test.

[2017-11-16 13:50] maxsalven commented on #521
A related item, if you click on a fixture and get the overlay, then pressing escape doesn't clear the overlay until you click on the iframe. Would be nice to wire up an escape click in the FixtureList to close the overlay as well.

[2017-11-16 15:33] xavcz commented on #519
These are wise words (that resonate strongly with me): this makes a lot of sense!

As far as I'm concerned, using Cosmos mainly in the context of Apollo, I'm expecting an API like that to work really well to deal with loading / error / success states.

Using an API like `until`, could it also open the door to work with observables? Staying in the context of this component usually going from A (ini

[2017-11-16 17:46] skidding commented on #519
@xavcz I'm happy you say that because I wasn't sure if that idea is going to resonate with others. It took me a lot to realize something that seems obvious in retrospect.

I don't have experience with Observables but I see what you mean. Not sure how they could be integrated at the Cosmos level, but they can definitely be used to complement this feature. `until` is a different topic, but a helper

[2017-11-18 08:32] maxsalven commented on #508
https://github.com/react-cosmos/react-cosmos/pull/523

[2017-11-18 08:34] maxsalven commented on #519
I don't really understand this, sorry. Is it possible to get a real world style example of what you're talking about? Thanks!

[2017-11-18 14:40] skidding commented on #519
@maxsalven Sure. The philosophy was meant to provide more context but is probably more confusing than helpful at this point. Here's a concrete example.

Going back to the Playground fixture.

[code]

Flow: The playground does a fetch call to see if Loader html URL is responding positively. If it does, Playground renders the iframe and then expects for a message from inside the iframe.

The problem

[2017-11-21 19:24] bugzpodder opened #526 "cosmos 3 starts up with Target container is not a DOM element."
### What's up?
Installed Cosmos 3.0 got the following error.  I briefly looked around for a solution but was not able to found one.  I usually have issues with the other tools (styleguidist/story book) and were fixed by adding NODE_PATH=src/ but it did not make a difference here.

Target container is not a DOM element.
▼ 13 stack frames were expanded.
invariant
node_modules/fbjs/lib/invariant.js:4

[2017-11-21 19:28] bugzpodder commented on #526
ok fixed cosmos-config with the correct root element

[2017-11-21 19:28] #526 closed

[2017-11-21 19:34] skidding commented on #526
Happy to hear!

But I'm a bit curious about the initial error. If you don't specify a `containerQuerySelector` Cosmos should [automatically create a new div](https://github.com/react-cosmos/react-cosmos/blob/0aa23a8de11f9190e1b86813b7d0668f8e224f83/packages/react-cosmos-loader/src/mount.js#L10-L21) and put everything there.

So maybe you had already set `containerQuerySelector` to an invalid value

[2017-11-21 19:37] bugzpodder commented on #526
Yeah containerQuerySelector was added automatically for me, but my app had a custom element.  instead of #root, it was #react-root.  As you mentioned modifying containerQuerySelector and updating it to the correct id fixed it for me.

[2017-11-22 12:48] skidding commented on #475
Onwards! 🛤

[2017-11-22 12:48] #475 closed

[2017-11-23 10:16] viktor-izettle opened #530 "Hot module reload inserts new instances"
### What's up?

When saving a component or fixture in the editor a new instance is inserted instead of replacing the old one. This is when using hot reload.

Using version 3.0.0.

![image](https://user-images.githubusercontent.com/26546774/33167508-0cef5778-d03e-11e7-9b7a-611d94c2587f.png)

### Mkay, tell me more...

Cant find anything in the docs about this. But it would be better if it replaced

[2017-11-23 10:37] viktor-izettle commented on #530
After aliasing to `preact-compat` instead of `preact` this problem goes away.

[2017-11-23 10:37] #530 closed

[2017-11-23 15:23] skidding commented on #519
Update. I've completed the work for this in #528

Here's the gist:
- Renamed `fixture.onInit` to `fixture.ref` to make it more self explanatory and to emphasize it's a class component feature.
- This feature allowed removing a hack in the Playground and shortened the Playground test files by aprox. 500 LOC, which I believe makes them a lot easier to follow and extend.
- This paves the way for the

[2017-11-23 16:58] skidding commented on #520
Wouldn't it be better for you to add `/\/base\.js$/` to config.exclude? In time we might standardize this and provide some default exclude pattern for this.

[2017-11-23 22:27] bugzpodder opened #533 "proxies needs to be installed as dev-dependencies"
### What's up?

When I tried to use cosmos proxies as explained in README, they could not be resolved when starting cosmos server.
I am using CRA with cosmos 3.0

import createFetchProxy from 'react-cosmos-fetch-proxy';
import createReduxProxy from 'react-cosmos-redux-proxy';
import createRouterProxy from 'react-cosmos-router-proxy';
import createLocalStorageProxy from 'react-cosmos-localstorage-p

[2017-11-23 22:39] skidding commented on #533
@bugzpodder this is the expected behavior. Proxies are optional and thus are only installed when/where needed. Do you think the docs are misleading? Feel free to suggest improvements.

[2017-11-23 22:42] bugzpodder commented on #533
Thanks, just want to confirm this behavior.  I will see if I can create a PR for updating the doc.

[2017-11-23 22:42] #533 closed

[2017-11-24 17:09] #519 closed

[2017-11-29 14:38] maxsalven commented on #520
I guess I prefer explicitness over config, but this method is totally good enough, thanks.

[2017-12-01 10:45] jozsi commented on #521
Done via #535 - still depends on the new version of `create-react-app`

[2017-12-03 19:48] qooplmao opened #540 "Simple or Customizable WelcomeScreen"
### What's up?

I am planning on using react-cosmos to demo components to non-technical members of my company and the current welcome screen that is displayed has things which they will only find confusing ("mock Redux state", "fixtures", etc).

Ideally there would be a "basic info" version of the WelcomeScreen that just had the bare minimum information required for a user to see what they need to

[2017-12-08 10:16] skidding opened #542 "Regression: Stop bundling unrelated files"
### What's up?

Since #531 any other js/jsx/ts files you might have next to your components and fixtures will be bundled by Cosmos. This is good because, by creating a board file context, webpack knows to rebundle when we add a new fixture file. But is has been found to cause regressions in 3.1. If you have an invalid file anywhere near (but unrelated to) your components it will crash the Cosmos b

[2017-12-09 09:07] maxsalven opened #544 "Sorting of HOC'd Components in File Tree"
### What's up?

Components with HOC names get sorted based on their actual component names (`withRouter(Import)`) rather than their parsed component names (`Import withRouter`), which means the order in which we display components can be 'wrong' with respect to what UI displays.

<img width="225" alt="screen shot 2017-12-09 at 5 04 43 pm" src="https://user-images.githubusercontent.com/4144910/3379

[2017-12-09 13:48] skidding commented on #542
We could use https://github.com/fitzgen/glob-to-regexp to convert `config.filePaths` globs to a regexp which we could send to `require.context`. The only issue is that config.filePaths is an array of globs. If we manage to merge the globs or the resulting regular expressions, and `glob-to-regexp` is reliable, we no longer have to watch for file changes ourselves and this becomes a much easier task

[2017-12-09 20:15] skidding commented on #508
Hey, this is done! 🎊

[2017-12-09 20:15] #508 closed

[2017-12-09 20:37] skidding opened #546 "Discussion: ROADMAP"
Hey, I began downloading all my thoughts and aspirations for Cosmos, including discussions I've had with contributors in the past. This will become a more persistent document, but I think it's good to start as a conversation because I want to give everyone the opportunity to shape the contents before it becomes something more official.

Note that this "roadmap" is more of a *tree map*. It's not li

[2017-12-11 02:27] maxsalven opened #547 "Warn if Redux proxy mutates fixture"
### What's up?

Create a really basic redux proxy with some logging:

[code]
Create a fixture with some initial redux state `reduxState: { foo: true },`.

Load the fixture. Then click on the fixture again (or click on a different fixture, then click on the original fixture). Look in console:

[code]

You'll see the initial state was not passed to the createStore method on the second time.

[2017-12-11 02:40] maxsalven commented on #547
Update: this only happens if your configureStore method mutates the initial state that it receives. Which I appreciate you theoretically shouldn't do, but in my mind, clicking on a fixture should 100% reset everything. So maybe not quite a bug, but a caveat.

[2017-12-11 13:29] sergeydt opened #548 "HOC in fixtures doesn't work anymore"
### What's up?

After version 3.0.0 the following fixture doesn't work anymore:

[code]

Where HOC is Higher Order Component

In version 3.0.0 works fine.

P.S. the HOC in my case is `material-ui` Theme provider (component wrapper).

### Okay, tell me more...
I found that this bug came somewhere from impossibility of extracting `filePath` (or fileName) of such component.

[2017-12-11 14:11] skidding commented on #548
Hi @sergeydt,

Just to clarify, does this work in 3.0 but not latest (3.1.1) or it only works in 2.x?

[2017-12-11 14:17] skidding commented on #547
Good to know. Instead of cluttering the docs, it'd be great to do a deep comparison [before and after the createStore callback is called](https://github.com/react-cosmos/react-cosmos/blob/f8a4993ca317def4f01e75b3deb630113d43cfb8/packages/react-cosmos-redux-proxy/src/index.js#L22-L25) in the Redux proxy and throw an warning/error if a mutation occurred. I've never used it, but [deep-freeze](https:/

[2017-12-11 14:18] skidding commented on #547
Repurposed this issue into a feature. Feel free to adjust.

[2017-12-11 15:01] sergeydt commented on #548
Hi @skidding ,

Yes, with 3.0.0 it works fine.

When I run `cosmos` through npm script on 3.0.0 < version < 3.1.1 I got the following error:
[code]

and with
[code]

I got this trace
[code]

Have just checked and it seems has been fixed in recent release `v3.1.1`. So I think the issue should be closed.. (still anyone who contributes here may consider such usage option to not brake things in future

[2017-12-12 01:57] skidding commented on #548
@sergeydt sorry you had to go through all of this. I think #545 is the PR that fixed this.

Let us know if you experience any other issue in the future!

[2017-12-12 01:57] #548 closed

[2017-12-12 20:57] llimllib opened #551 "Trying to install, can't find loader/index.html"
### What's up?

Trying to install cosmos for [CMS Design System](https://github.cms.gov/CMS-WDS/pet-shared-components) I followed the install instructions in this way:

[code]

What I get at localhost:8989 is the spaceman with the message `Almost there... Install html-webpack-plugin in your dev dependencies `, which I have already done. I also get `GET http://localhost:8989/loader/index.html 404 (

[2017-12-12 20:59] #551 closed

[2017-12-12 20:59] llimllib commented on #551
Ummm, I was sure that was what I did, but the process of recreating the issue for this ticket caused it to work. Very weird.

[2017-12-12 21:03] skidding commented on #551
😄

Maybe you had to restart the server. Happy to hear it works.

[2017-12-12 21:50] llimllib commented on #551
I definitely restarted the server many times before. Very strange. :shrug:

[2017-12-15 12:11] #542 closed

[2017-12-15 12:12] skidding opened #555 "Create webpack context matching config.fileMatch"
### What's up?

Follow-up to #542 and #531

Sometimes you create a new fixture and Cosmos doesn't detect it, so you have to restart the server (annoying). At first we made a very broad `require.context` which detected all files changes but caused issues with a number of people because too many files were bundled, leading to either errors or poor build performance. We've reverted that, but there's

[2017-12-16 06:12] DJTB commented on #433
Having missing props would be very helpful, currently it's really confusing and misleading seeing components with empty props :sob:

Could we type check and include that as well for unserialized props?
[code]

[2017-12-16 13:13] skidding commented on #433
@DJTB I agree. When we send the serialized fixture body from Loader to Playground, via fixtureLoad event [here](https://github.com/react-cosmos/react-cosmos/blob/da8d6594a5f2d92c1ce2d1ac46eaf674c1c5f3c7/packages/react-cosmos-loader/src/connect-loader.js#L55-L60) we could easily extract the names and types of the unserializable parts and add that information (which *is* serializable) to the event.

[2017-12-18 21:59] andreypopp opened #559 "Read "children" from fixture.props.children"
I understand that placing `children` at the top level of fixture is an optimisation for a common case, I'm talking about:

[code]

I'd argue though that it breaks a symmetry between accessing `children` via `this.props.children` (or `props.children` in functional components) and providing them to the fixture.

That symmetry property which is broken is very important, I think, as it allows a develo

[2017-12-18 22:20] andreypopp opened #560 "Current API for defining fixtures doesn't allow fixtures to be typechecked"
I think the current API is not optimal for codebases which use either Flow or TS because it doesn't allow to check fixtures for type errors.

Instead I'm proposing to have a `createFixture` function:
[code]

which provide a type witness to Flow/TS how `props` relates to `component`.

Which would make fixtures look like:
[code]

Digging Cosmos more and more! Thanks!

[2017-12-18 22:21] skidding commented on #559
@andreypopp I see your point, and I believe at some point in Cosmos history `children` were read from `fixture.props.children`. But the thing is children *are* special in React. They are the 3rd argument to [React.createElement](https://reactjs.org/docs/react-api.html#createelement), after `type` and `props`. That said, after pausing to dig a bit more on this it [seems](https://twitter.com/dan_abr

[2017-12-18 22:21] andreypopp commented on #559
Also #560 is probably a requirement to make API typeable.

[2017-12-18 22:23] andreypopp commented on #559
I strongly disagree with that. There are syntactical difference but API symmetry between definition and consumer site is a much stronger invariant and this is what I'm talking about.

[2017-12-18 22:25] andreypopp commented on #559
They are the same for `React`. As I said that's just syntactical sugar. I don't think Cosmos should built an API around that.

[2017-12-18 22:30] skidding commented on #560
Is that a working example?

I've been wondering if there's a way to have a generic `Fixture` type that can be used like this: `fixture: Fixture<Component>` and it would know to expect `fixture.props` to match the Props type of Component. But I don't have enough experience with Flow/TS to understand if that's possible.

Btw, I just typed some fixtures for the first time today :P

[code]

Not ideal.

[2017-12-18 22:40] skidding commented on #559
Happy to accept a PR to use `fixture.props.children` as children. [Here](https://github.com/react-cosmos/react-cosmos/blob/ede293e1239202cb962077fd3157813f181b7861/packages/react-cosmos-loader/src/components/PropsProxy/index.js#L10-L22) is the relevant code. With the mention that `fixture.children` should continue to be supported and not break API for existing users.

[2017-12-18 22:40] andreypopp commented on #560
Yes. I've copy pasted this from my fixture code.

The problem with this proposed API is that the type annotation with `Fixture` is optional while using `createFixture` guarantees that fixtures will be type checked.

[2017-12-18 23:35] andreypopp opened #561 "Custom prop editors for typed components"
Cosmos has the prop editor, this is great.

But when components are typed (TS or Flow) then we have more info about available props — their types and that means — the range of allowed values.

I'm thinking that could be used to construct more sophisticated prop editors for typed components.

(The same could be done for `state` by the way but I'd focus on `props` down below.)

Example component cod

[2017-12-19 02:27] maxsalven commented on #559
I'd prefer to use the `fixture.props.children` syntax personally.

Here's the relevant source in the React codebase BTW, everything ends up in `props`:
https://github.com/facebook/react/blob/3c977dea6b96f6a9bb39f09886848da870748441/packages/react/src/ReactElement.js#L202

[2017-12-19 16:15] Aidurber opened #562 "React Native using proxies and fixtures with Enzyme"
The fixtures and proxies are so beautifully useful, I'd love to be able to use them in React Native. I tried to get them working in a small project but the dependency on React DOM makes it throw a wobbler. I thought using Enzyme with react-native-mock (Airbnbs recommended lib for using Enzyme with RN).

I couldn't get it working due to react native mock having a few issues at the minute.

My quest

[2017-12-19 20:52] skidding commented on #562
I hope so. In theory you should and I'd be happy to help investigate if something unexpected occurs.

Enzyme or not, I'd be very curios to see how Cosmos behaves with RN. I don't have experience so I never got around to testing it.

To make the Playground UI work with RN requires some foundational work, as mentioned in this passage from the [Roadmap discussion](https://github.com/react-cosmos/reac

[2017-12-20 22:09] mmacaula opened #564 "Support webpack config that exports a function"
### What's up?
react-cosmos seems to not support a webpack configuration that exported a function as defined [here](https://webpack.js.org/configuration/configuration-types/#exporting-a-function).  This led the output to suggest I needed the HTML plugin (which I did have).

### Mkay, tell me more...
I tried solutions described in #449 but ultimately only got it to work when I duplicated our webpac

[2017-12-26 06:57] maxsalven commented on #560
@andreypopp I tried using the function you defined, and it works great for type checking (although VSCode shows the errors in the component definition rather than in the fixture, but not a huge deal). However, any fixture I have wrapped in `createFixture` no longer shows up in the correct place in the file tree on the left side of Cosmos. Have you had this issue?

@skidding, if I run `yarn print-f

[2018-01-02 04:50] rhysforyou opened #566 "Providing a 'route' to a fixture doesn't provide the `match`, `location`, etc. props"
### What's up?

When React Router v4 renders a `component` that was provided to a `Route`, it passes a few props along like `match`, `history`, and so on. However, when I provide a `route` for a fixture while using the `react-cosmos-router-proxy` package, these props aren't passed to my component.

### Mkay, tell me more...

Right now I'm getting around this by wrapping the component in `withRoute

[2018-01-02 11:13] kfern opened #567 "Cannot find module 'enzyme' from 'enzyme.js'"
### What's up?

I'm trying to reproduce the example at https://github.com/react-cosmos/react-cosmos#using-enzyme

When I use

`import createTestContext from 'react-cosmos-test/enzyme';`

I get

[code]
Environment:

[code]
Is it a bug or am I doing something wrong?

Thanks in advance

[2018-01-02 12:15] kfern commented on #567
Beginner failure: Enzyme was not installed

I have installed it with:

npm i --save-dev enzyme enzyme-adapter-react-16

Now I get:

[code]
What should be the minimum configuration?
Is something missing in the example?

[2018-01-02 16:29] razagill commented on #567
You need to setup the adapter for `enzyme` before you run any tests. Put the following in your `setupTests.js` file.
[code]

[2018-01-02 21:29] kfern commented on #567
@razagill Works. Thank you!!

[2018-01-02 21:29] #567 closed

[2018-01-03 03:22] maxsalven opened #568 "Decorator Proxy"
I'd like to create a proxy that allows me to specify a `Decorator` component that wraps my actual fixture `component`.

[code]

I appreciate I could just create a new component that is already decorated, however then the component name in the fixture file tree will be that of the decorator. Plus I have to manually create the new wrapped component in any fixture where I want to decorate something.

[2018-01-04 10:45] NiGhTTraX opened #569 "Fixture editor doesn't preserve collapsed state between updates"
### What's up?

A picture is worth a thousand words. A GIF is worth a thousand words per second:

![fixture-editor-collapsing](https://user-images.githubusercontent.com/485061/34560019-7f584992-f144-11e7-997c-2c200b2fb016.gif)

### Mkay, tell me more...

You can see the collapse arrows blinking in the GIF after every update; I'm guessing it's related.

[2018-01-07 00:38] skidding commented on #566
Interesting. It looks like you're trying to do

[code]

when the Router Proxy does this

[code]

It would work in your case (it seems like the components you're trying to load are probably root level components for each route, correct me if I'm wrong), but would be an extra wrapper for all the other cases when you have non-root level components already wrapped with `withRouter` throughout the app.

[2018-01-07 00:40] skidding commented on #567
Awesome.

We need to do a better job at signaling missing "peer" dependencies in the future.

[2018-01-07 17:20] skidding commented on #568
Before addressing the bigger question about how to handle decorators in general, I'll tweak your example to try to make it work and see if I understood what you're trying to do.

[code]

In other words, the DecoratorProxy is creating the Decorator element and should pass it the props it needs (in this case fixture.props but you could also send it the entire fixture).

@maxsalven Does this work?

[2018-01-07 17:30] skidding commented on #569
Yeah, it's annoying. It might be possible to read current folded lines and apply them again after a fixture change. See https://codemirror.net/doc/manual.html#addon_foldcode

But I personally won't work on this because I'm planning to design a control panel to replace the fixture editor. Broadly, I want each fixture section to have a separate (collapsable) section with plugin support. Which will g

[2018-01-07 23:01] rpowelll commented on #566
Yeah what I want is something like

[code]

But instead what seems to be happening is something like

[code]

I think the suggested config is probably a good solution if we're not willing to change the current behavior.

[2018-01-12 15:33] dfedynich opened #573 "What is required NodeJS version to run react-cosmos?"
### What's up?

Could you specify the required version of NodeJS to be installed to run react-cosmos?
Could you compile the final bundle according to ES5 syntax rules?

### Mkay, tell me more...

We have to use NodeJS 5.x.x version for several reasons for the current project. We are using react-cosmos 2.0.0-beta.x (react-cosmos-webpack to be exactly) for now. It works almost fine. But we want to u

[2018-01-12 15:44] skidding commented on #573
Unfortunately we lost track of that. If anyone wants to do some testing that would be great. But it should work with old versions of Node. Cosmos repo requires Node >=6.x **if you want to be a developer to Cosmos.** As a user, Node 5 and older should work.

All packages are already compiled and published as ES5 on npm. If you look each `package.json` they point to `packages/*/lib/*`, which is wher

[2018-01-16 11:15] jozsi commented on #521
Updated `react-error-overlay` via #574

[2018-01-17 16:28] jozsi commented on #568
@maxsalven - you might want to take a look at my [wrapper proxy](https://github.com/jozsi/react-cosmos-wrapper-proxy). I wonder if we could make it support more use cases, like this. Any ideas/contributions are welcome!

[2018-01-23 19:11] vjpr commented on #323
I have the same issue with a next.js project.

I tried adding a `babel-loader` to compile the exact file that said it required a loader. Didn't work. `react-cosmos` must be doing some magic I'm guessing...

[2018-01-23 19:20] skidding commented on #323
@vjpr Which version of Next.js?

I recently upgraded from an older version to 4.3 and struggled a bit to get Babel to work. In the end this config works just right:

.babelrc
[code]

cosmos.config.js
[code]
But if I recall correctly, if you reverse the order of presets to `["next/babel", "env"]`, which is what the Next.js docs recommend, it stops working.

[2018-01-23 19:31] vjpr commented on #323
Got it working!

I am using a custom webpack config because I modify the Next webpack config in `next.config.js`.

I am also using a custom babel preset (see `babel-preset-foo` below) which I keep in my project's monorepo.

I added a `babel-loader` like so:

[code]

[2018-01-23 19:55] skidding commented on #323
Cool.

I'd like to make integrating Cosmos a better experience for new users but unfortunately both Next.js and Cosmos are experimental tech, because they rely on so many new technologies that need to work well together across versions. I think this is the price that we'll continue to pay going forward, at least for the foreseeable future. Anyway, I'm happy you're on board!

[2018-01-25 17:00] razagill opened #575 "Integration with redux-form"
### What's up?
Trying to integrate `react-cosmos` with `redux-form` using the redux proxy. The dispatch isn't working.

### Mkay, tell me more...
The reducer is working fine as I can see in the redux devTools, however, when clicking on the submit button of the form, instead of getting the actual form values i'm getting a `Proxy` object.

Simple form component:
[code]

cosmos.proxies.js
[code]
my f

[2018-01-25 17:17] skidding commented on #575
Hi @razagill

At a glance it doesn't look like anything's wrong. The `Proxy` object is probably just a submit event, but it looks odd because React generates synthetic (custom) DOM events.

I'm not experienced with `redux-form`, but it seems like `form onSubmit` should be bound to a specific prop generated by the `reduxForm` HoC. I was looking at this example: https://codesandbox.io/s/mZRjw05yp

[2018-01-25 17:32] razagill commented on #575
@skidding damn that was it. I just had to wrap it in another component and pass `onSubmit` instead of `handleSubmit`. Thanks a lot :)

[2018-01-25 17:32] #575 closed

[2018-01-25 20:20] kfern commented on #575
@razagill @skidding

Would be possible a simple and complete example?

[2018-01-25 21:04] skidding commented on #575
@kfern I linked a [CodeSandbox example](https://codesandbox.io/s/mZRjw05yp) in my previous message. It's taken from the [redux-form README](https://github.com/erikras/redux-form#-code-sandboxes-). Are you having trouble making Cosmos work with redux-form?

[2018-01-25 21:09] kfern commented on #575
@skidding I want to try cosmos with redux but I have not started yet. In the repo there is no example

[2018-01-25 21:29] skidding commented on #575
You're right. There used to be but now there isn't! 🤕

If you don't mind, can you please create an issue for this? Myself or someone else can pick it up later. Thanks!

[2018-01-25 21:46] kfern opened #576 "How to integrate react-cosmos with redux-form using the redux proxy"
### What's up?

I want to try cosmos with redux but I have not started yet.

### Mkay, tell me more...

Would be possible a simple and complete example?

Thanks in advance

[2018-01-25 21:47] kfern commented on #575
@skidding Done. https://github.com/react-cosmos/react-cosmos/issues/576. Thanks :-)

[2018-01-26 17:48] skidding commented on #573
Closing this as there doesn't seem to be any issue. Let me know otherwise.

[2018-01-26 17:48] #573 closed

[2018-01-28 16:41] razagill commented on #575
@kfern sure, I already posted my example code in the issue so taking from there here are the two changes you need to make.
The `onSubmit` hook needs to be passed as props to your form component, since redux-form will wrap that component this will mostly be any other component that is using the form component.

Taking the above example calling `SimpleForm` would then be something like:
[code]

And

[2018-01-29 18:45] RPDeshaies opened #579 "No documentation on how to use the mount method to group multiple fixture inside the UI"
### What's up?

There is no documentation on how to load multiple fixture inside a group when using `react-cosmos-loader`'s `mount()` method

### Mkay, tell me more...

I'm using react-cosmos with [Fusebox](fuse-box.org) and have a custom implementation so I have to use the `mount()` method inside the `react-cosmos-loader` package.

Considering the following code
[code]

Generate this:

![image](h

[2018-01-29 18:46] RPDeshaies commented on #579
I'ved tried using

[code]

But it doesn't work so I guess there's something else that needs to be done

[2018-01-29 22:28] skidding commented on #579
You need to give each fixture a name:

[code]

Let me know if this helps.

[2018-01-31 04:21] mmacaula opened #581 "getRootWrapper().setProps({prop : val})` inside a test does not set props"
### What's up?

Calling `getRootWrapper().setProps({prop : val})` inside a test does not seem to set the props on my component.

### Mkay, tell me more...

I'm testing a redux-form field component, and have a fixture like this:

[code]

and i'm trying to *overwrite a prop from the fixture* during the test, instead of making a whole new fixture with the updated prop.
[code]

Is there a better way t

[2018-01-31 04:28] mmacaula commented on #576
@kfern I was able to get it running with redux form.  My case is a little different. I'm trying to test a single `<Field>` component but maybe this would work for you?  Here's an example test fixture and test.

[code]

Then in my test, I had to do a couple of 'interesting' things, that may or may not be fully necessary.  For instance to get redux form to trigger its actions, i first had to focus i

[2018-01-31 09:44] skidding commented on #581
Hi @mmacaula,

Setting props on the root wrapper doesn't work because the root wrapper is the Cosmos Loader component. createContext creates a structure like this: `CosmosLoader(ReduxProxy(...otherProxies(YourComponent)))`. Which is why there's a distinction between `getRootWrapper` and `getWrapper.` Actually I don't think getRootWrapper is documented so I'm not sure how you came about it :)

But

[2018-01-31 15:12] RPDeshaies commented on #579
Hey, @skidding the fixtures are now indeed visible inside the list but when I try to load them, I have errors in my console saying:

[code]

And
[code]

[2018-01-31 15:35] skidding commented on #579
It sounds like your fixtures are ES6 modules so maybe this will work:

[code]

If this works, you can use a helper we use throughout the Cosmos packages to normalize modules at run time:

[code]

[2018-01-31 16:16] RPDeshaies commented on #579
Ok yeah you are right. I didn't know I needed to use this since if I don't provide a name for the fixture, I do not need to call the `default`.

Thanks for all the help.

Any plans on adding that to the doc ?

[2018-01-31 16:34] skidding commented on #579
With pleasure!

Not right now...

I want to make sure the main APIs are clear enough before adding instructions on how to use the lower level primitives in Cosmos. Kudos for making it work btw, I don't think `react-cosmos-loader` is documented at all at the moment.

On the other hand, I never heard of FuseBox before so if you're interested it might be valuable to create an `examples` folder with a

[2018-01-31 20:23] skidding commented on #559
OK, after going deeper with typed fixtures it's clear to me that `children` needs to be under `fixture.props` 😬

I'm green lighting this as a free for all task. I'd be great if someone is interested in doing a core yet relatively light contribution to Cosmos.

[2018-01-31 22:20] mmacaula commented on #581
Thank you for the quick and informative reply (as well as your work)!

I came about `getRootWrapper` by looking through the source... :)  Using `getWrapper` to set props gives me this error message: `ReactWrapper::setProps() can only be called on the root`  from enzyme, which makes sense as an error message based on my knowledge of React.

My initial thought for the test was to do the lifecycle pa

[2018-02-01 12:48] #559 closed

[2018-02-01 15:50] skidding commented on #581
Yes, unfortunately there's no simpler way at the moment.

If you're interested in opening an issue for a feature request to add a setProps method to the fixture context, I welcome it gladly. I'm not able to dive into it in the near future, but I'd be happy to guide someone interested in contributing. In any case, I'm sure we'll get to it eventually because it sounds like a popular use case.

[2018-02-02 13:22] kfern commented on #576
@mmacaula Thanks!!  I guess next week I'll do some tests

[2018-02-02 13:25] kfern commented on #575
Thanks!! I guess next week I'll do some tests. I'll comment in https://github.com/react-cosmos/react-cosmos/issues/576

[2018-02-02 16:17] mmacaula opened #583 "Allow for a `setProps` for the wrapper to be able to test component lifecycle logic"
### What's up?

from #581 It would be nice to be able to set the props on the component.

### Mkay, tell me more...

I looked briefly at the source code [here](https://github.com/react-cosmos/react-cosmos/blob/master/packages/react-cosmos-loader/src/components/Loader/index.js#L36) and was wondering if it would be ok to just update all the existing proxies to pass along the props down the component

[2018-02-02 19:51] skidding commented on #583
Thanks for opening this!

The way createContext works now by default, it destroys  React instances whenever we change the fixture and mount again, to make sure that the contents of a fixture are deterministic (ie. they will yield the same output if we apply the updated fixture contents from scratch another time). We can't change this as all existing users of Cosmos rely on this at the moment.

Goo

[2018-02-04 03:06] mmacaula commented on #583
Hmm, that didn't seem to work for me.  I did get a re-render with the updated prop but got no component* lifecycle methods hit.  I thought maybe it was because creating a new context was the issue so i tried doing a mount(false) on ctx1 but that also didn't work.

[2018-02-05 10:22] skidding commented on #583
Thanks for checking!

I replicated the same example and got the same result. So I investigated.

It turns out `react-test-renderer` doesn't work as the real life ReactDOM renderer does. If you render an identical same React element it doesn't preserve the old React instances (and thus doesn't end up calling lifecycle methods), as calling `ReactDOM.render` on the same React element does. This makes

[2018-02-06 08:51] skidding commented on #583
Yes! I think exposing both a `set` and a `setProps` is the way to go in the long term, as both as useful on their own. The only question I have here is regarding overriding vs extending. Eg. I think `set` should completely override the specified part of the fixture, whereas `setProps` would be more natural to extend the previous fixture props with the new ones passed. This opens up the discussion

[2018-02-07 19:35] kfern commented on #576
This PR https://github.com/react-cosmos/react-cosmos/pull/586 is a first basic redux form example. All suggestions are welcome.

[2018-02-09 15:31] mmacaula commented on #583
Yes completely agree

IMO, a replacing `set` and a merging `setProps` would handle most use cases.  I'd suggest you don't do it unless you get a lot of requests for it.  Your call though, happy to do whatever you prefer.

I've been pretty busy lately but hope to get to this in the next week!

[2018-02-09 15:42] skidding commented on #583
Agreed. I see two potential avenues for the future:
- People want to override props. We can add `replaceProps` or just tell them to use `set('props', newProps)`
- People want to extend other parts of the fixture. We add an option to set that allows them to do `set('reduxState', { override: false })`

In both cases we can add extra functionality without breaking the initial API. So I'm on board wit

[2018-02-09 19:14] evilj0e commented on #564
It supported by default, i think.
I found that you should specify path to webpack config from root. And it works.

[2018-02-10 21:39] mmacaula commented on #581
closing this due to workaround found in #583

[2018-02-10 21:39] #581 closed

[2018-02-12 16:38] #583 closed

[2018-02-13 20:50] #521 closed

[2018-02-15 05:42] kfern commented on #576
@skidding @mmacaula Thanks again for building this great tool! 🥇

[2018-02-15 05:42] #576 closed

[2018-02-15 21:15] mmacaula commented on #576
no credit due here!  Just trying to help with a simple example.  @skidding is awesome though! :)

[2018-02-15 22:23] mysterycommand opened #593 "Cosmos Export Broken?"
### What's up?

Hi, I have a fairly complex project setup that's using React Cosmos for a "living styleguide". We automatically publish `cosmos-export` to GitHub pages and during our most recent upgrade (from React Cosmos 3.2.1 to 3.7.0) we noticed that the exported pages were failing at runtime with this error:
![screenshot 2018-02-15 17 16 43](https://user-images.githubusercontent.com/810398/362

[2018-02-16 10:01] #593 closed

[2018-02-18 15:52] mmacaula opened #598 "Using `set` to set reduxState in test context doesn't update the actual st."
### What's up?

Setting reduxState in test context doesn't update the actual state.

### Mkay, tell me more...

Turns out this test from the docs doesn't actually work...
[code]

This is my bad for not testing it in my other PR the other day.  Once the store has been created in the redux-proxy, it takes over management of the store state (as it should) and doesn't do anything with an updated fixtu

[2018-02-19 11:50] skidding commented on #598
Thanks for bringing this up!

One solution would be to call `mount` internally. But this wouldn't work out of the box because [mount](https://github.com/react-cosmos/react-cosmos/blob/c1e047f8f45d83bca1f04959cbab3fb07e575dd3/packages/react-cosmos-loader/src/create-context.js#L75) uses the catched fixture contents (initialized on `createContext` and updated whenever proxies send updates).

Which br

[2018-02-23 04:31] mmacaula commented on #598
Wouldn't calling mount again destroy and re-build the component from scratch with the updated reduxState?   That would work for the UI where you do that all the time but for testing, if i want to test lifecycle methods, I'm not sure it would.

If we wanted to do lifecycle testing, we'd have to get the redux-proxy to somehow replace the whole store with the passed in state somehow.  Would it be pos

[2018-02-23 12:45] skidding commented on #598
Not if we call it like `mount(clearPrevInstance = false)`. This way we'd end up following the `componentWillReceiveProps => componentWillUpdate => componentDidUpdate` render path of the Loader and all nested proxies.

[2018-02-23 12:57] skidding commented on #598
So, to bring back `set` and improve docs:
- Redux proxy needs to "listen" for fixture changes in `componentWillReceiveProps`
- `set` and `setProps` need to be labeled as `Enzyme context-only`, as they aren't available if we `react-test-renderer` or the DOM renderer
- We should specify that these setters need to be implemented in proxies as well to work completely, and possibly add TODOs in other a

[2018-02-26 15:45] mmacaula commented on #598
I'm working on the redux proxy now (with tests), I'll also try to take a stab at looking through the other renderers and adding TODOs or just fixing them.  Would you prefer smaller PRs for each of those as I find them?

[2018-02-26 19:28] skidding commented on #598
Awesome!

Smaller PRs are my preference, but feel free to go with the path you're most comfortable with.

[2018-02-27 15:54] alexvpickering opened #604 "No fixtures detected after following create-react-app setup"
### What's up?

**No fixtures detected** after following create-react-app setup.

### Mkay, tell me more...

I tried to follow the readme/create-react-app section as best I could but I get **No fixtures detected** screen at http://localhost:8989/

My setup can be found here: https://github.com/alexvpickering/cosmos-example

[2018-02-27 16:31] skidding commented on #604
@alexvpickering you forgot to add `.js` extension to [your fixture file](https://github.com/alexvpickering/cosmos-example/blob/abef4ebf4acef3d89437a6f0c06baf070a0661f4/src/__fixtures__/Input.fixture). 🙃

[2018-02-27 16:32] skidding commented on #604
OH, just realized the docs are at fault.

A small PR to correct this `s/*.fixture/*.fixture.js` would be appreciated!

[2018-02-27 16:41] alexvpickering commented on #604
Thank you for the quick response. Yeah the docs confused me - I thought it was a custom file extension.

[2018-02-27 16:41] #604 closed

[2018-02-28 21:08] alexvpickering opened #605 "react-cosmos-test globalImports"
### What's up?
I am trying to test a component that uses `jquery` with `react-cosmos-test`. `jquery` is attached globally to `window.$`. The component mounts in the App, and in cosmos after adding `globalImports: ["./src/include/jquery.js"]` to `cosmos.config.js`. How do I get `react-cosmos-test` to recognise global imports as well?

### Mkay, tell me more...

An example repo of the issue I am fac

[2018-02-28 21:35] skidding commented on #605
Hey @alexvpickering

`config.globalImports` is ignored by the test API. While I'm not sure of the full implications at the moment (ie. if we want the same globals in test environment as in Cosmos UI), it sounds like a good idea for a feature request. At the moment only `proxiesPath` is read from the cosmos config by the test API.

That said, I managed to make your repo work with the following chan

[2018-02-28 22:20] alexvpickering commented on #605
Hey @skidding

Thank you - yes that resolved the immediate issue with `jquery`. It did however raise another issue in my actual code-base related to `datatables` (again, finding `$.DataTable` in `React`, `cosmos`, but not `cosmos tests`):

`TypeError: window.$(...).DataTable is not a function`

 I've reproduced the issue in the [example repo](https://github.com/alexvpickering/cosmos-example) if yo

[2018-03-01 17:09] skidding commented on #605
A couple of things:

- Using a global namespace is no longer valid when working with CommonJS modules  (webpack, CRA, etc.), so you should import jQuery wherever you use it instead of reading it from `window`
- I'm not sure what's the best practice when dealing with jQuery plugins and CommonJS, or if there is a consistent one, but I managed to make your example to work: https://github.com/alexvpic

[2018-03-01 17:55] MattReimer opened #608 "Composition and semantics"
This may be more of a philosophical thing. I have a form I'm designing in `semantic-ui-react` and one of the main things I'm trying to test is how everything fits inside a modal dialog.

The modal dialog is a separate container component I reuse a bunch of places so my JSX looks something like:

[code]

So the fixture I end up with looks like this:

[code]

There's two problems I see with this:

1

[2018-03-01 19:19] skidding commented on #608
I agree, it would be more natural for the fixture to look like this:

[code]

This feature is not yet available, but it's discussed in #568 and I'm more than happy to provide guidance if anyone is willing and has the time to contribute.

[2018-03-01 20:15] MattReimer commented on #608
Ah, yes. That would be cool. We can continue this conversation on #568 for sure.

[2018-03-01 20:15] #608 closed

[2018-03-02 02:23] alexvpickering commented on #605
Ah that works now! Thank you so much. Wasn't aware of the distinction between the testing environment and the browser.

[2018-03-02 02:23] #605 closed

[2018-03-05 08:57] maruware opened #610 "No fixtures detected when a cwd path includes dotfile."
### What's up?

No fixtures detected when a cwd path includes dotfile.
e.g. /Users/maruware/.ghq/github.com/maruware/project-x

### Mkay, tell me more...

function ```findFixtureFiles``` consists
* glob with absolute
* filter with micromatch

[code]

The problem may be solved with
* glob with no absolute
* micromatch with [dot option](https://www.npmjs.com/package/micromatch#optionsdot)

[2018-03-05 12:01] skidding commented on #610
@maruware thanks for bringing this up, I wasn't aware of it!

Sounds line an easy fix.

Not sure I understand how this would work. Do you have a favorite solution out of the two?

[2018-03-05 18:31] victormoukhortov opened #611 "`src` pushed to npm (`react-cosmos-test`)"
### What's up?

It seems that the ES6 `src` files have been pushed to npm. This messes up module resolution in jest, where `require('enzyme')` in `lib/enzyme.js` resolves to `src/enzyme.js` instead of `node_modules/enzyme/...`

### Mkay, tell me more...

Delete `src` folder from npm registry for package `react-cosmos-test`

[2018-03-05 18:45] skidding commented on #611
Hmm, that's bad. We have to check this for every Cosmos package. I was under the impression that only what's under [`package.files`](https://github.com/react-cosmos/react-cosmos/blob/56077795420e70a5f314a3fa737918fc8cb7e152/packages/react-cosmos-test/package.json#L7-L110 will be published to npm.

@victormoukhortov thanks for reporting!

[2018-03-05 20:43] adamszeptycki opened #612 "Error importing createTestContext"
### What's up?

I'm getting an error while running tests.

[code]
I have my small project where I try to add cosmos. I was able to render comonent in cosmos but I can't run tests with your API.

### Mkay, tell me more...

I did track down an error to this line:
[code]

[2018-03-05 21:31] skidding commented on #612
Hi @adamszeptycki,

Is your project public, or can you provide a *minimum reproducing repo* that I can debug? Thanks!

PS. I like your OS username ;)

[2018-03-05 22:12] adamszeptycki commented on #612
Thanks :)

Here is a project I forked and just added the cosmos.
https://github.com/adamszeptycki/react-example

[2018-03-05 22:13] adamszeptycki commented on #612
To be fair I have a different error... :|

[2018-03-05 23:22] adamszeptycki commented on #612
Ok, the error I'm getting is probably connected with the fact that I'm using karma.
[code]
Any ideas?

[2018-03-06 13:12] skidding opened #613 "Detect fixtures of new components without server reload"
### What's up?

Cosmos does a good job of detecting new fixtures files of components that already have fixtures, because **Cosmos creates a webpack context for folder with fixtures**. But this falls short when we create a new component and fixture for it. *Crickets*. We have to re-start the Cosmos process for the them to show up.

I've worked with Cosmos a lot lately and I've found this pretty ups

[2018-03-06 15:27] fusionstrings opened #614 "Children props in JSX do not work"
### What's up?

Readme mentions (https://github.com/react-cosmos/react-cosmos#children) that children props of a fixture can have JSX in them.

[code]

This doesn't seem to be working though
### Mkay, tell me more...

I see the following error.
[code]
This doesn't happen when using non-jsx children

[2018-03-06 17:47] skidding commented on #614
Hi @fusionstrings,

This is more related to JSX/Babel than Cosmos. Babel compiles JSX into React.createElement() calls, which requires React to be imported in the same file to begin with. Yes, this is a confusing thing that the community hasn't figured out how to solve (to my knowledge).

Try adding this at the beginning of the fixture (only if you have JSX):

[code]

Also, if you're willing, it m

[2018-03-06 21:57] fusionstrings commented on #614
Hey, @skidding Thanks for clarifying. Of course...React needs to be in scope. Also doesn't matter how small the contribution is, thanks for giving the opportunity :)

https://github.com/react-cosmos/react-cosmos/pull/615

[2018-03-06 21:57] #614 closed

[2018-03-07 18:35] gir commented on #611
As a workaround, for now, you can just add this to your package.json
[code]

[2018-03-08 13:11] adamszeptycki commented on #612
We migrated from karma to jest and it works now.

[2018-03-08 13:11] #612 closed

[2018-03-08 16:55] VGamezz19 opened #616 "📘Typescript-react-starter - With Cosmos"
Hi, I have a problem when I try to use [typescript-react-start](https://github.com/Microsoft/TypeScript-React-Starter#typescript-react-starter) with Cosmos.

I really want to use Cosmos in my project, but I do not know and I do not see any example to configure it.

## Explaning error:

When I execute `yarn cosmos` appears this message:

[code]
### ./src/__fixtures\__/Hello.fixtures.tsx

[code]
###

[2018-03-11 03:52] mmacaula commented on #598
@skidding Sorry it's been awhile, had some personal things going on...  I got around to implementing the updated redux proxy and all _looks_ good, but it doesn't actually work.  My naive attempt was to just recreate the store with the new state, but that doesn't quite work as the `connect` component grabs the store off context and holds onto it for its lifetime, which makes sense of course, stores

[2018-03-11 06:58] skidding commented on #598
How about invalidating the entire child tree by setting an incremental `key` to the next proxy?

In short:
- `state = { storeId: 0 }` on the ReduxProxy component class
- `React.createElement(nextProxy.value, { key: this.state.storeId, ...` in render
- ` componentDidReceiveProps(nextProps) { if (oldReduxState !== newReduxState) { this.setState({ storeId: this.state.storeId + 1 })...` (Wondering if

[2018-03-12 17:07] mmacaula commented on #598
Yep that works!  At least in my use case.  Do you think it'll work in all cases?  I'm looking at the source for `connect` [here](https://github.com/reactjs/react-redux/blob/master/src/components/connectAdvanced.js#L122).  To me, it seems this way relies on the connect component being rebuilt when we invalidate the tree.  I could just not understand the way react renders the tree though.

[2018-03-12 17:36] skidding commented on #598
You don't have to worry about connect transition. When you set a different `key` to a child element React re-creates all instances, so the connect constructor will be called again. It's like loading a different fixture from scratch. Does this info help?

[2018-03-13 03:59] xavcz commented on #616
👋, hey!

Problem
---
I figured out that the problem comes from this in your logs:

Cosmos tries to parse the fixture but doesn't know how to resolve the content of a `.tsx` file: it's using its default config.

Solution
---
As you're using a starter based on `create-react-app`, you can use a Cosmos config [as similar as the one recommended for CRA](https://github.com/react-cosmos/react-cosmos/#cre

[2018-03-13 03:59] #616 closed

[2018-03-13 04:08] xavcz commented on #613
Yep, same! Another part of the discussion: https://github.com/react-cosmos/react-cosmos/issues/542

[2018-03-13 21:16] xavcz commented on #613
Would using `glob-to-regexp` as mentioned in https://github.com/react-cosmos/react-cosmos/issues/555 would reduce the need of `react-cosmos-voyager2` ?

`require.context` would be run from root directory with a regexp created from the glob pattern?

By the way, `embedModules`, where we watch files, still depends ([source](https://github.com/react-cosmos/react-cosmos/blob/master/packages/react-cosm

[2018-03-14 05:52] skidding commented on #613
Maybe, but I remember trying it and it fell short in some way. I can't remember for sure, but I think it's the highlighted part from this passage:

I believe I couldn't find a way to merge more than one regexp and send it to webpack, which expects one.

Shouldn't be an issue, this code path only activates when `config.componentPaths` is set up, which is still supported as backwards compatibility b

[2018-03-14 07:56] xavcz commented on #610
Solved in #618, will be released under `react-cosmos@4` asap 👍

[2018-03-14 07:56] #610 closed

[2018-03-15 19:49] neezer opened #620 "Make export deterministic"
### What's up?

I run `cosmos-export` and I see that my generated files include absolute file paths specific to my system. When I have other team members contribute to my project and they run the same export, these files churn unnecessarily.

### Mkay, tell me more...

The files in question are

- `index.html`, in `mountPlayground`, argument `projectKey`: the value is an absolute path specific to

[2018-03-17 09:07] #445 closed

[2018-03-20 07:54] skidding commented on #611
A few leads on this one:
- [Lerna doesn't seem to be the issue](https://github.com/lerna/lerna/issues/1282#issuecomment-373046797)
- [Yarn seems to have a hard time respecting package.json:files](https://github.com/yarnpkg/yarn/issues/2822#issuecomment-374505604)

Will keep you posted as soon as I learn anything new, and any outside help is appreciated.

[2018-03-20 08:43] skidding opened #625 "Improve monorepo dev experience"
### What's up?

An abstract from the more detailed [Spectrum conversation](https://spectrum.chat/cosmos?thread=3c28f7de-1e90-43ef-a9ff-99791b073a66):

### Mkay, tell me more...

@ovidiubute's responses are a great starting place:

I'll take a closer look at the [Jest monorepo](https://github.com/facebook/jest), run some tests on the Cosmos monorepo and report back.

I'm thinking of including this

[2018-03-20 08:53] skidding commented on #620
The file path is completely arbitrary. We need `projectKey` to be able to identify separate Cosmos projects (that run on same machine/host/port) when we save UI state in localStorage. Eg. which components are expanded in the tree view.

@neezer any ideas for a different identification source for `projectKey` that is identical across machines, but also doesn't change often (so that UI state is pres

[2018-03-20 09:00] skidding commented on #620
That said, that's only part of the "make export deterministic" issue. I just saw your [comment](https://github.com/kofile/react-components/pull/2#discussion_r174885705) and it's an interesting issue. It doesn't have anything to do with `playgroundOptions.projectKey`, but I think it's doable. 🤔

[2018-03-20 19:33] neezer commented on #620
Don't see anything wrong with `package.json#name`. Between the two suggestions we know that [`name` should always be provided](https://docs.npmjs.com/files/package.json#name), whereas repository URL might be more variable.

My two cents.

[2018-03-20 19:36] neezer commented on #620
You sure? From that same [issue](https://github.com/kofile/react-components/pull/2):

<img width="1340" alt="screen shot 2018-03-20 at 12 35 24" src="https://user-images.githubusercontent.com/29997/37678420-43a52816-2c3b-11e8-8f6f-1ee9bc946fed.png">

[2018-03-20 20:28] scottdickerson opened #626 "cosmos is hardcoding node_env to 'development'"
### What's up?
When starting cosmos from the command line it's hardcoding the node_env to 'development'.  https://github.com/react-cosmos/react-cosmos/blob/63e6c0574ceb12e13a9882e7f00fa5cf4d13262a/packages/react-cosmos/bin/cosmos.js#L5  This is fine by default, but I need to override it to pass a specific node_env so that I can instrument my classes for code coverage.

### Mkay, tell me more...

A

[2018-03-21 06:07] skidding commented on #620
Sure, `name` sounds good, although we should still fallback on project path, since it *is* possible for the name to be missing and we don't want to fail in that case.

So it seems like this boils down to two tasks:
- Make index.html deterministic by using `package.json#name` as identifier.
- Make main.js deterministic by embeding relative paths instead of absolute paths. Needs some research, but i

[2018-03-21 06:13] skidding commented on #626
Yes! This should be fixed.

https://github.com/react-cosmos/react-cosmos/blob/0aea3ff15cb0321c0ffbd319168b2d564ab07f75/packages/react-cosmos/bin/cosmos.js#L4-L5

and

https://github.com/react-cosmos/react-cosmos/blob/0aea3ff15cb0321c0ffbd319168b2d564ab07f75/packages/react-cosmos/bin/cosmos-export.js#L4-L5

Should be

[code]

and

[code]

@scottdickerson Would you be willing to submit a patch for t

[2018-03-21 06:17] skidding commented on #560
Closing this as it's now possible to use @andreypopp's `createFixture` function to typecheck fixture without experiencing the tree view issues that @maxsalven is mentioning above. That was fixed in #591. I've been actually using `createFixture` succesfully in my projects, but it's not part of the Cosmos APIs at the moment.

[2018-03-21 06:17] #560 closed

[2018-03-22 05:39] cal0610 commented on #579
I've tried using react-cosmos but we couldn't figure it out with the documentation. I really liked what it can provide though!

[2018-03-22 06:16] skidding commented on #579
@cal0610 can you tell me what you tried? Maybe I can help

[2018-03-22 06:41] cal0610 commented on #579
@skidding

I've got it set up and working on a very very dumb component. I could change the props and state on http://localhost:8989 and see the component changing accordingly.

I've had too many issues within a short period of time and thought it wasn't worth using, here are a few:

1. Creating fixtures requires server restart - would've been nice to know this was the case rather than thinking so

[2018-03-22 09:34] skidding commented on #579
@cal0610 Oh man, I get it, it's a painful process at first. But I have to say you did pretty well!

This is something I'm thinking about actively and will address in the near future one way or another. Note that new fixtures for existing components will appear instantly, you need to restart only when you add a new component. Still sucks tho.

I have my css import defined on app.js:

You should be

[2018-03-22 09:34] jbgraug commented on #611
I tried both "npmClient": "yarn" and "npmClient": "npm" and both behave the same way.
I have local libraries swhich get symlinked into the main project so the postinstall script is not a solution for me (i don't want to delete my src files. ;)
We should be able to configure, somehow, the folder to be symlinked (files attribute in package.json)

[2018-03-22 10:02] cal0610 commented on #579
@skidding Thanks !! I appreciate your feedback! I'll give this another crack tomorrow after a coffee.

[2018-03-22 20:51] scottdickerson commented on #626
absolutely @skidding PR https://github.com/react-cosmos/react-cosmos/pull/630 put in to fix this, thanks!

[2018-03-22 22:46] #626 closed

[2018-03-23 01:14] cal0610 commented on #579
Hi @skidding

Thanks for your feedback, I've got it working now :)

I've found a problem with using redux-saga with this. My component is using like this:
[code]

And this is the error I get on the console:

I don't suppose there is a fix for this is there ? :(

[2018-03-23 03:08] cal0610 commented on #579
@skidding

I've failed miserably on testing :(

The example on the documentation does not work for me unfortunately.

This is my component:

[code]
This is my test:

[code]

And finally, this is the lovely error I get:

This component is not connected or anything so I would've expected this to work straight away :(

Thanks in advance~

[2018-03-23 03:59] skidding commented on #626
Thanks @scottdickerson!

Published under `react-cosmos@4.0.0-beta.4`, check it out.

cc @NiGhTTraX I think you needed this as well.

[2018-03-23 04:13] cal0610 commented on #579
@skidding - not exactly, sorry ..

This is my fixture:

[code]

[2018-03-23 04:21] skidding commented on #579
OH, `createTestContext` doesn't work with fixture arrays because you can't test more fixtures at the same time.

Try this:

[code]

[2018-03-23 04:26] cal0610 commented on #579
@skidding

Thank you! That solved the problem.

Now there was no way I could've known that right? ;p

[2018-03-23 04:32] skidding commented on #579
You are right. 😅

We need to add a warning message in place for this!

When `createTestContext` gets called with fixture an array it should say something like

And it should probable go [here](https://github.com/react-cosmos/react-cosmos/blob/58bcd54e28a3e151813b9ef49e120a88bb2fbc2f/packages/react-cosmos-loader/src/create-context.js#L40).

If you have some time and want to prevent this from buggin

[2018-03-23 04:51] cal0610 commented on #579
@skidding

No problem, I'm keen to help contribute when I get some time :)

Btw, would you mind sharing your config for the saga regenerator runtime on globalImport?

This is what I have right now...:

[code]

[2018-03-23 06:13] skidding commented on #579
Wouldn't just `'regenerator-runtime/runtime'` work?

Same goes for all your global imports, I'd think `./node_modules/` prefix isn't required since webpack resolves modules to `node_modules` by default.

[2018-03-26 07:43] xavcz opened #631 "Allow loading 3rd party CSS from a Node package"
### What's up?

Let's say you want to use CSS from a third party Node package, like [Semantic UI](https://react.semantic-ui.com), [Material UI](https://github.com/mui-org/material-ui) or [Blueprint](https://blueprintcss.io/).

To have these global styles available for each fixture, we can use `globalImports` in the Cosmos config:

[code]

This import refers to a file inside the `node_modules` dire

[2018-03-26 08:13] cal0610 commented on #631
@xavcz i had no problem referencing css file from node modules, this could be something else..

[2018-03-26 09:35] xavcz commented on #631
It looks like you are using a custom webpack config, the one from `react-boilerplate` (awesome project btw!), which is actually preprocessing 3rd party CSS separately: https://github.com/react-boilerplate/react-boilerplate/blob/5b58dd97d0e9dc39799c345f1bcbf1333bde92b1/internals/webpack/webpack.base.babel.js#L30-L43

[2018-03-26 09:47] cal0610 commented on #631
Indeed. Let me know how you go im happy to share my config you you need

[2018-03-26 12:38] skidding commented on #631
Yes. But it might not be relevant for CSS. So I think we can safely remove `exclude` part for the CSS loader.

My only question is, is there any difference between

[code]

and (how react-boilerplate does it)

[code]

I'm fine with either. The first is simpler (if it actually works) but the latter lets users know more about what's happening.

[2018-03-26 18:05] xavcz commented on #631
The former works,  but the latter brings more clarity! I'll submit a PR tomorrow ✌️

[2018-03-26 18:36] cfnelson commented on #631
I ran into this issue as I assumed the default config would work after reading the documentation. The solution was to create a webpack config with the main difference being to remove the `exclude: /node_modules/` line.

Would be happy to assist on the PR for this. 🐇 As well as updating the docs to explain to others who may encounter this.

[2018-03-27 04:15] skidding commented on #631
Great! This should prevent future confusion.

[2018-03-28 05:28] xavcz commented on #613
What if we don't merge the regexp but actually uses multiple `require.context`? 😄

[2018-03-28 05:29] xavcz commented on #555
Discussion moved in #613 🆗

[2018-03-28 05:29] #555 closed

[2018-03-28 15:09] skidding commented on #431
There's been recent interest about this on Slack, so here's an update on how we could achieve this. @dfedynich's solution was good, but it was working around Cosmos, because currenty there's no proxy API for updating a fixture and triggering a re-mount, only for signaling an update which should mirror some internal state change that already happened, like a Redux action dispatched organically. Thi

[2018-03-28 15:12] #631 closed

[2018-03-28 15:24] skidding commented on #613
Maybe...

Eventually we need to do some filesystem watching in the Cosmos server to not depend on webpack for this sort of thing. And sorting out this issue is on my personal short list for next month.

But if we can get this to work with multiple require.contexts, by joining the results (and maybe removing duplicates) than it could be a quicker win.

[2018-03-29 07:52] raycar5 commented on #431
I can give it a try in a few days

[2018-03-31 11:06] DmitryKorlas opened #635 "Ability to reuse NWB webpack config"
### Any ideas how to reuse NWB webpack stuff with cosmos?

Love each tool, but unable to share configs between them.

It looks like nwb has its own format of webpack config, may be someone deal with that and has some ideas/suggestions?

[code]

[2018-03-31 21:45] Mensae opened #636 "React Intl Proxy? Anyone?"
### What's up?

As a first time traveler I am trying out Cosmos with React Boilerplate.
Now, just wondering if anyone made a proxy for [React Intl](https://github.com/yahoo/react-intl)?

### Mkay, tell me more...

If there is none, yet, it'll be nice if there will be one, so I'll have a go at it.

[2018-04-01 04:45] skidding commented on #636
Hey @Mensae,

I used one in a project once. It's not polished but here is a minimalistic version extracted from that codebase:

[code]

Note:
- This code might have some errors as I simplified the original working one without running the new code
- Not sure what the best way to pass the `locale` value. In this example it's read from `fixture.locale`, but in my project I was storing the locale in a

[2018-04-01 04:58] skidding commented on #635
If the `nwbConfig.webpack` field takes in a regular webpack config, you could put your webpack config in a dedicated file and do this:

[code]

[code]

And if the webpack config file is named `webpack.config.js` and is in the same dir as the cosmos.config, you don't need to specify it, it will be picked up automatically. You don't even need to create cosmos config file if the webpack config file i

[2018-04-01 08:11] Mensae commented on #636
Thanks for sharing @skidding !

I'll try it out and let you know.

[2018-04-02 08:15] skidding commented on #625
@ovidiubute are you sure about this?

From what I'm seeing in the [latest Jest master](https://github.com/facebook/jest/tree/10b50c4c571c1d4d5f87733d13397bf912250fe7),
- All `package.json:main` fields point to `build/index.js` by default, and thus require building all packages before they can reference each other
- They also run `yarn build` at `postinstall` npm hook, which seems to confirm the ab

[2018-04-02 08:37] DmitryKorlas commented on #635
Thanks for hints, got it!

[2018-04-02 16:47] kekkeme opened #638 "react-cosmos-test does not work with xhr-proxy"
### What's up?

I have started last week to use react-cosmos, i have liked the idea.
About my problem
- I have already created proxies Redux, route and xhr proxies.
Inside my action creators, i use axios to get datas from server.
My xhr proxy works and returns correct data from fixture if i use it with npm run cosmos.
However, if i use it inside my test code it does not mock or return anything.

T

[2018-04-03 21:17] shahkashani opened #639 "Cosmos in Docker + hostname = 💥"
### What's up?

When using Cosmos inside a Docker container, you can't access it via http://localhost:8989, you _have_ to use http://0.0.0.0:8989.

### Mkay, tell me more...

You can't bind to a hostname in a container and expect to able to access it from the outside. The problem comes from the Express server _always_ being started using a populated `hostname` variable (set to `localhost` by defau

[2018-04-04 12:05] skidding commented on #638
@kekkeme can you provide a _minimum reproducing repo_ or a public repo that I can clone and debug? I'd love to get to the bottom of this!

[2018-04-04 12:09] skidding commented on #639
How about setting `hostname` to `0.0.0.0`?

[2018-04-04 18:23] fnbk opened #640 "override action-creators from `bindActionCreators`"
When using react-cosmos I would like to provide custom action-creators in the props.

<img width="559" alt="screen shot 2018-04-04 at 20 05 28" src="https://user-images.githubusercontent.com/729151/38325767-4076e0b6-3844-11e8-94a6-b024f88ddfbe.png">

Currently these action-creators are mapped into the props with `bindActionCreators` when exporting a React.Component and override the fixture-props ,

[2018-04-04 20:41] fnbk commented on #640
Yeah, I found a simple solution!

I used environment variables. In my example I had to make sure to prefix the environent variable with 'REACT_APP_...', otherwise it would just be ignored.

<img width="610" alt="screen shot 2018-04-04 at 22 37 16" src="https://user-images.githubusercontent.com/729151/38333391-c68debea-3858-11e8-8f04-44760fefd474.png">

[2018-04-04 20:41] #640 closed

[2018-04-05 08:25] skidding commented on #640
@fnbk I'm glad you made your use case work!

FYI, you can
- Use the redux-proxy and your wrapper components can work inside Cosmos as they do in your app
- Export the (unwrapped) component as well and use that in your fixtures if you want to mock the "inner" props

Cheers!

[2018-04-05 08:29] skidding commented on #639
Yeah, I've been in that situation once and it's ugly.

Until we find a better solution, would you be interested in contributing with a mention about using `0.0.0.0` when running Cosmos inside Docker, in the [Option dump#hostname](https://github.com/react-cosmos/react-cosmos#option-dump) section?

![image](https://user-images.githubusercontent.com/250750/38355025-d2b3c0d8-38e5-11e8-9c80-bcb1d94cc03

[2018-04-05 13:53] shahkashani commented on #639
Sure, but if you just omit the hostname parameter (or set it to null / undefined) in `app.listen`, it’ll work on localhost both with and without Docker.

Something like `app.listen(port, hostname === ‘localhost’ ? null : hostname)`. Alternatively, which is more work but probably cleaner; set `hostname` to undefined by default in the config and just handle it in the `console.log`, like suggested ea

[2018-04-07 11:12] skidding commented on #639
@shahkashani your solution sounds like a better idea. If you want to make it happen I'm down with it!

So I see two parts to this:
1. Making the default `hostname` undefined (or null, whichever you prefer)
2. As you said, displaying "localhost" when hostname is empty

[2018-04-07 13:54] skidding commented on #611
Fixed this in #637. `src` dirs should no longer be present in `4.0.0-beta.11` and above. But of course you're getting the beta release with this version.

[2018-04-08 14:51] #625 closed

[2018-04-10 12:39] skidding commented on #613
🥁🥁🥁

I think I found a fix that was right under out nose all the time. I'll skip the details for now to make sure it works as expected.

@xavczen @jozsi @maxsalven if you have a few minutes, can you please try `v4.0.0-beta.13` (lucky number) in your project to see if one or both of two wonderful things happen:

1. Fixtures for new components, under any dir, show up in Cosmos without having to rest

[2018-04-10 16:00] xavczen commented on #613
Wunderbar, it works!! 🌮

Great job, high five coaie!

[2018-04-11 08:30] #613 closed

[2018-04-11 08:33] #611 closed

[2018-04-14 07:41] skidding commented on #564
Hi @mmacaula, I just opened a PR #647 to add support for function webpack configs. I followed the specs from [your link](https://webpack.js.org/configuration/configuration-types/#exporting-a-function) and the config function is called with `(env, argv)`. Can you please take a look?

[2018-04-14 12:44] #564 closed

[2018-04-16 17:42] faburu opened #651 "How to Effectively Share|Reuse Components"
### What's up?

I am clueless on how to share components among projects.

### Mkay, tell me more...

So here's the dilly.
I am now acting like a good software person and developing my components in isolation.
And then it falls apart.
I copy and paste the components from Cosmos into my project.. and then into my other project.. tweak the component a little, copy it b. .... .. .. and then I sigh hea

[2018-04-18 17:39] nickluger opened #654 "Feature idea: Latency simulation"
### Feature idea: Latency for Apollo or XHR

Simulate latency for responses, e.g. `resolveWith` in `react-cosmos-apollo-proxy`. Useful for:

- show loading indicators (e.g spinner)
- check for async issues

###  Example

Before we switched to `react-cosmos`, we used https://github.com/siteone/apollo-mocknetworkinterface before, which has the ability to simulate a timeout for example:
[code]

**`on

[2018-04-23 15:55] skidding commented on #651
Good question. But I'm afraid it goes outside Cosmos' scope, at least currently.

Cosmos for ensures components can be reused in the same project, and is mostly concerned with run time dependencies. What you're refering to is more related to build time dependencies. That is your Babel presets & plugins, your webpack config, loaders, plugins, etc.

One answer could be: Use create-react-app, or Next

[2018-04-23 22:46] ComputerCarl commented on #651
Copying and pasting was the thing driving me to absolute madness.

I did find NWB and tried to use that, so I could at least build and import, to create a one-way workflow, but then I couldn't use it with React-Cosmos.

I found issue [#635](https://github.com/react-cosmos/react-cosmos/issues/635) which discusses the conflicting webpack configurations, but I don't understand the solution offered. S

[2018-04-25 07:48] SimeonC opened #658 "Experimental addJestWrapper kills mobx 4 functions in react-cosmos-test"
So it looks like the `addJestWrapper` function with it's happy "HIGHLY EXPERIMENTAL" comment is quite happily incorrectly trying to break mobx observable values.

So my fixture goes something like this:
[code]

Trying to run my tests like this:
[code]

Gives me this big error:
[code]

From my Tweaking the fix for this should just be the removal of happy highly experimental code which is the decora

[2018-04-25 08:51] skidding commented on #658
Sorry for the headache @SimeonC! 😇

If you can tell, does the error occur inside addJestWrapper or when the decorated prop is called?

[2018-04-25 09:59] SimeonC commented on #658
Inside addJestWrapper I think. It looks like the test to wrap the function is picking up observables and trying to replace them with functions (they use get and set internally).

I think it could work if you ignore ES6 class getters, setters and inits. Although I haven’t tested what happens with the non class version mobx supports to see if that breaks as well/in a different way.

[2018-04-26 02:59] SimeonC commented on #658
I used replicated this test in react-cosmos-test to play with it (need `mobx` in devDependencies), and tried several different ways of working around this with no success. Also I did some testing and it seems like it doesn't even try to wrap functions defined on the class which kinda makes it a bit worthless to recurse into them. It's also near impossible to detect this class compared to an object

[2018-04-26 06:49] skidding commented on #658
Ideally we find the way to improve the "magic". But I admit it's a risky
road and don't want to grow frustration in the meantime.

I agree with you and I welcome an option like `autoMockProps` for the
createTestContext method. It should default to true for now, to not affect
other users unwillingly.

I'm deep into another Cosmos-related task at the moment so I can put much
time into this now. If y

[2018-04-26 08:50] SimeonC commented on #658
I did that PR, seeing as it took me all that time to find the problem.

[2018-04-27 02:40] mmacaula commented on #564
Yep worked for me on my function webpack config!  Sorry it took awhile to confirm.  Thanks!!!

[2018-04-27 03:28] SimeonC commented on #658
To add more fuel to the fire, I found that the jest auto-mocker breaks ES6 Map (and I assume Set) as well!
Like a simple fixture of:
[code]
If you try do `this.props.map.keys()` in your component you get `Error: Uncaught [TypeError: Method Map.prototype.keys called on incompatible receiver #<Map>]`.

[2018-04-27 05:59] SimeonC opened #660 "Automagic folder generation question"
I'm back with another one, think this is probably my mistake here.
Not really a big issue for me as I should probably be using some other method for this than subfolders but I thought I'd mention it.
![image](https://user-images.githubusercontent.com/1085899/39346834-131fa208-4a2b-11e8-9ff4-741c574447c4.png)
I did double check that my fixtures folder is called `__fixtures__`.
cosmos.config.js
[cod

[2018-04-28 02:34] SimeonC commented on #660
The component is `AdvancedEditor/Row.jsx`.
This only started happening when I nested ` __fixtures__/Row/basic.jsx`, when I had it as `__fixtures__/basicRow.jsx` it worked fine and appeared without the extra folders.

I think the fixture went a bit like this (left laptop at work so this is from memory).
[code]

[2018-04-28 03:02] mmacaula opened #661 "Cosmos continually rebundling on me"
### What's up?

Trying out rc-3 with fancy new webpack #564  support but something is up and it continually rebundles over and over, maxing my cpu.

### Mkay, tell me more...

Not sure what's going on really.  Here's some output from one of the rebundles:

[code]

I only see those warnings when i'm not setting the mode to 'development', so maybe its related to the mode somehow?  I'm using webpack

[2018-04-28 15:10] mmacaula commented on #661
ok, the mode was my fault, I was checking if mode was development and then using `production` if not, which I'm guessing cosmos is sending in test or something else.  That fixed that.

I tried it again this morning and now its no longer continuously rebundling.  So problem went away...  I suspect that since i was in production mode for webpack it was dumping the built file and cosmos was perhaps w

[2018-04-28 15:10] #661 closed

[2018-04-28 15:32] skidding commented on #661
🙌

[2018-04-28 17:32] skidding commented on #660
Well, with that fixture Cosmos will think `Wrapper` is the component, and since it's placed in the fixture file it considers it the component file as well. (I realize this sounds logical to me because I'm intimate with the system, but might not from the outside.)

So you should make sure `fixture.component` points to your component. `TranslationRow` in your case.

How to add your wrapper?

### Opt

[2018-04-29 01:01] SimeonC commented on #660
Thanks for the clarity and solutions!

[2018-04-29 01:01] #660 closed

[2018-05-02 15:56] p8952 opened #663 "Passing an async function to react-cosmos-xhr-proxy?"
Is it possible to pass an async function as a response when using react-cosmos-xhr-proxy?

I'd like to have a delay on XHR requests to better match real world usage of my components.

This appears to be supported in xhr-mock: https://github.com/jameslnewell/xhr-mock/issues/61

Works (Immediate `Error: Request failed with status code 404` from Axios):
[code]

Doesn't Work (Immediate `Error: Network

[2018-05-02 16:38] skidding commented on #663
Hi @p8952,

This appears to be a shortcoming of the xhr-proxy. Under the hood the proxy uses xhr-mock, which [supports async responses](https://github.com/jameslnewell/xhr-mock/issues/61). So ideally your example should just work.

### Why doesn't it work?

Because the proxy component isn't aware that is has to wait, so the fixture is considered loaded instantly and the test runner goes to the nex

[2018-05-06 01:08] charliedotau commented on #433
I'm new to Cosmos - frustrated with Storybook - and I find it very promising. It's essentially exactly what I've been looking for.  So, props (pardon the pun) to all involved.

Nothing I'm going to say below is, per se, new.  My aim is simply to emphasise the issue and hopefully encourage the community to redouble their efforts to bring about a resolution.

## Dealbreaker
With respect, I find this

[2018-05-07 02:27] Melocaster opened #665 "react-cosmos-xhr-proxy doesn't support adding query params"
### What's up?

Using query params in axios like `axios.get('/user', {
    params: reqParas,
  })` will break xhr-proxy, showing the error of
[code]

[2018-05-07 08:10] skidding opened #666 "Option for choosing which dirs to watch for fixture files"
### What's up?

Since #643, which landed in v4, Cosmos watches the entire project for file changes to detect new features. This is useful, but can be too much in some cases.

Some webpack plugins generate files during compilation (eg. cache files), which can result in invalidating the Cosmos build immediately after finishing, doubling the build time if not entering an infinite loop in some edge ca

[2018-05-07 15:51] greenkeeper[bot] opened #667 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="https://github.com/react-cosmos/react-cosmos/compare/master...react-cosmos:greenkeeper%2Fupda

[2018-05-07 16:15] skidding commented on #663
I've thought about this some more and I don't understand how come this works without Cosmos, since the test still doesn't get any queue that it should wait until the request is resolved.

I'll investigate in a few days and get to the bottom of it.

[2018-05-07 17:06] josemontiel opened #668 "How to integrate with Razzle"
Hello,

Currently getting the following error for *.js React Components:

 when running `yarn cosmos`

Any help would be appreciated, Thanks!

[2018-05-07 17:43] skidding commented on #668
Hi @josemontiel,

Is that the entire error message? Can you share a repo (your own or a minimal reproduction) that I can debug? Thanks!

[2018-05-07 17:52] josemontiel commented on #668
Hello @skidding ,

Here's the entire error message:

Module parse failed: ./src/components/PricingPlans/PricingPlansList.js Unexpected token (46:12)
You may need an appropriate loader to handle this file type.
|
|         return (
|             \<div className={classes.root}>
|                 \<Grid container direction="column">
|                     \<Grid item>
 @ ./__fixtures__/PricingPlansLis

[2018-05-07 18:25] skidding commented on #668
Cosmos isn't picking up Razzle's Babel config. Can you please try creating this `.babelrc` file in your project root?

[code]

[2018-05-07 18:40] josemontiel commented on #668
Same error (from example repo project), @skidding :

Module parse failed: Unexpected token (8:6)
You may need an appropriate loader to handle this file type.
|   render() {
|     return (
|       \<div className="Home">
|         \<h1>{this.props.title}</h1>
|       \</div>
 @ ./__fixtures__/Home.fixture.js 1:0-31 5:19-23
 @ ./node_modules/react-cosmos/dist/client/user-modules.js
 @ ./node_modules

[2018-05-07 19:08] skidding commented on #668
Actually, after I added the `.babelrc` file the error changed:

Module parse failed: Unexpected token (1:0)
You may need an appropriate loader to handle this file type.

Because the Cosmos config doesn't come equiped with loaders for every file type by default. In this situations it's good to reuse an existing config to avoid duplication. This is the first time I hear of Razzle, but after a quick

[2018-05-07 22:39] josemontiel commented on #668
Thanks, @skidding ! I just went with adding the proper loaders on the `cosmos.config.js` file as you suggested and got Cosmos working 👍

[2018-05-07 22:39] #668 closed

[2018-05-08 04:11] #666 closed

[2018-05-08 11:05] charliedotau opened #670 "Namespace error"
### What's up?
The doco on the `namespace` property in a fixture is a bit light so maybe I don't understand but...

I'm getting this error on the front-end when I try and use a namespace.  The tree appears as expected, but when I click an item in the tree, I get a styled error on the front-end in the main pane, that reads:

Invalid Coordinates
No astronomical object found at:
MyMoviesComponent:lis

[2018-05-08 13:49] skidding commented on #638
I added a working example here: https://react-testing-examples.com/#6-xhr

Also, your example probably didn't work because you need to call `await mount()` and make the test async.

[2018-05-08 13:49] #638 closed

[2018-05-08 16:29] skidding commented on #670
Hi @charliedotau,

Thanks for sharing your issue. You've understood `namespace` just fine. The thing is, at the moment we only support one level of nesting for fixtures. Components don't have this restriction, they can be nested as deep as the UI affords.

That said, what you were experiencing was a bug related to this functinality. Althogh we don't support deep fixture nesting, the slash from `li

[2018-05-09 18:13] skidding commented on #663
Good news @p8952, I figured it out.

1. Cosmos was using xhr-proxy 1.x, which didn't support async responses. Upgrade to `react-cosmos-xhr-proxy@4.1.2` to get the latest xhr-proxy functionality.
2. Tests still won't wait until an async response is resolved, but you can tell them to!

Here's an working example:
- [fixture](https://github.com/skidding/react-testing-examples/blob/698a89c109fe4754f5b1

[2018-05-09 18:13] #663 closed

[2018-05-09 18:14] #670 closed

[2018-05-10 09:34] p8952 commented on #663
@skidding Amazing, thanks very much!

[2018-05-11 08:26] SimeonC commented on #665
I'll copy paste my code here for handling it, basically you need to use regex not string.
[code]

[2018-05-12 17:58] Melocaster commented on #665
@SimeonC It works now! Thank you so much!!!

[2018-05-12 18:12] skidding commented on #665
Thanks @SimeonC!

Wouldn't `/ga-translate/` be enough for most cases? Or something more exact like `/\/user\?/` in @Melocaster case.

[2018-05-12 18:15] Melocaster commented on #665
@skidding Thx for the quick responding. I just give a try for only using `/\/user\?/` and it doesn't quite work. Seems detailed query paras need to be given. Otherwise an error is thrown

[2018-05-12 18:37] Melocaster commented on #665
It is
[code]
as an example for with `query` as a number

[2018-05-12 19:14] skidding commented on #665
Cool. I'm happy it worked out!

Please close the issue unless there's more you want to discuss on this topic.

[2018-05-12 19:54] #665 closed

[2018-05-14 16:57] skidding opened #676 "Call webpack config function with env object"
### What's up?

Right now a function webpack config is called with env string (eg. "development" or "production"). But webpack calls it with all environment vars, which looks like `{ prod: true }`.

* [Read about the feature here](https://github.com/react-cosmos/react-cosmos#custom-webpack-config)
* [Here is where the function is current called](https://github.com/react-cosmos/react-cosmos/blob/4a

[2018-05-14 22:41] MattReimer opened #677 "AWS Cloud9 support"
### What's up?

Has anyone tried to run this inside [AWS's Cloud9 IDE](https://aws.amazon.com/cloud9/)? I'm trying to suggest cosmos in my workplace as a way to do rapid-prototyping of components to help developers and non-devs communicate.

I have a really basic app created using `create-react-app` and I've followed the instructions to get `react-cosmos` working on my local machine (OSX + Visual

[2018-05-15 04:29] skidding commented on #677
Hi @MattReimer,

Can you try upgrading to `4.2` and see if changes anything?

[2018-05-15 16:45] MattReimer commented on #677
Ok. 4.2.0. Different symptoms:

![screen shot 2018-05-15 at 9 44 10 am](https://user-images.githubusercontent.com/1063391/40071014-8c33729e-5824-11e8-861c-2cbb57ee0f99.png)

There's not much going on in the console window:

[code]

[2018-05-16 01:51] skidding commented on #677
Hmm,

I clone the repo, run `yarn` and `yarn cosmos` and I see this

![image](https://user-images.githubusercontent.com/250750/40092195-3fb06d42-58e6-11e8-860a-770a3d719866.png)

[2018-05-16 16:50] MattReimer commented on #677
I see that too....on my local machine (OSX).  When I try it on Cloud9 I get the same symptoms. Weird.

I realize this might just be something weird in the way C9 does its thing but I'm having real trouble figuring out what's wrong here and I can't figure out why the `create-react-app` runner would work fine but not cosmos and there's no error message except "something is breaking the webpack build

[2018-05-16 20:33] skidding commented on #677
Anything in the browser console? Maybe a 404 request to the component loader iframe?

[2018-05-16 22:54] MattReimer commented on #677
Nope. What I put in [the original comment](https://github.com/react-cosmos/react-cosmos/issues/677#issuecomment-389234912) was all there was.

Is there a secret `verbose` mode you know of that would give me more output?

[2018-05-17 05:50] nickluger opened #681 "Babel 7 support"
Are there plans to upgrade to Babel 7?

Is necessary to work with Next.js 6, for example. I think the current documentation example with Next is not working, because of Babel 7 beta.

[2018-05-17 06:10] skidding commented on #681
Do you get any error?

I used Babel 7, Next 6 and Cosmos in [react-testing-components](https://github.com/skidding/react-testing-examples).

I do remember Next 6 and Babel 7.0.0-beta.46 were not working and I had to downgrade to Babel 7.0.0-beta.42, but maybe that was fixed with newer releases.

[2018-05-17 06:16] skidding commented on #677
Unfortunately, no. But it seems like the server is running OK.

The logs in your original comment are server logs. I meant browser logs, from the client-side.

The Cosmos UI has two frames, the playground `index.html` and the component loader `_loader.html`. Before loading the iframe, the playground does a fetch request to `_loader.html` to see if it returns 200 OK, otherwise it tell you that the

[2018-05-17 16:25] MattReimer commented on #677
Huh. Didn't even think to check the browser console. Sure enough there's a 499 error on the GET request for _loader.html:

![screen shot 2018-05-17 at 9 23 14 am](https://user-images.githubusercontent.com/1063391/40190514-f96aa14e-59b3-11e8-986b-473d6eed0199.png)

I did a bit of reading and it has [something to do with the way Cloud9's vfs url works](https://forums.aws.amazon.com/thread.jspa?messa

[2018-05-17 20:54] skidding commented on #677
Maybe when we do the fetch request we must [include cookies](https://github.com/github/fetch#sending-cookies) via `credentials: 'same-origin'`.

[2018-05-17 21:06] skidding commented on #677
@MattReimer Can you please try version `4.3.0-0`? Make sure to clear cache.

[2018-05-17 21:41] MattReimer commented on #677
It worked!!!!!

Thank you so much. You have succeeded in making my day.

[2018-05-17 21:41] #677 closed

[2018-05-17 21:44] skidding commented on #677
🙏

[2018-05-21 18:04] stellarhoof opened #684 "REST GET API for isolated components"
### What's up?

I'd like to screenshot isolated components without the cosmos dev UI.

### Mkay, tell me more...

 Wouldn't it be awesome to:
- Run cosmos server
- Use puppeteer to navigate to say... `http://localhost/MyComponent/{fixtureName}` and get only the component (no cosmos UI). Bonus: `http://localhost/MyComponent` renders all fixtures ;)
- Screenshot! And then... Assert with https://gith

[2018-05-21 18:11] skidding commented on #684
You can already do this via `http://host:port/?component=MyComponent&fixture=myFixture&fullScreen=true`

[2018-05-21 18:15] stellarhoof commented on #684
Ahhh. Well thought! It didn't occur to me to check the URL. Thanks!

[2018-05-21 18:15] #684 closed

[2018-05-22 02:53] linonetwo opened #685 "TypeError: object(...) is not a function"
When using ```react-cosmos-redux-proxy``` there can be ```TypeError: object(...) is not a function```

This is my cosmos.proxies.js
[code]

[2018-05-22 02:58] linonetwo commented on #685
The reason is:
I'm exporting store from `./store/index.js`
[code]
and importing store from `./store/viewer.js`
[code]
So if `cosmos.proxies.js` import `./store/index.js` first, `viewerModel` will be undefined since there is a cycling in import chain.

Solve it by changing `import { store } from './'` to `const { store } = await import('./');`

[2018-05-22 02:58] #685 closed

[2018-05-22 12:27] eltonio450 commented on #636
Thanks ! Works like a charm :)

[2018-05-22 14:12] mpachin opened #687 "Add field in config for find-fixture-files method"
### What's up?

The project under discussion have such directory tree:

[code]
`@subproject`'s directories hold components which I want react-cosmos to keep track of.

Right now `cosmos.config.js` haven't field which could tell react-cosmos to not ignore subprojects in `./src/node_modules`, but keep ignore `./node_modules`, and that means I cant make react-cosmos display fixtures placed in there.

[2018-05-22 14:23] skidding commented on #687
I welcome this!

Note that there is already an `ignore` option which ends up as `exclude` in the `findFixtureFiles` function , to ignore certain files from the fixtures that have already been "collected".

Since the current `ignore` option is a list of regular expressions, I doubt we can comfortably merge it with the new option you need. Although I'm open to discussion if you see a clear path.

Th

[2018-05-22 14:39] mpachin commented on #687
I think you right about the easier solution you described above, this is exactly how I see solution for issue.
Since we already cleared node_modules in `allPaths` variable:
[code]
We cant lay on `exclude` field from our config, because if we'll clear node_modules in allPaths there will be no point in clearing it again in
[code]
I think what we need to do is to add new variable `fileMatchIgnore` as

[2018-05-22 14:48] skidding commented on #687
@mpachin are you interested in making this contribution?

I can help with pointers and review.

[2018-05-22 15:03] mpachin commented on #687
Yes, I am ☺️ I'll start working on it in nearest time

[2018-05-23 04:48] mpachin opened #688 "react-cosmos-playground build failed"
### What's up?

`yarn build` fails on building `react-cosmos-playground`

Environment:
windows 10
node 8.10.0
npm 5.6.0
yarn 1.6.0
current master branch of react-cosmos

[code]

### Mkay, tell me more...

[As written in documentation](https://github.com/react-cosmos/react-cosmos/blob/master/CONTRIBUTING.md#get-familiar-with-codebase) before starting implementing any feature we should first build p

[2018-05-23 06:39] skidding commented on #688
Can you run `yarn webpack --config packages/react-cosmos-playground/webpack.config.js` independently to see if you get better logs?

Building the playground works on my macOS machine.

[2018-05-23 07:06] mpachin commented on #688
Sure, here are logs:
[code]

[2018-05-23 07:10] mpachin commented on #688
I've just tested building project in VM / Ubuntu 18.04 LTS
Everything is fine including tests, react-cosmos-playground build went ok
It seems that described issue relates only to windows machines
Also I checked build on another windows laptop (third in row), the problem repeats

[2018-05-23 07:29] skidding commented on #688
It seems like `./packages/react-querystring-router/src/router.js` is not being compiled by Babel, and maybe your Node version on the Window machine doesn't support spread operator.

This is odd, because the Playground's webpack config [is configured to compile the router source](https://github.com/react-cosmos/react-cosmos/blob/da9c355a2edca480603873b3ecef23bdabfa7623/packages/react-cosmos-playgro

[2018-05-23 07:38] mpachin commented on #688
I'll try investigate further on that after [this issue](https://github.com/react-cosmos/react-cosmos/issues/687), if by then someone else does not fix this
For now I can work with VM

[2018-05-24 15:11] #687 closed

[2018-05-25 09:12] mpachin opened #693 "react-cosmos readme && React v16 context changes"
### What's up?

Right now react-cosmos readme have [this notes about react's context](https://github.com/react-cosmos/react-cosmos#context). This info is outdated.

### Mkay, tell me more...

Since React's context dramatically changed in React v16, and even official docs have been changed and do not warn now that context is experimental api, I think we should delete this notes.

[2018-05-25 10:39] kfern opened #694 "react-dnd: Could not find the drag and drop manager in the context"
### What's up?

How could I use react-dnd with cosmos?

### Mkay, tell me more...

How can I wrap a cosmos fixture with a DragDropContext?

I have not found any issue, documentation or source code to help me

Thanks in advance

[2018-05-25 10:47] skidding commented on #694
Can you please provide a repo reproducing an error? If I could take a look I'll be able to point to a solution. Thanks!

[2018-05-25 12:44] kfern commented on #694
@skidding

Of course :-)

https://github.com/kfern/ToyboxDnD/tree/feature-react-cosmos

Toybox DnD is a very basic example of React Drag and Drop

App works fine:

![image](https://user-images.githubusercontent.com/1898891/40544846-e2953d54-6029-11e8-9b23-562dd7bcbe4c.png)

Box can not find the drag and drop manager in the context:

![image](https://user-images.githubusercontent.com/1898891/405448

[2018-05-25 15:33] mentaman commented on #688
I'm having the same issue.
![image](https://user-images.githubusercontent.com/2057934/40552797-79ffb452-6049-11e8-97c5-844b8f08ba2b.png)
Windows 10 too, 64bit.
My node and yarn are a bit newer than his.

[2018-05-25 15:59] mentaman commented on #688
Ok I found a fix!

Use this:
![image](https://user-images.githubusercontent.com/2057934/40553497-7f7b2982-604b-11e8-95d0-82c5abc242bb.png)

Instead of this:
![image](https://user-images.githubusercontent.com/2057934/40553512-905a0912-604b-11e8-9bfa-ec95e7a22be9.png)

Just changed the react-cosmos-playground/webpack.config,js first rule.
and it builds succesfuly. I'm not sure why does it happen onl

[2018-05-25 16:04] mentaman commented on #688
Later I had another windows issue it seems.. and fixed it too.

I tried to run the

cd examples/context
yarn start

like the
https://github.com/react-cosmos/react-cosmos/blob/master/CONTRIBUTING.md
suggested..

But had errors..
![image](https://user-images.githubusercontent.com/2057934/40554363-25da9522-604e-11e8-983b-3e6268252ae8.png)

It took the linux one instaed of the cmd.
So I changed the pa

[2018-05-25 17:15] skidding commented on #694
@kfern I've not worked with react-dnd before, but you can make it work with these two changes:

Create `src/cosmos.proxies.js`

[code]

In the Box fixture:

[code]

At first I wanted to apply the dnd context globally, without the need of `fixture.ddContext`, but then I realized App already has dnd context applied and there might be some conflicts if you apply it twice. Let me know if you need expl

[2018-05-25 18:18] mentaman opened #695 "Shareable component/ComponentEditor in addition to FixtureEditor"
### What's up?

Right now when working with fixture, you can edit and play with it. But after you're done and you want to copy it to your project, you have to replace this json:

{
component: MyComponent
props: {param: "value"}
}

into this:

 < MyComponent param="value">

It can be annoying when there are many props and less fluent.
It would be useful for exported components, so users can just co

[2018-05-25 19:40] skidding commented on #688
@mentaman Thank for all your notes! I installed a Windows VM and confirm all you reported.

Would you be interested in addressing both issues in one PR? I can test everything on unix (Mac).

## 1. Playground build

This is the fix that I propose. It still targets the `src` dir only but accepts both types of slashes.

[code]

## 2. Start scripts

My takeaway is that npm binaries (`node_modules/.bin

[2018-05-26 06:57] skidding commented on #693
That's true. But React 16 comes with a completely new Context API. So removing the notes that say that the context API is experimental wouldn't be enough. We need to create examples using the new Context API first.

[2018-05-26 07:08] skidding commented on #695
This is very cool!

How about creating a proxy for this instead of putting it in the playground (which is not pluggable yet)?

It's as simple as putting this in `cosmos.proxies.js`

[code]

[2018-05-26 07:54] skidding commented on #688
@mpachin This issue has been fixed. Can you please test latest master on your machine as well?

[2018-05-26 09:15] mentaman commented on #695
Looking good. So you mean it would be a plugin and by default it wont show up?
If someone who is not me would want to use it, how would he do it? Or you think it would not be useful for the rest of the community?

Also from the playground I am able to edit the fixture, and update it with the "onFixtureEditorChange" function, is it possible to do it with a proxy too?
Because I thought about letting

[2018-05-26 09:46] skidding commented on #695
Yes

You can publish your proxy as a package, and others can do

[code]

This is a practice to support options. It can also be just

[code]

Not at the moment. But there will likely be a similar API in the future.

Cool stuff!

[2018-05-30 11:33] begedin opened #698 "Apollo response mock fixtures seem to persist across tests and when switching components"
# What's up?

Apollo mock responses seem to stick around when switching fixtures and between different tests.

# Mkay, tell me more...

I have multiple different components with multiple different fixtures defined for each.

Whenever I try to view a component with a fixture which involves an apollo response (or failure), that fixture seems to persist when I switch to a different component or fixtu

[2018-05-30 14:08] kfern commented on #694
@skidding Thank you. It works perfectly :1st_place_medal:

![image](https://user-images.githubusercontent.com/1898891/40725037-b6d104f8-6422-11e8-939e-05641238e146.png)

[2018-05-30 14:08] #694 closed

[2018-05-30 16:37] skidding commented on #698
Hi @begedin,

I think similar issues have been reported in the past as well with the Apollo proxy. There were also some console errors until recently, which revealed some statefulness, but maybe the underlying problem is still there even if the error disappeared.

Unfortunately I have minimal Apollo experience so I don't have any insight at the moment. Any help getting to the bottom of this would

[2018-06-03 21:20] jozsi commented on #568
HOC/Decorator support has landed in [react-cosmos-wrapper-proxy](https://github.com/jozsi/react-cosmos-wrapper-proxy#hoc) `v1.2.0`

[2018-06-04 05:30] good-idea opened #701 "cosmos-export strips fixture names, breaks some modules"
### What's up?

`cosmos-export` is stripping out the names of the fixtures it finds.

`cosmos`:

![image](https://user-images.githubusercontent.com/11514928/40899291-0a9c96f0-677b-11e8-8a70-5eb4147a8ae7.png)

`cosmos-export`:

![image](https://user-images.githubusercontent.com/11514928/40899301-1801ecfa-677b-11e8-862a-cdd614cb8866.png)

In the exported version, I also see this for some of the comp

[2018-06-04 08:06] begedin commented on #698
@skidding The code there, the fixtureLink especially, seems to basic to be the direct cause. Maybe the problem is in us not understanding how apollo internals work and in some way, the proxy isn't even being hit.

I'll be happy to look into it, but maybe someone with deeper knowledge of apollo itself could do more.

[2018-06-05 01:29] rchamberlin opened #702 "Config for app in separate folder from package.json"
### What's up?

I have an Electron app that uses a two package.json structure.  All of the scripts are in the root of the project, but the app itself lives in ./app, including all of its dependencies (React etc).  Is there a way to set up the config so this will work?  I've tried setting the rootPath to everything I can think of but no luck.  Thanks!

[2018-06-05 06:51] mpachin commented on #688
@skidding Just tested on my win10x64 machine, build works :heart:

[2018-06-05 07:46] skidding commented on #702
Hi @rchamberlin,

Can you point to a repo with this structure? Either your project is public
or you can create a minimal reproducing repo. This way I can debug and see
what the issue is.

On Tue, Jun 5, 2018, 04:29 rchamberlin <notifications@github.com> wrote:

[2018-06-07 02:52] teimurjan opened #703 "You should not use <Link> outside a <Router>"
I faced a problem with creating a fixture for a component which has <Link> but without wrapping with `withRouter`. I have such a component:
[code]

My cosmos.proxies.js looks like:
[code]
And my fixture:
[code]

I also tried:
[code]
When the fixture was:
[code]
None of these methods are working. Everytime I refresh the page I see `You should not use <Link> outside a <Router>`. What do I do wrong?

[2018-06-07 02:57] teimurjan commented on #703
I found out the problem. As I've changed `rootPath` in configs, file with proxies should be in the root folder, not near the config file.

[2018-06-07 02:57] #703 closed

[2018-06-07 08:37] mpachin commented on #703
Faced the same problem since my projects config files placed outside of rootPath.
[Here we can see](https://github.com/react-cosmos/react-cosmos/blob/e70ef0fe9a0cd982b8245ab1ebaceaa0647bbdd3/packages/react-cosmos-config/src/index.js#L117) that proxies taken from `rootPath`/`proxiesPath`.
In case similar with mine:
[code]
you should have config look like this:
[code]
Then proxies path will be resol

[2018-06-07 12:18] JannesV commented on #698
@begedin I've come across this same issue too. I've fixed it by replacing this

[code]

with:

[code]
It seems like apollo doesn't like to get it's link changed once initiated.
Do note this is a quick and easy fix and does not take in account if the user has supplied it's own client.

[2018-06-08 07:38] JannesV commented on #598
This happens to me in non-test context aswell. If I supply a state or change the state in the component itself or in the code window it doesn't seem to update. If I disable the redux proxy however, all seems to work fine.

Passing `disableLocalState` to the redux proxy doesn't work either.

[2018-06-08 09:16] skidding commented on #701
Hi @good-idea,

It seems like the component class/fn names are minified, which results in unintelligible labels inside Cosmos.

Try setting `NODE_ENV=development` when running the export command. It [defaults to "production"](https://github.com/react-cosmos/react-cosmos/blob/4a13b775617a031817008a8611e70db515dc355e/packages/react-cosmos/bin/cosmos-export.js#L4-L5), but it can be overridden.

`null

[2018-06-08 09:19] skidding commented on #568
@jozsi cool stuff!

For the record, I'll be drafting a new Cosmos API that might make the need for this proxy obsolete (sorry 😅), but for the moment it's very useful!

[2018-06-08 12:19] xavczen commented on #698
Creating a new client instead of hardcorely replacing the link is a great move, @JannesV !

[2018-06-10 08:50] linonetwo opened #710 "Fetch proxy only use first matcher's response and matcher can't use RegExp"
### What's up?

Fetch proxy only use first response, and will pass the first response to all fetch request.

[code]
Here `statsData1` is passed to second fetch, so second fetch don't receive `listData1` but `statsData1`.

SO, every fetch in this fixture, will receive `statsData1`. This seems to be a bug.

[2018-06-11 22:25] Izhaki commented on #433
@skidding

Is this the really working for `reduxState`?

With the following fixture:

[code]

And:

[code]
I can't see anything redux or props on the editor:

[code]

[2018-06-12 12:30] skidding commented on #651
Feel free to open other issues for specific questions. Closing this for now because it's too broad to address.

[2018-06-12 12:30] #651 closed

[2018-06-12 12:32] skidding commented on #681
Please post any detailed conflicts with Babel 7 if they exist. Closing this as Babel is not a Cosmos dependency anyway, it's part of the user land and the Cosmos webpack conflict merely picks up babel-loader when it is installed by the user.

[2018-06-12 12:32] #681 closed

[2018-06-12 12:33] #667 closed

[2018-06-12 13:32] dpearceglic commented on #598
I'm seeing the same behavior as @JannesV. If I define both ```state``` and ```reduxState``` in my fixture, local state for the component is not updated even with ```disableLocalState: false``` set in ```createReduxProxy``` in ```cosmos.proxies.js```. I've only been using Cosmos for 24 hours so I may be missing something basic, please forgive me if I am. The silver lining of this issue is that it s

[2018-06-12 15:48] skidding commented on #598
The issue is that Cosmos can only access the outer-most component, which in the case of a Redux connected component is the `connect` decorator. Or some other HoC that the component is also wrapped in.

I'm now thinking of a next-gen API for fixtures that solves this long-standing issue. But atm you can only inject local state if the fixture points to the component with the state, not to a parent w

[2018-06-12 15:50] skidding commented on #598
Side note: This might work already with React 16.3+ if react-redux forwarded the ref. [Relevant thread](https://github.com/reduxjs/react-redux/issues/914#issuecomment-383530758)

[2018-06-12 18:10] skidding commented on #701
I bumped into this as well. Will publish a fix soon!

[2018-06-12 18:41] good-idea commented on #701
Hey @skidding, I tried making an export using `NODE_ENV=development` and that did the trick!

[2018-06-13 06:46] perevezencev opened #715 "Documenting components"
**Feature request**

Do you plan realize feature for document the components, like [docz](https://github.com/pedronauck/docz)?

[2018-06-13 07:55] #701 closed

[2018-06-13 08:32] skidding commented on #710
Hey @linonetwo,

It's possible that your `matcher` values are not working as expected. From the `fetch-mock` docs (we're using v5):

So your URL strings are always evaluated as `true`, which results in the first mock being chosen all the time.

Try this:

[code]

[2018-06-13 08:35] skidding commented on #433
Hey @Izhaki,

The editor only works for serializable values. It looks like your state contains functions (eg. `shouldFire`), which make the whole redux state unserializable and thus hidden from the JSON editor.

This will improve in the mid/distant future, but for the moment you might want to consider making your state serializable, which is a best practice anyway. Anything else can be derived.

[2018-06-13 08:37] #639 closed

[2018-06-13 09:01] skidding commented on #701
Fixed in [4.5.0](https://github.com/react-cosmos/react-cosmos/releases/tag/v4.5.0). No need to manually override the NODE_ENV anymore.

[2018-06-13 09:02] skidding commented on #639
Fixed in [4.5.0](https://github.com/react-cosmos/react-cosmos/releases/tag/v4.5.0). Host is now `null` by default and it will be displayed as a clickable `localhost` link.

[2018-06-13 10:17] Izhaki commented on #433
Indeed this was the issue.

I am soooo happy you've explained that (and also just realised this was mentioned in previous comments).

Thanks!

[2018-06-13 12:31] JannesV commented on #698
@skidding This one can be closed up now I believe.

[2018-06-13 12:32] skidding commented on #698
Yes! 👍

[2018-06-13 12:32] #698 closed

[2018-06-13 17:53] good-idea commented on #701
🙌Thanks!

[2018-06-16 06:25] Pyrolistical opened #719 "Functions on local-state breaks fixture"
### What's up?
When there is a function on `this.state`, react-cosmos crashes.

### Mkay, tell me more...

This works: https://github.com/Pyrolistical/react-cosmos-function-on-state-bug/blob/master/src/index.js#L14
but this does not: https://github.com/Pyrolistical/react-cosmos-function-on-state-bug/blob/master/src/index.js#L31

Demo
![ezgif com-video-to-gif](https://user-images.githubusercontent.

[2018-06-17 05:58] skidding commented on #693
That's right. We need a new proxy. Should be fairly simple, though. Eg. Pass the Provider in the config and the context value in the fixture.

[2018-06-17 06:28] skidding commented on #719
I don't get that warning on my machine. But the fixture editor does indeed not updated. Which is expected at the moment. Please [see this thread](https://github.com/react-cosmos/react-cosmos/issues/433#issuecomment-396859540).

But why would you like to put a handler in the state? Only data that can't be derived should normally be put into the state.

[2018-06-17 06:43] Pyrolistical commented on #719
Mainly because functions on state have access to this and don't need babel-plugin-transform-class-properties

Also I'm one of those weird guys who thinks state = data + actions.

[2018-06-17 15:30] skidding commented on #719
You can also do this in the constructor

[code]

Interesting. I like to think of state as a serializable snapshot which can be persisted offline, and of actions as part of the program code which can transform state on events.

[2018-06-18 10:57] skidding commented on #719
So I've recently learned that putting actions inside state is actually a pattern advocated by the React team, at least when using the new Context API.

I think this issue and #433 should be merged.

[2018-06-19 12:01] extramuros opened #722 "Compatibale with react 16 (enzyme)"
Please, tell me what I can do, to simulate events using react-cosmos, with Enzyme or anything?

I'd tried to use react-cosmos-test package (to simulate events by Enzyme), but I got an error: "Enzyme expects an adapter to be configured, but found none."

Looking for this issue gave me some link: https://github.com/react-cosmos/react-cosmos/pull/467. But I think, that it's out of date.
I`d tried to

[2018-06-19 12:03] skidding commented on #722
Hi @extramuros,

It sounds like you have more buttons. Try logging `getWrapper('button').length` to see if this is the case.

[2018-06-19 12:17] skidding commented on #722
In any case, if you got the Enzyme error it seems like the Cosmos+Enzyme integration is working just fine.

You have to narrow down the selector to a single button. Probably `getWrapper('button:first-child')` would work as a first step.

Learn more about selectors here: http://airbnb.io/enzyme/docs/api/selector.html

[2018-06-19 12:20] extramuros commented on #722
I'm sorry, I didn't tell

[2018-06-19 12:41] extramuros commented on #722
@skidding, thank for reply.

I'd tried, before I wrote the issue, to use getWrapper by id. And I'v repeated with other selectors.
Nothing changes.
I'd logged getWraper with different selectors and all of them had length=0.
Besides, if I comment manually added Enzyme's adapter in my test file, I get an Enzyme's error. I looking for Enzyme's adapter in all my cosmos files installed by npm and have n

[2018-06-19 13:04] skidding commented on #722
Try something like `console.log(getWrapper().html())` to check that Cosmos is rendering what you expect.

[2018-06-19 14:48] extramuros commented on #722
Yes, you are right. As I understand, getWrapper, in my case, is object with only "length" prop, sort of `ReactWrapper { length: 0 }` (it is `console.log(getWrapper('#id'))` result). But I have no idea, what it mean. Because, without Enzyme, react-cosmos-test is worked perfectly for me, I get right snapshots and all.

[2018-06-19 14:52] skidding commented on #722
If you have a public repo I can take a look.

[2018-06-19 15:19] extramuros commented on #722
No, I haven't. But I'm starting to do it (only example of error reproducing). I'll be done tomorrow, I suppose.

[2018-06-20 13:42] extramuros commented on #722
Hi, @skidding
I have prepared example here:
https://github.com/extramuros/cosmos-error-reproducing

[2018-06-20 14:22] extramuros opened #726 "Error babel dependency with create-react-app"
With my first installition of react-cosmos at create-react-app project I've got an error:

I've avoided it by comment:
`require('babel-polyfill');`
in

But i guess, that isn't rigth way. Please, could you fixed it or documented right way of installation for this case?

![firefox_screenshot_2018-06-20t10-51-49 541z](https://user-images.githubusercontent.com/40386068/41663326-d5148d2e-74ab-11e8-831e

[2018-06-21 08:48] skidding commented on #722
@extramuros the component doesn't render in Jest because `Errors` [returns null](https://github.com/extramuros/cosmos-error-reproducing/blob/3ee7d8bf4f953c9c45ac2485e40db2364c15d768/src/components/auxiliary/errors.jsx#L26). The Cosmos UI works because `DEBUG` somehow ends up being true in the client bundle, yet it's not defined in Jest environment. Not sure what the purpose of the Errors component

[2018-06-21 09:06] skidding commented on #726
This is a bug. An oversight of #656.

At the time it seemed like a good idea but I failed to recognize that the user bundle should be as unopinionated as possible. The fetch polyfill in `react-cosmos-playground` was a good idea, as that is already bundled when it reaches the user. But the polyfilling in `loader-entry` (which is synonym with "user entry") should be reverted. It's up to the user to

[2018-06-21 09:42] extramuros commented on #722
I need to inspect it again, something is broken at my side. Now snapshots also returns null. I guess, there's no issue. I'm sorry for your time.

[2018-06-21 09:42] #722 closed

[2018-06-21 10:06] callumlocke opened #727 "Setting root container styles for an individual fixture?"
It's possible to define global `#root` styles via `containerQuerySelector`, but I often find myself wanting to style the root container **per fixture**. Does react-cosmos offer any method or convention for doing this?

Use cases:

- Showing 100%-wide components in a container that constrains the width, so they don't look [weird/disproportionate](https://react-cosmos.github.io/?component=Tetromino&

[2018-06-21 10:18] skidding commented on #727
This is being [worked on](https://github.com/react-cosmos/react-cosmos/pull/539) and I suspect will be released soon.

For the rest you can create a custom proxy and customize its CSS via custom fixture attrs.

Here's an example:

[code]

If you add this to your `cosmos.proxies` file then you'll be able to pass container style under `fixture.containerStyles`.

This is rudimentary, but I think from

[2018-06-21 10:53] extramuros commented on #726
As for me, I have no expirience for that. If I would have a time, I'll tried. But not for this weekend.

[2018-06-21 13:41] bslipek opened #729 "Router proxy makes lost sync between mock state from fixture and component state"
Hi guys! We just start working with react-cosmos and the first impression is great!
However, we have a small issue.

![components_withrouter_counter__counter_ _react_cosmos](https://user-images.githubusercontent.com/2363946/41722441-e219346c-7568-11e8-9b1f-6ac0b95c4b11.png)

So we have component that need router, so `export default withRouter(Counter);`
We used `react-cosmos-router-proxy` and conf

[2018-06-21 14:28] #546 closed

[2018-06-21 14:31] skidding commented on #546
Closing this as it served its purpose.

Taking a more minimal approach going forward. A basic roadmap and more tasks-specific bullet points are tracked inside [TODO.md](https://github.com/react-cosmos/react-cosmos/blob/master/TODO.md), a technique I found quite enjoyable lately---keeping my TODOs in my code editor that is.

For anyone listening, here's a few things that changed since I composed th

[2018-06-21 14:43] skidding commented on #729
Hi @bslipek,

Fixture state doesn't work on connected components. Technically speaking, Cosmos injects state in the exported component and can't (easily) access the inner component that holds the state.

I am planning a big Cosmos change that will enable this, but realistically speaking that will come "sometime this summer".

There are still a few things you could do:

1. Export the raw component

[2018-06-22 07:08] bslipek commented on #729
@skidding thank you!

[2018-06-22 07:08] #729 closed

[2018-06-23 19:06] callumlocke opened #731 "How to await for async state updates (via setState)?"
Thanks for writing this amazing tool.

After reading the docs on [capturing state changes](https://github.com/react-cosmos/react-cosmos#capturing-state-changes) in headless tests, I've managed to use `get('state')` to check if my component's state got updated after a simulated change event, using `.simulate('change')`. I'm using the bundled enzyme adaptor.

But in my component's handler, I'm using

[2018-06-25 15:12] skidding commented on #731
Hi @callumlocke,

I recommend using [async-await](https://github.com/skidding/async-until). I do stuff like:

[code]

Which also doubles as an assertion. If it times out you'll get a failed test with a customizable error message.

[2018-06-25 23:28] richarddequeker opened #733 "Something is breaking my webpack build"
Hey!
I don't know what i'm doing wrong...

This is my webpack config file:

[code]
My terminal say webpack built <webpack_build_id> in 13895ms but Something is breaking the webpack build :/

i'm affraid it can be the webpack.resolve.alias ...  check [here](https://webpack.js.org/configuration/resolve/)

Did i forget something?

Otherwise, can we load specific config from multiple config file?
In w

[2018-06-26 07:32] richarddequeker commented on #733
OK it's my fault I forgot to include html-webpack-plugin [see](https://github.com/jantimon/html-webpack-plugin)

[2018-06-26 07:32] #733 closed

[2018-06-27 16:13] #710 closed

[2018-06-28 08:50] callumlocke commented on #636
@skidding Up for PR'ing this into react-cosmos as a new package?

[2018-06-28 08:52] callumlocke commented on #636
@skidding I vote for adding this to react-cosmos officially!

[2018-06-28 11:22] callumlocke commented on #727
Awesome, thanks. After reading your reply and investigating proxies more, I found [react-cosmos-wrapper-proxy](https://github.com/jozsi/react-cosmos-wrapper-proxy) also works well for this, if you want to create an actual wrapper component with more than just styles. This is very flexible and I'm happy to go with this approach.

[2018-06-28 11:22] #727 closed

[2018-07-05 09:12] mitsuishihidemi opened #743 "webpack error"
### What's up?
Hi,

I am updating the react-cosmos for the latest version, but I got an error and it is not being displayed on the terminal. Can you help me?

Thanks

<img width="1440" alt="screen shot 2018-07-05 at 11 10 26" src="https://user-images.githubusercontent.com/3091890/42313938-32eb876a-8044-11e8-8545-d898a0d1be94.png">

This is my webpack.config.js

[code]

[2018-07-05 10:17] skidding commented on #743
Hi @mitsuishihidemi, can you also check the browser console for errors? Thanks!

[2018-07-05 10:19] skidding commented on #743
Also, what is the current version (can be stable or beta)? And what version was previously working for you?

[2018-07-05 12:09] mitsuishihidemi commented on #743
I was using 3.7.1 and moved to 4.5.0

<img width="1440" alt="screen shot 2018-07-05 at 14 04 34" src="https://user-images.githubusercontent.com/3091890/42322368-739425d4-805c-11e8-9a02-bd9cd3ad559c.png">

[2018-07-05 12:11] mitsuishihidemi commented on #743
here is my cosmos.config.js
module.exports = {
    fileMatch: ['**/src/demo/fixtures/**/*.js'],

    globalImports: [
        'node_modules/github-markdown-css/github-markdown.css',
        'node_modules/prismjs/themes/prism-okaidia.css',
        'node_modules/react-widgets/dist/css/react-widgets.css',
        'src/demo/index.css',
        'src/demo/index.js',
    ],

    proxiesPath: './redux-pro

[2018-07-05 15:30] skidding commented on #743
Can you please tell me your webpack version as well? If you can share your full list of package.json dependencies/devDependencies even better.

[2018-07-06 07:15] jeznag opened #744 "Possible to do shallow rendering?"
### What's up?
Cosmos seems really cool! I need to test context and it's doing that perfectly.

One thing I'm wondering about is the possibility of doing shallow rendering. Not sure if that's completely taboo in the cosmos ecosystem? My motivation is I want to test one of my containers. I've got that working with a snapshot test but the snapshot is massive because it includes all of the child comp

[2018-07-06 10:33] skidding commented on #744
Hi @jeznag,

Not out of the box, but it's possible. By changing [one line](https://github.com/react-cosmos/react-cosmos/blob/eb016f6be28b2134cb4264ec70266cf18ff4b7d8/packages/react-cosmos-test/src/enzyme.js#L40) you could pass the shallow renderer to Cosmos.

The main issue with shallow rendering, and why I went with mounting by default, is that the component you're testing is usually decorated by

[2018-07-06 13:55] skidding commented on #743
It seems like you're using an older webpack version (pre v4), because you're using `module.loaders`. So I need your exact webpack version to replicate your setup.

Even better if you can provide a public repository that reproduces this issue!

[2018-07-06 17:20] #566 closed

[2018-07-07 10:17] skidding commented on #566
@rhysforyou you can use @maxsalven's feature from #745 starting with version `4.6.0-2`.

[2018-07-10 16:21] vitkon opened #752 "support cosmos.proxies.ts"
**What's up?**
cosmos.proxies.ts  doesn't seem to be bundled with Typescript

**Mkay, tell me more...**
Are there plans to include it in the roadmap?

[2018-07-11 07:49] mitsuishihidemi commented on #743
Hi,

I am using webpack 3.0.0

[code]

[2018-07-12 07:01] SimeonC commented on #213
For the others that find this issue I thought I'd share my custom emotion based proxy for doing this.

[code]

[code]

[2018-07-12 13:44] ktunkiewicz opened #753 "Add to readme a more precise info about using custom webpack"
**What's up?**
In situation where react-cosmos is to be used with existing webpack config it is really not straightforward how to do this. Or am I doing it wrong?

**Mkay, tell me more...**
I have a fairly complicated webpack that loads a whole ton of module rules, plugins, aliases etc. and I simply cannot use the default Cosmos' webpack config.

My main webpack.config.js spits out multiple config

[2018-07-12 15:18] skidding commented on #753
This shouldn't be the case. This is a bug that has been reported a few times lately, so I'm really interested in tracking it down.

The webpack config should be enhanced, like your say, regardless of being the default or a custom one.

Can you provide a public repository that reproduces this? It would be of great help and I'll make sure to find a fix and publish it in a few days.

Thanks!

[2018-07-13 12:13] #753 closed

[2018-07-13 12:16] skidding commented on #752
@vitkon did you try setting `proxiesPath: './cosmos.proxies.ts'` in your Cosmos config?

[2018-07-13 13:37] skidding commented on #753
@ktunkiewicz can you please try `react-cosmos@4.6.0-3`?

`html-webpack-plugin` should be added automatically to your custom webpack config now.

[2018-07-13 13:41] skidding commented on #743
I tried to reproduce your issue but I get this build error

And I'm not up to date with Babel 7 yet (which is still beta). Unfortunately I can't spend more time debugging like this. If you have a public repo that reproduces this issue I'll be able to understand it and come up with a solution.

But if we're lucky this issue is already fixed. Can you try installing `react-cosmos@4.6.0-3` and see if

[2018-07-13 14:29] mitsuishihidemi commented on #743
Thanks for your help, I will try with the latest version of react-cosmos, and if does not work I will set a public repo for you.

[2018-07-14 11:06] skidding commented on #213
@SimoneC we can put your proxy in this list if you're interested in publiahing it.

[2018-07-14 15:39] skidding commented on #636
Added a link to the proxy above for now https://github.com/react-cosmos/react-cosmos/blob/master/README.md#more-proxies

[2018-07-14 15:39] #636 closed

[2018-07-16 09:40] #752 closed

[2018-07-17 06:12] SimeonC commented on #213
@skidding PR and package created! 😄
So to update my example above with the `react-cosmos-background-proxy` package I published would be:

[code]

[2018-07-17 07:49] skidding commented on #486
The cosmos config is read on the server side and isn't processed by webpack loaders. It needs to be Node compatible, similar to `webpack.config.js`.

Not sure that has anything to do with Cosmos, which relies on the user's webpack and Babel configuration. But if you can provide a reproducing repo I'll gladly inspect it.

[2018-07-17 07:56] skidding commented on #213
Yay @SimeonC!

Merged.

Maybe put [this line](https://github.com/SimeonC/react-cosmos-background-proxy/blob/dbd9dadde147381c45df637945c4056af4cdd1e7/src/index.jsx#L9) outside the component's render function to only call it once?

Also, the proxy seems to work great if you always want a background color. But since it doesn't do cleanup I think you'll get the last fixture's background color on a fix

[2018-07-17 08:17] SimeonC commented on #213
Ohhh, didn't think about cleanup. I kind of assumed the iframe was rebuilt every time.
Thanks for the tips, I'll make some improvements!

[2018-07-17 09:22] jeznag commented on #744
Makes sense :)

[2018-07-17 09:22] #744 closed

[2018-07-17 09:28] jeznag opened #757 "Mocking apollo InMemoryCache not working"
### What's wrong?
I'm trying to use the apollo proxy for a unit test.
I'm getting the below error triggered when my code tries to read from the Apollo InMemoryCache

[code]

Here is the updateCache method (that gets called when the mutation is triggered). The error occurs at `cache.readQuery` (there is no problem when I run the app).
[code]

[code]

### Steps to reproduce

This is my fixture:
[cod

[2018-07-17 09:34] SimeonC commented on #213
I've updated it to fix both issues you mentioned.
I did try using an absolute div, but that caused some issues with some of my components using flexbox and occasionally I'd get the checkered background showing below the fixture content.
Applying it to body ended up being the least destructive and most consistent solution.

[2018-07-17 10:07] skidding commented on #213
Good stuff, thanks!

[2018-07-17 13:37] extramuros commented on #722
@skidding, thank you for feedback. I had returned for working on tests and found my mystake in `Errors` component. Your was right. Everything works perfectly now.

[2018-07-18 05:13] ericyip opened #758 "react-cosmos-test in react-native requires react-dom"
### What's wrong?
`react-cosmos-loader` requires `react-dom`.
I temporarily install `react-dom` to resolve it.

### Steps to reproduce

followed the react-native instructions
[code]

[2018-07-18 05:37] ericyip commented on #758
aww.. I forget to upgrade `4.6.0-3`

[2018-07-18 05:37] #758 closed

[2018-07-18 11:55] #726 closed

[2018-07-19 03:12] SimeonC commented on #693
I think this is the kind of thing that you have to customise per context.
Here's an example of how I do it https://gist.github.com/SimeonC/0a4e21c0e5406d28bdde4d824986279f

As a full solution, the proxy constructor would probably end up like taking a map of `key:Provider`.
Not sure how much time I have in the foreseeable future to run this up as a PR so probably a good one for someone else to do 😜

[2018-07-19 07:07] skidding commented on #693
Good idea!

[2018-07-20 23:17] sdgandhi opened #763 "Unable to mock out props added by mapDispatchToProps"
### Unable to mock out props added by mapDispatchToProps

I'm using react-redux and have mocked out the state part of redux using react-cosmos. However, I'm unable to mock out the actions added by `mapDispatchToProps` by setting them in the fixture.

### Steps to reproduce

1.  Create fixture for component that uses redux state, but also dispatches actions via `mapDispatchToProps` and the `connect

[2018-07-21 09:02] prashant-andani opened #765 "Ability to configure fixture editor theme"
### **Feature**
Ability to configure Code Mirror theme from cosmos.config.js

In the current implementation, As far as I know, there is no way we can customize the Code Mirror theme.

### **Implementation Details**
We can provide a way for the user to set a theme for the Fixture Editor in cosmos.config.js
something like
[code]

[2018-07-23 02:24] zach-albia opened #766 "How to write a Next.js router proxy?"
A proxy is already available for react-router but missing out-of-the-box for next.js' built-in router. I've tried using [react-cosmos-wrapper-proxy](https://github.com/jozsi/react-cosmos-wrapper-proxy) and fiddled around with wrapping my component with next.js `<Container>` but that didn't do it.

Just to get a component working on cosmos that uses next's `<Link>`, I've had to mock out the router

[2018-07-23 04:32] Planckit commented on #242
Using es6 import export in webpack.config.js or webpack.config.babel.js isn`t working.

react-cosmos@4.5.0
webpack@4.15.1

Get **SyntaxError: Unexpected token export**
with es6 export in cosmos.config.js
[code]

or without es6 in config **SyntaxError: Unexpected token import** in webpack.config.babel.js

[2018-07-23 17:22] skidding commented on #242
Hi @Planckit,

Cosmos changed a bit since 2016 and this issue is misleading because reverted what was implemented in this issue down the road.

The config files are from by Node natively. So if your local Node version supports ES modules it will work, otherwise you'll get the error you referenced.

If you want to use Babel features in your configs you can run Cosmso with `babel-node`. We do this i

[2018-07-23 17:36] skidding commented on #766
@zach-albia You're pretty close to viable solution. It seems the Next.js Links [call a global Router singleton](https://github.com/zeit/next.js/blob/b1222962f02b82c81f4dfe18c2ca72b497d16f0b/lib/link.js#L96). So I believe overriding [Router/router](https://github.com/zeit/next.js/blob/b1222962f02b82c81f4dfe18c2ca72b497d16f0b/lib/router/index.js#L6) is the way to go.

Here's a (untested) draft of wh

[2018-07-23 17:44] skidding commented on #763
Hi @sdgandhi,

Note that when you wrap a component with Redux's `connect`, you're no longer exporting your component, but a "higher order component" that implicity renders your component with some props derived from various the global Redux store.

In React, you can only set the props of the top component you're rendering, the rest derive their props from their parent component, in cascading fashi

[2018-07-23 17:52] sdgandhi commented on #763
@skidding I'd love to use the first option, but I can't find how to set the mocked dispatch props in the redux state in the fixture. I tried something like this:

[code]

[2018-07-23 19:47] skidding commented on #763
@sdgandhi Could you share a broader example of what you'd like to achieve? I don't quite understand what you mean. Thanks!

[2018-07-23 19:50] skidding commented on #763
I read your initial post again and maybe, you want a way to stub the `dispatch` calls from inside the component, to avoid calling the actual action functions?

[2018-07-23 20:08] skidding commented on #757
@xavczen Do you have any thoughts on this? Unfortunately I don't have knowledge into Apollo's InMemoryCache API. Thanks!

[2018-07-23 22:55] Planckit commented on #242
Please Reopen

[2018-07-23 23:03] Planckit commented on #242
Tested under
Node@10.7.0 <- latest at 24.07.18

[code]

Some suggestions on how to use webpack.config.js (webpack.config.babel.js) with es6 import?

[2018-07-23 23:07] skidding commented on #763
Well I'd say that the point of the redux proxy is to allow real dispatch functions to be called and not have to mock them. This leads to less time writing tests and, most importantly, tests cover more code paths than if everything was mocked, and thus less in touch with how to app runs in real life.

Is there a reason why having the real dispatch functions run bothers you?

[2018-07-23 23:14] skidding commented on #242
Yes, I just said "If you want to use Babel features in your configs you can run Cosmos with babel-node. We do this in the monorepo"

So in your package.json scripts, provided you have [babel-node](https://babeljs.io/docs/en/babel-cli#babel-node) installed in your project, you can change this:

[code]

ES Modules might be available in `10.7`, but they're experimental and need to be [enabled via a f

[2018-07-24 09:12] TheImpressionist opened #767 "Can't import relative paths"
### What's wrong?

Cosmos won't seem to recognise modules with relative paths. I cannot import `import Component from '../'` in fixtures without adding `../index.tsx`

I have extended the default cosmos config as per example with the following

[code]

The error given:

[code]

Am I being thick or is it some setup where I'm required to show the exact name of the file I'm referring to?

The solutio

[2018-07-24 09:16] TheImpressionist commented on #767
The answer is the following:

I'm super thick and forgot to include:

[code]

[2018-07-24 09:16] #767 closed

[2018-07-24 15:09] xavczen commented on #757
🤔 it looks good, I don't see what would be wrong.

To figure out what is going on, could you `console.log` the content of the cache before reading it in the `update` function with `JSON.stringify(cache.extract())` and tell us what's inside?

A minimal reproduction on a repo would be awesome 🙏

[2018-07-25 01:51] zach-albia commented on #766
Interesting, I'll try it out. I wonder if we can provide `Router.router` our own test instance of an actual next.js router so we can use our actual pages. I'll try to see where I can take that idea. I'm also hoping someone with some knowledge of next.js' internals can chime in.

[2018-07-25 02:46] zach-albia commented on #766
Interesting, I'll try it out. I wonder how we can make a suitable mock. I'll try to see what I can do on that front. I'm also hoping someone with some knowledge of next.js' internals can chime in.

[2018-07-25 10:44] SimeonC commented on #693
I've updated the gist with that idea - @skidding feel free to add this to react-cosmos, I'd create a PR but a bit short on time and not sure where you want it. I don't think it'd make much sense to make this an external proxy as context is kinda core to react.

[2018-07-25 10:50] jeznag commented on #757
@xavczen I've set up a minimal reproduction here: https://github.com/COzero/cosmos-apollo-test

I tried logging the cache. It seems to only contain the data for the mutation but not the original query.
[code]

[2018-07-25 12:15] xavczen commented on #757
Part of the problem
---
In the context of this fixture, the cache has never been filled with the result of a `getAvailableOptions` query, you can write manually result in the cache but this query is not watched.

My assumption is that the caches loose this data written manually when the mutation result is written in the cache ("query watching invalidation"?)

In addition to that, Apollo Client wil

[2018-07-25 12:15] #757 closed

[2018-07-25 15:55] skidding commented on #693
Looks pretty good to me!

Here what I'm thinking: To be able to release it under a minor version, we add the new proxy under a new [entry point](https://github.com/react-cosmos/react-cosmos/blob/ca53b2fcbc709cf2270a846ca73157ae0ca06d9d/CONTRIBUTING.md#compiled-vs-source-code) in the existing package. Eg. `react-cosmos-context-proxy/new`.

And in the next major version we swap entry points, exporti

[2018-07-25 15:57] skidding commented on #757
Many thanks @xavczen! 👏

[2018-07-25 19:04] sdgandhi commented on #763
So I've separated my UI tests (with cosmos) from unit tests (with jest). So I *only* want to test the UI component without having to worry about the rest of my redux stack.

Additionally, since by using redux-thunk, my redux dispatch calls out to external services and loads data from them. I would rather that not happen when testing UI in cosmos.

Perhaps I'm not understanding redux proxy. I was u

[2018-07-25 19:19] skidding commented on #763
This is also fine. Definitely simpler.

XHR or Fetch requests can also be mocked in Cosmos, in case you want to go down this road in the future.

Not quite. The purpose of the Redux proxy is so that all Redux side effects _do_ occur outside your component, just as they would in a the entire app, except you're focusing on a single component. It's more tedious, but once set up can give you more conf

[2018-07-25 21:33] sdgandhi commented on #763
Ah yes I remember reading that now. This is a great option for "integration" level UI tests when you're testing on the level of the app. But I can just run my app fully to test this anyways. However, for "unit" level tests for the UI, I still think I need a way to mock the dispatch calls.

Practically I would love to do the following:
[code]

[2018-07-25 22:48] jeznag commented on #757
Thanks @xavczen! Would it be worth adding an example like this to the docs? I can submit a PR if so. I can't see any examples of tests in there, only fixtures.

[2018-07-26 05:20] xavczen commented on #757
Oh yeah please do!

[2018-07-27 13:21] skidding commented on #763
I understand, but it's not possible. 😅

A React app is a tree of component, all derived from the root one. Each component converts their props into props for their children. You can't run your code and also interfere with this relationship.

If you want to control the props a component gives to one of its children (`connect` to the wrapped component in your case), you take the parent component out

[2018-07-27 13:22] skidding commented on #763
I'll close this for now. Hope you got started one way or another, and feel free to open other threads.

[2018-07-27 13:22] #763 closed

[2018-07-28 17:51] shahkashani commented on #639
Amazing, thank you so much!

[2018-07-30 20:51] TwFlem opened #774 "React Native cannot resolve fixture."
### What's wrong?
When making a fixture under __fixtures__, the path generated in cosmos.modules.js cannot be resolved.

A clear and concise description of what the bug is.
The metro bundler cannot resolve the path generated in cosmos.modules.js.

"error: bundling failed: Error: Unable to resolve module... Indeed, none of these files exist:"

However, the files clearly exist.

### Steps to reprodu

[2018-07-30 20:59] skidding commented on #774
Hi @TwFlem,

I ran into this as well. Have you seen this? https://github.com/react-cosmos/react-cosmos/commit/816cb94ff21449b9902cab22191f52c6eca9ba7b?short_path=04c6e90#diff-04c6e90faac2675aa89e2176d2eec7d8

[2018-07-31 07:00] tdelang opened #775 "Cosmos not recognizing paths set in tsconfig"
In tsconfig I have something like
[code]

In my components I use imports like

`import { ProfileMenu } from '@components/profile-menu/ProfileMenu';`

When I run cosmos, I get

[code]

How can I have Cosmos understand where to find `@components`?

My config is:

[code]

[2018-07-31 08:06] skidding commented on #775
Hi @tdelang,

Well, how does your app understand where to find `@components`?

Maybe your webpack config isn't loaded properly, as `webpackConfigPath` should be a relative path. Eg. `'./config/webpack.config.dev.js'`or `'config/webpack.config.dev.js'`. A path that begins `/` will likely be resolved from the root of your file system.

If your existing webpack config is loaded successfully by Cosmos

[2018-07-31 09:18] tdelang commented on #775
That was it, thank you!

[2018-07-31 09:18] #775 closed

[2018-07-31 19:17] shahkashani opened #777 "Relative publicPath doesn't work"
### What's wrong?

We ran into some `cosmos-export` issues with the default options. Essentially, `loaderUri` is set to `/loader.html` in the markup, but we're exporting Cosmos into a folder that gets served on gh-pages, and for this to work, we need the loader URL to be relative to the export folder.

Configuring `publicUrl` to be `'./'` in `cosmos.config.js` fixes the exported Cosmos version (`c

[2018-08-01 12:59] skidding commented on #777
Just published a fix. Please try `4.6.3` and see if it works as expected.

Keep `publicUrl: './'` in your config. I thought about making it the default, but decided against it as it can cause errors for other users.

[2018-08-01 18:03] shahkashani commented on #777
Wow, you guys rule. Thanks so much for the extremely quick fix! This seems to do the trick.

[2018-08-01 18:49] skidding commented on #777
You're welcome!

[2018-08-01 18:49] #777 closed

[2018-08-03 14:06] skidding commented on #774
@TwFlem any luck?

You hate to options:
1. Whitelist `__fixtures__` in React Native
2. [Configure Cosmos to use a different file pattern via `fileMatch`](https://github.com/react-cosmos/react-cosmos#custom-fixture-paths)

[2018-08-03 14:07] skidding commented on #743
@mitsuishihidemi Any luck? Let's close this issue if you managed to get Cosmos working.

[2018-08-03 14:08] skidding commented on #702
@rchamberlin Did you manage to get Cosmos working?

[2018-08-03 19:32] TwFlem commented on #774
@skidding Hey, I did not see 816cb94. I'm good to go. Thank you.

[2018-08-03 19:32] #774 closed

[2018-08-07 11:05] jeznag opened #783 "documentation request: accessing apollo cache from test"
### What's up?
I'm trying to figure out how to access the apollo cache when I've mocked it using cosmos. I assumed I could use the `get` helper but that doesn't seem to work properly. It just returns the value that I set in the fixture.

e.g.

[code]

There's probably a way to achieve this but I'm not sure how. Can we add documentation to explain it?

[2018-08-07 17:13] dpehrson commented on #654
Is this required just to simulate loading? I finally got a chance to wire up the apollo proxy and it's amazing how well it works. The only issue we found was that it doesn't appear that you can simulate (and pin) the loading state of the data.

From what I see it renders once with `data.loading` set to true from the fixture, but almost immediately re-renders with it set to false.

I wanted to open

[2018-08-08 07:50] skidding opened #786 "Speed up monorepo development"
### What's up?

The RC monorepo has accumulated a lot of bloat over time. Simple operations like `yarn` or `yarn upgrade-interactive` can now take up to a few minutes. This is unproductive and frustrating.

![screenshot 2018-08-08 10 06 53](https://user-images.githubusercontent.com/250750/43823156-d81ae060-9af6-11e8-87a9-1eac64e5f22b.png)

On top of the time loss, there are also a lot of package w